p{
  font: normal normal .875em/1.3em "Berling";
  margin: 0;
  text-indent: 1.5em;
}

.no-indent{
  text-indent: 0;
}

.bosluk{
  margin: 2em auto;
  border: none;
}

.si-noteref{
  text-decoration: none;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
  margin:4em 0 1em;
}
.si-backref{
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote{
  font-family: Gill;
  font-size: .8em;
  margin-bottom: .25em;
}


/*Biography*/

.biography p,.books p{
  font: normal normal .75em/1.5em "Gill";
  margin: 0;
}

.s-margin{
  margin-top: 5em;
}

/*Copyright*/

.c1-margin{
  margin: 2em auto 5em auto;
}

.copyright-page p{
  font: normal normal .75em "Gill";
  margin: 0;
  text-indent: 0;
}

.copyright-page a{
  vertical-align: baseline;
  font-size: 1em;
  text-decoration: none;
}

/*Titlepage*/

.titlepage{
  text-align: center;
}

.titlepage p{
  text-indent: 0;
}

.t-1{
  font: normal normal 2.083em "Goudy";
  margin: 2em auto .5em auto;
}

.t-2{
  font: normal normal 2.5em "Goudy";
  margin: 0em auto 3em auto;
}

.t-3{
  font: normal normal .93em "Gill";
  margin: 0 auto 2em auto;
}

.t-4{
  font: normal normal 1.041em "Gill";
  margin: 0 auto 2em auto;
}

.t-5{
  font: normal normal .83em "Gill";
  margin: 0 auto .5em auto;
}

.t-6{
  font: normal normal 1em "Gill";
  margin: 0 auto 2em auto;
}

.first-big{
  font-size: 1.2em;
}

.logo{
  margin: 3em auto 0 auto;
}

/*Cover*/

.kapak img{
  max-width: 100%;
}
.kapak{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
