p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;line-height:115%;text-align:center;margin-bottom:1em}
.p2{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p3{text-indent:0;line-height:115%;text-align:left;margin-bottom:1em}
.p4{text-indent:0;text-align:center}
.p5{text-indent:0;line-height:115%;text-align:center;page-break-after:avoid;margin-top:2.4em;margin-bottom:0}
.p6{text-indent:0;margin-left:1em;text-align:left;margin-top:.6em;margin-bottom:0}
.p7{text-indent:0;text-align:center;margin-top:.6em}
.p8{text-indent:0;margin-bottom:0}
.p10{text-indent:0;text-align:right}
.p11{text-indent:0;margin-left:2.8em;line-height:115%;margin-right:2.8em}
.p12{text-indent:0;text-align:left}
.p13{text-indent:0;text-align:right;margin-bottom:0}
.p14{text-indent:-.99em;margin-left:.99em;line-height:100%;margin-bottom:.2em}
.p15{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2.5em;margin-bottom:2.5em;font-family:Cambria,serif;font-size:109%;font-weight:bold;font-style:italic}
.h21{text-indent:0}
.t2{font-size:2.8em;line-height:115%}
.t3{font-size:4.8em;line-height:100%}
.t4{font-size:2.2em;line-height:100%}
.t5{font-size:3.6em;line-height:100%;font-weight:bold}
.t6{font-size:2.2em;line-height:115%}
.t7{font-size:.8em;line-height:120%}
.t9{font-size:1.4em;line-height:115%;font-weight:bold;color:#365f91}
.t10{font-family:Calibri,sans-serif;font-style:italic}
.t11{font-family:Calibri,sans-serif;font-size:1.1em;line-height:120%}
.t12{font-size:1.2em;line-height:120%;font-weight:bold}
.t13{font-size:1.4em;line-height:115%;font-weight:bold;font-style:italic}
.t14{font-style:italic}
.t15{font-size:.1em;line-height:115%}
.t16{font-family:"Times New Roman",serif;font-style:italic}
.t17{font-size:.9em;line-height:115%}
.t18{font-size:.9em;line-height:115%;font-style:italic}
.t19{letter-spacing:-.01em}
.t20{font-size:.65em;line-height:120%;vertical-align:super;letter-spacing:-.015em}
.t21{font-size:.65em;line-height:120%;vertical-align:super}
.t22{font-size:.52em;line-height:100%;vertical-align:super}
.t23{font-size:.8em;line-height:100%}
.t24{font-size:.8em;line-height:100%;font-style:italic}
.t25{font-size:.8em;line-height:100%;letter-spacing:-.013em}
.t26{font-size:.8em;line-height:100%;font-style:italic;letter-spacing:-.013em}