h1 {
  font-size: 300%;
  text-align: center;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
p {
  text-indent: 1em;
  text-align: justify;
}
.buyuk {
  font-size: 150%;
}
.kucuk {
  font-size: 75%;
}
#clearfooter {
  height: 100px;
}
#footer {
  text-align: center;
  height: 40px;
  padding-top: 100px;
  margin: -100px auto 0 auto;
}
.indented {
  text-indent: 4em;
  text-align: justify;
}
table {
  margin: 0 auto;
}
