.block {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block1 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block2 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block3 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block4 {
    display: block;
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block5 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block6 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block7 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block8 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block9 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block10 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 6pt
    }
.calibre {
    color: black;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 209pt;
    width: 137pt
    }
.calibre2 {
    font-size: 0.875em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    font-size: 1em;
    line-height: 1.2
    }
.calibre6 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre7 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 0.85714em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.text {
    font-family: "LinLibertineOI", serif;
    font-size: 1.125em;
    line-height: 1.2
    }
.text1 {
    font-family: "Verdana", sans-serif;
    font-variant: small-caps
    }
.text2 {
    font-family: "Arial", sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    vertical-align: super
    }
.text3 {
    font-family: "Arial", sans-serif
    }
.text4 {
    font-family: "Verdana", sans-serif
    }
h1
{
text-align:center;
Font-size:1em;
}
p{
text-align:justify;
text-indent:1.5em;
}