p {
  text-indent: 1em;
  text-align: justify;
}
h1 {
  font-size: 300%;
  text-align: center;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
span.buyuk {
  font-size: 150%;
}
#clearfooter {
  height: 100px;
}
#footer {
  text-align: center;
  height: 40px;
  padding-top: 100px;
  margin: -100px auto 0 auto;
}
td {
  padding: 0px;
height:1px;
}
span.royalArtis {
  font-size: 125%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
span.sinemaArtis {
  font-size: 125%;
  font-family: Tahoma, Geneva, sans-serif;
}

.YemekGrubu {
text-align: center;
  font-size: 110%;
  font-family: Impact, Charcoal, sans-serif;
font-style:italic;

}
.YemekAdi {
margin:0;
  font-family: Verdana, Geneva, sans-serif;
font-style:italic;
font-weight:bold;
}
span.Menu {
  font-size: 110%;
  font-family: Impact, Charcoal, sans-serif;
}

div.telgraf {
  font-family: "Courier New", Courier, monospace;
}
.darCenter{
margin:0;
text-align:center;
}
.dar
{
#margin:0;
#margin-top:0.0001pt;
margin-bottom:0.0001pt;
}