.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-family: "Book Antiqua", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre2 {
  display: block;
}
.calibre3 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre4 {
  display: block;
}
.calibre5 {
  font-family: "Book Antiqua", "serif";
  line-height: 1.2;
}
.calibre6 {
  line-height: 1.2;
}
.calibre7 {
 
  display: none;
  line-height: 1.2;
  text-decoration: none;
}
.calibre8 {
  font-family: "Book Antiqua", "serif";
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre9 {
  height: 361px;
  width: 221px;
}
.calibre10 {
  text-decoration: underline;
}
.calibre11 {
  font-weight: bold;
}
.calibre12 {
  text-decoration: none;
}
.calibre13 {
  height: 131px;
  width: 190px;
}
.calibre14 {
  font-size: 0.88889em;
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre15 {
  height: 158px;
  width: 190px;
}
.calibre16 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre17 {
  height: 175px;
  width: 190px;
}
.calibre18 {
  font-style: italic;
}
.calibre19 {
  height: 140px;
  width: 283px;
}
.calibre20 {
  height: 252px;
  width: 165px;
}
.calibre21 {
  height: 194px;
  width: 223px;
}
.calibre22 {
  height: 263px;
  width: 186px;
}
.calibre23 {
  height: 174px;
  width: 210px;
}
.calibre24 {
  height: 161px;
  width: 279px;
}
.calibre25 {
  border-bottom: 0;
  
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre26 {
  background: silver;
  font-family: "Segoe Print";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre27 {
  font-family: "Segoe Print";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre28 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre29 {
  line-height: 1.2;
  text-decoration: underline;
}
.calibre30 {
  font-family: "Book Antiqua", "serif";
  font-size: 0.72727em;
  font-weight: normal;
  line-height: 1.2;
}
.calibre31 {
  font-size: 0.72727em;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 1.2;
}
.calibre32 {
  height: 168px;
  width: 193px;
}
.calibre33 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0 0 0 35.4pt;
}
.calibre34 {
  height: 182px;
  width: 198px;
}
.calibre35 {
  height: 177px;
  width: 161px;
}
.calibre36 {
  height: 147px;
  width: 177px;
}
.calibre37 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 35.4pt;
  margin: 0;
}
.calibre38 {
  height: 176px;
  width: 270px;
}
.calibre39 {
  height: 165px;
  width: 285px;
}
.calibre40 {
  height: 163px;
  width: 219px;
}
.calibre41 {
  float: left;
  height: 1px;
  width: 335px;
}
.font {
  font-family: "Book Antiqua", "serif";
}
.font1 {
  font-family: "Verdana", "sans-serif";
}
.font2 {
  font-family: "Trebuchet MS", "sans-serif";
}
.msohyperlink {
  color: blue;
  line-height: 1.2;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.msonormal1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 0.88889em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
 
  text-indent: 1.5em;
  margin: 0 0 0 11pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.11111em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-indent: 1.5em;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:visited {
  color: purple;
  text-decoration: underline;
}
.pcalibre1:link {
  color: blue;
  text-decoration: underline;
}
