p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center;margin-bottom:0}
.p3{text-indent:0;text-align:left}
.p5{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:2.5em;margin-bottom:7.5em;font-family:Opalo;font-size:218%;font-weight:bold}
.h11{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:3.5em;margin-bottom:1em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
.h31{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Book Antiqua",serif;font-size:3.3em;line-height:115%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t5{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t6{font-family:"Book Antiqua",serif;font-size:4.4em;line-height:100%;font-weight:bold}
.t7{font-family:"Matura MT Script Capitals",cursive;font-size:4.4em;line-height:100%;font-weight:bold}
.t8{font-family:"Book Antiqua",serif;font-size:1.3em;line-height:115%}
.t9{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t10{font-family:"Book Antiqua",serif;font-size:1.8em;line-height:115%;font-style:italic}
.t12{font-size:.91em;line-height:115%}
.t13{font-size:.91em;line-height:115%;font-weight:bold}
.t14{font-weight:bold}
.t15{font-style:italic}
.t16{letter-spacing:-.018em}
.t17{letter-spacing:-.0091em}
.t18{font-size:.82em;line-height:115%;font-weight:bold}
.t19{font-size:.65em;line-height:115%;vertical-align:super}
.t20{font-size:.65em;line-height:115%;font-style:italic;vertical-align:super}
.t21{font-size:.65em;line-height:115%;vertical-align:sub}
.t22{font-size:.82em;line-height:115%}