.block_ {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_2 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_3 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_4 {
    display: block;
    font-size: 1.11111em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 28.4pt;
    text-transform: uppercase;
    padding: 0;
    margin: 0
    }
.block_5 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_6 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0 7.2pt 0 0
    }
.block_7 {
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_8 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_9 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block_10 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0 7.2pt 0 0
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block_12 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_14 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_15 {
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt 0
    }
.block_16 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_17 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_18 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt 0
    }
.block_19 {
    display: block;
    font-size: 1.11111em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block_20 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_21 {
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_22 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 0
    }
.block_23 {
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    text-indent: 28.4pt;
    padding: 0;
    margin: 0
    }
.block_24 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_25 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    padding: 0;
    margin: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    display: block
    }
.text_ {
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase
    }
.text_1 {
    font-style: italic;
    font-weight: bold
    }
.text_2 {
    font-style: italic;
    text-transform: uppercase
    }
