
@font-face{
	font-family:"Berling";
	font-style:italic;
	font-weight:normal;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}

@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:bold;
	src:url("font/BerlingLTStd-Medium.ttf") format("truetype");
}

@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face{
	font-family:"GillSans";
	font-style:italic;
	font-weight:normal;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}

@font-face{
	font-family:"GillSansLight";
	font-style:normal;
	font-weight:normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype");
}

@font-face{
	font-family:"GillSans";
	font-style:normal;
	font-weight:normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}

@font-face{
	font-family:"GoudyCat";
	font-style:normal;
	font-weight:normal;
	src:url("font/GoudyCatTReg.ttf") format("truetype");
}

@font-face{
	font-family:"Greek";
	font-style:normal;
	font-weight:normal;
	src:url("font/Greek-WSI.ttf") format("truetype");
}
/*cover*/

.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/
.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	display: block;
	text-align: left;
	margin-top: 1em;
}

.thank{
	display: block;
	text-align: center;
}

.copyright-page .publisher{
		display: block;
	text-align: center;
	margin-top: 2em;
}

.copyright-page span{
		display: block;
	text-align: left;
	font: normal normal .67em/1.3em "GillSans";
}

.copyright-page a{
	color:#777;
	text-decoration: none;
}

/*titlepage*/

.title {
	text-align: center;
}

.aut{
	margin-top: 2em;
	font:normal normal 2em/1.2em  "GoudyCat";
}
.aut .ilk-harf{
	font-size: 1.2em !important;
}

.work {
	font:normal normal 2.20em/1.1em  "GoudyCat";
}

.seri{
		font:normal normal 1em/1.3em "GillSans";
		margin-top: 3.5em;
}
.reward{
	font:normal normal 1em/1.3em "GillSans";
	margin-top: 2.5em;
}

.draw{
	font:normal normal .75em/1.3em "News";
	margin-top: 2.5em;
}

.translator{
	font: normal normal 1em/1.3em "GillSans";
}

.publ{
	margin-top: 3.5em;
}
/*works*/

.works .container p{
	margin-top: 2em;
	font-family: "News";
	font-size: .7em;
	text-indent: 0;
	display: block;
	text-align: center;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "News";
	font-size: .6em;
	padding-bottom: .3em;
	text-align: center;
}


/*biography*/

.biography .container p{
font:normal normal .9em/1.5em "GillSans";
text-indent: 0;
}

.biography .cevirmen{
font:normal normal .9em/1.5em "GillSans";
text-indent: 0;
margin-top: 1.5em;
}

.yazar-site {
	font:normal normal .85em/1.3em "GillSans";
	display: block;
	text-align: center;
}
.yazar-site a{
	color:#777;
	text-decoration: none;
}

/*Chapter*/
.chapter h1{
font: normal bold 1em/1.3em "Berling";
text-align: center;
margin-top: 3.5em;
margin-bottom: 2em;
}

.chapter h1 span{
	font-size: 1.25em;
	font-weight: normal;
	display: block;
	padding-bottom: .7em;
}

.chapter h2{
	font: normal bold 1em/1.3em "Berling";
	text-align: center;
}

.chapter p{
	font:normal normal .9em/1.3em "Berling";
	text-indent: 1.7em;
	margin: 0;
}

.chapter .siir{
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.chapter .gap{
	margin-top: 1.3em;
}

.chapter .resim{
	max-width: 3.75em;
	margin: 1.2em auto .9em;
}

.chapter .resim img{
	width: 100%;
}

.chapter .resim + p{
	text-indent: 0;
}

.chapter .mektup{
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.chapter .mektup p{
		font:normal normal .9em/1.3em "GillSansLight";
}

.chapter .sag-metin{
	display: block;
	text-align: right;
}

blockquote{
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.chapter blockquote p{
	font:normal normal .9em/1.3em "GillSansLight";
	display: block;
	text-align: center;
}

.chapter .greek{
	font: normal normal .9em/1.3em "Greek";
}

.chapter .sayfa-bosluk{
	margin-top: 3.5em;
}

.hesap {
	margin: 1em auto;
	max-width: 12.5em;
}

.hesap span {
	display: block;
	font:normal normal .875em/1.3em "Berling";
	text-align: right;
}

.hesap .toplam {
	margin-top: 1em;
}

/*common*/
.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "GillSans";
	font-weight: normal;
	font-style: normal;
	font-size: .8em;
	margin-bottom: .25em;
}

.si-footnote-text{
	padding-left: .5em;
}

a{
	text-decoration: none;
	color: #7A7A7A;
}