@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{text-indent:1.6em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:0;margin-left:0;text-align:left}
.p4{text-indent:1.6em;text-align:center}
.p5{text-indent:0;margin-left:0;text-align:left;widows:2;orphans:2}
.p6{text-indent:0}
.t2{color:#0066cc;text-decoration:underline}
.t3{font-size:2.2em;font-weight:bold}
.t4{font-size:2.2em}
.t5{font-weight:bold}
.t6{font-size:1.1em}
.t7{font-size:.091em}
.t8{font-style:italic}
.t9{font-size:.64em}
.t10{font-size:.41em;vertical-align:super}
.t11{font-size:.65em;vertical-align:super}
.t12{font-size:1.3em;font-weight:bold}
.t13{font-size:1.3em}
.t14{font-size:1.1em;font-weight:bold}
.t15{font-family:Arial,sans-serif}