@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.bolditalik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 1em;
}
span.regular {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
}
span.regular-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
}
span.regular-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
}
span.bolditalik-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 1em;
}
span.style35 {
}
span.char-style-override-1 {
	font-size : 5.761em;
	float : left;
	line-height : 1;
	margin-top : -0.126em;
	margin-right : 0.05em;
	margin-bottom : -0.216em;
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
}
span.char-style-override-2 {
	font-size : 1.78em;
}
span.char-style-override-3 {
	font-size : 2.22em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-4 {
	font-size : 0.82em;
}
span.char-style-override-5 {
	font-size : 0.75em;
}
span.char-style-override-6 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-7 {
	font-size : 1.09em;
}
span.char-style-override-8 {
	font-size : 1.33em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-9 {
	font-size : 1.09em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-10 {
	font-size : 0.82em;
	vertical-align : super;
}
span.char-style-override-11 {
	font-size : 1.15em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-12 {
	font-size : 0.69em;
	vertical-align : super;
}
span.char-style-override-13 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-14 {
	font-size : 0.69em;
	font-style : italic;
	font-weight : normal;
	vertical-align : super;
}
p.Basic-Paragraph {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.No-Paragraph-Style {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Normal {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.15;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 10px 0px;
}
p.Basic-Paragraph-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.Basic-Paragraph-2 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.Basic-Paragraph-3 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.Basic-Paragraph-4 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.Basic-Paragraph-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 21px;
	margin : 0px 0px 10px 0px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.11;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 80px 0px 150px 0px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 80px 0px 100px 0px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : -10px;
	margin : 0px 0px 0px 10px;
}
p.resim {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px;
}
p.Normal-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.15;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 10px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 100px;
	text-align : center;
}
p.para-style-override-3 {
	margin-top : 150px;
	text-align : center;
}
p.para-style-override-4 {
	text-align : center;
}
p.para-style-override-5 {
	margin : 80px 30px 0px 30px;
}
p.para-style-override-6 {
	margin-bottom : 0px;
	margin-left : 30px;
	margin-right : 30px;
}
p.para-style-override-7 {
	margin-bottom : 15px;
	margin-left : 30px;
	margin-right : 30px;
}
p.para-style-override-8 {
	margin : 15px 30px;
}
p.para-style-override-9 {
	margin-left : 30px;
	margin-right : 30px;
}
p.para-style-override-10 {
	margin-bottom : 0px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
}
p.para-style-override-11 {
	margin-top : 50px;
	text-align : center;
}
p.para-style-override-12 {
	margin : 80px 30px 0px 30px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-13 {
	margin-bottom : 15px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-14 {
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-15 {
	margin-bottom : 0px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-16 {
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-17 {
	margin-left : 30px;
	margin-right : 30px;
	margin-top : 15px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-18 {
	margin : 15px 30px;
	text-indent : 20px;
}
p.para-style-override-19 {
	margin-left : 30px;
	margin-right : 30px;
	text-indent : 20px;
}
p.para-style-override-20 {
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
}
p.para-style-override-21 {
	margin : 15px 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-22 {
	margin-left : 30px;
	margin-right : 30px;
	margin-top : 50px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-23 {
	margin-bottom : 30px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-24 {
	margin : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-25 {
	margin-bottom : 80px;
}
p.para-style-override-26 {
	margin-bottom : 50px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : center;
	text-indent : 20px;
}
p.para-style-override-27 {
	margin-bottom : 30px;
}
p.para-style-override-28 {
	margin-bottom : 30px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : center;
}
p.para-style-override-29 {
	margin-bottom : 0px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
}
p.para-style-override-30 {
	margin-bottom : 15px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
}
p.para-style-override-31 {
	margin-bottom : 15px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : right;
	text-indent : 200px;
}
p.para-style-override-32 {
	margin-bottom : 15px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-33 {
	margin-bottom : 0px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-34 {
	margin-bottom : 50px;
}
p.para-style-override-35 {
	margin-bottom : 50px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : center;
}
p.para-style-override-36 {
	margin-left : 30px;
	margin-right : 30px;
	margin-top : 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-37 {
	margin : 15px 30px;
	text-align : right;
	text-indent : 20px;
}
p.para-style-override-38 {
	margin-left : 30px;
	margin-right : 30px;
	margin-top : 15px;
	text-indent : 20px;
}
p.para-style-override-39 {
	margin : 30px 30px 5px 30px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-40 {
	margin-left : 30px;
	margin-right : 30px;
	margin-top : 15px;
	text-align : justify;
	text-indent : 20px;
}
p.para-style-override-41 {
	margin-bottom : 50px;
	margin-left : 30px;
	margin-right : 30px;
	text-align : left;
	text-indent : 20px;
}
div.Basic-Text-Frame {
}
