.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.none {
    font-size: 1.66667em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.none1 {
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.none2 {
    font-size: 1.29167em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.none3 {
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none4 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none5 {
    font-size: 1.66667em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.none6 {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.s {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 0
    }
.s1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1.5em;
    padding: 0
    }
.s2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1.5em;
    padding: 0 0 0 180pt
    }
.s3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1.5em;
    padding: 0 0 0 72pt
    }
