.calibre {
    display: block;
    font-size: 1em;
    padding: 0;
    margin: 0 5pt
    }
.P-P {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0;
    margin: 0
    }
.P-P1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.P-P2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.P-P3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.P-P4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.P-P5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.P-P6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0;
    margin: 0
    }
.P-P7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-style: normal;
    line-height: 1.2;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0;
    margin: 0
    }
.S-T {
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.S-T1 {
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.S-T2 {
    font-size: 0.58333em;
    vertical-align: 33%;
    padding: 0;
    margin: 0
    }
.S-T3 {
    background-color: transparent;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.S-T4 {
    font-style: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
