@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{text-indent:1em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0.6em;margin-bottom:0.6em;font-size:100%}
.p0{text-indent:1em;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1em;line-height:100%;text-align:center;margin-top:.5em;margin-bottom:.67em}
.p2{text-indent:0;margin-left:0;text-align:center}
.p3{text-indent:.99em;margin-left:0;line-height:150%;margin-top:0;margin-bottom:0}
.p4{text-indent:1em;margin-top:0.8em;margin-bottom:0.8em}
.p5{text-indent:1em;text-align:center}
.p6{text-indent:.99em;margin-left:0}
.p8{text-indent:3em;margin-left:0;line-height:1;margin-top:0.8em;margin-bottom:0.8em}
.p9{text-indent:3em;margin-left:0;line-height:1;margin-top:.25em;margin-bottom:.25em}
.p10{text-indent:.99em;margin-left:0;line-height:1}
.p11{text-indent:3em;margin-left:0;line-height:1;margin-top:0;margin-bottom:0}
.p12{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:1.5em;margin-bottom:1.5em}
.p13{text-indent:0;margin-left:2.4em;line-height:120%;margin-top:0;margin-bottom:0}
.p14{text-indent:0;margin-left:2.4em;margin-top:1em;margin-bottom:1em}
.p15{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.75em;margin-bottom:2.3em;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.4em;margin-bottom:1.6em;font-size:136%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.3em;line-height:100%;font-weight:bold}
.t2{font-weight:bold}
.t4{font-size:1.5em;font-weight:bold}
.t5{font-size:1.3em;font-weight:bold}
.t7{font-size:1.2em;font-weight:bold}
.t8{font-size:1.2em;font-weight:bold;color:blue;text-decoration:underline}
.t9{font-size:.92em;font-weight:bold}
.t10{font-size:1.1em;font-weight:bold;color:blue;text-decoration:underline}
.t11{font-size:1.1em;font-weight:bold}
.t13{font-style:italic}
.t14{font-weight:bold;font-style:italic}
.t15{font-style:italic}
.t16{font-weight:bold;font-style:italic;text-decoration:underline}