p{text-indent:1.8em;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:.55em;font-size:100%}
.p1{text-indent:1.8em;text-align:center}
.p3{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:0}
.p4{text-indent:0;margin-left:1em;line-height:115%;text-align:left;margin-bottom:0}
.p5{text-indent:0;margin-left:2em;line-height:115%;text-align:left;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:1.8em}
.p7{text-indent:1.8em;text-align:left}
.p8{text-indent:1.8em;line-height:100%}
h1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.7em;margin-bottom:1.7em;font-size:127%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.4em;margin-bottom:1.4em;font-size:118%;font-weight:bold}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.5em;margin-bottom:1.5em;font-size:109%;font-weight:bold}
.h31{text-indent:0}
.t1{font-size:1.1em;line-height:100%}
.t2{font-size:1.8em;line-height:130%;font-weight:bold}
.t4{font-size:.95em;line-height:130%}
.t6{font-weight:bold}
.t7{font-size:1.1em;line-height:115%;font-weight:bold;font-style:italic}
.t9{font-weight:bold}
.t10{font-size:.91em;line-height:115%}
.t11{font-style:italic}
.t12{font-style:italic;letter-spacing:.091em}
.t13{font-weight:bold;font-style:italic}