.b_sayfa_k_adi {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0;
}
.b_sayfa_y_resim {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.375em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0;
}
.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre_rescale_ {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-indent: 1.5em;
}
.calibre1 {
  display: table-row;
  vertical-align: middle;
}
.calibre2 {
  font-style: italic;
}
.calibre3 {
  color: white;
  display: none;
  vertical-align: middle;
}
.calibre4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 1px;
}
.calibre5 {
  height: auto;
  line-height: 1.2;
  width: auto;
}
.calibre6 {
  display: block;
}
.calibre7 {
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0;
}
.calibre8 {
  height: auto;
  width: auto;
}
.calibre9 {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0;
}
.calibre10 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre11 {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre12 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre13 {
  display: list-item;
  list-style-type: none;
}
.calibre14 {
  text-decoration: none;
}
.calibre15 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
.cbj_banner {

  background: #eee;
  color: black;
  display: block;
  text-indent: 1.5em;
  padding: 1em;
  margin: 0.5em 1em;
  border: black solid thin;
}
.cbj_comments {
  display: block;
  font-family: sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-indent: 1.5em;
}
.cbj_content {
  display: table-cell;
  font-family: sans-serif;
  text-align: left;
  vertical-align: inherit;
  width: 67%;
  padding: 1px;
}
.cbj_footer {
  display: block;
  font-family: sans-serif;
  font-size: 0.75em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}
.cbj_header {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  width: 100%;
}
.cbj_label {
  display: table-cell;
  font-family: sans-serif;
  text-align: right;
  vertical-align: inherit;
  width: 33%;
  padding: 1px;
}
.cbj_series {
  display: table-cell;
  text-align: center;
  vertical-align: inherit;
  padding: 1px;
}
.cbj_title {
  display: table-cell;
  font-size: 1.375em;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  vertical-align: inherit;
  padding: 1px;
}
.ceviri {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 10px;
  margin: 0.5em 0;
}
.egik {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0;
}
.girintili_siir {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0 0.5em 3em;
}
.haber {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0;
}
.ic_yazar {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0.5em 0 0.5em 4em;
}
.metadata_divider {
  color: gray;
  display: block;
  height: 2px;
  width: 90%;
  margin: 0.5em auto 0.5em 5%;
  border-top: white solid 0;
  border-right: white solid 0;
  border-bottom: black solid 1px;
  border-left: white solid 0;
}
.soz_saga {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  text-indent: 0;
  margin: 0.5em 0;
}
.tarih {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0;
}
.title {
  line-height: 1.2;
}
.yayin_evi {
  
  border-bottom: currentColor none 0;
  border-top: currentColor none 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.75em;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 10px;
  margin: 0.5em 0;
}
.pcalibre:hover {
  color: red;
}
