.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.calibre2 {
  font-weight: bold;
}
.calibre3 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre4 {
  display: block;
}
.calibre5 {
  font-family: "Book Antiqua", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre6 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre7 {
  font-size: 0.66667em;
}
.calibre8 {
  font-family: "Book Antiqua", "serif";
  font-size: 0.66667em;
}
.calibre9 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.calibre10 {
  font-family: "Book Antiqua", "serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre11 {
  line-height: 1.2;
}
.calibre12 {
  font-family: "Book Antiqua", "serif";
  font-size: 1.33333em;
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre13 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre14 {
  font-family: "Book Antiqua", "serif";
  font-size: 1.11111em;
  line-height: 1.2;
}
.calibre15 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 13pt;
  margin: 0;
}
.calibre16 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 12pt;
  margin: 0;
}
.calibre17 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 10pt;
  margin: 0;
}
.calibre18 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 11pt;
  margin: 0;
}
.calibre19 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 15pt;
  margin: 0;
}
.calibre20 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 14pt;
  margin: 0;
}
.calibre21 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre22 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 5pt;
  margin: 0;
}
.calibre23 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 16pt;
  margin: 0;
}
.calibre24 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 45pt;
  margin: 0;
}
.calibre25 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: sub;
}
.calibre26 {
  font-size: 0.88889em;
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre27 {
  font-style: italic;
}
.calibre28 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 23pt;
  margin: 0;
}
.calibre29 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 17pt;
  margin: 0;
}
.calibre30 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre31 {
  font-family: "Book Antiqua", "serif";
  line-height: 1.2;
}
.calibre32 {
 
  display: none;
  line-height: 1.2;
  text-decoration: none;
}
.font {
  font-family: "Book Antiqua", "serif";
}
.font1 {
  font-family: "Candara", "sans-serif";
}
.font2 {
  font-family: "Times New Roman", "serif";
}
.font3 {
  font-family: "Century Gothic", "sans-serif";
}
.font4 {
  font-family: "Arial Narrow", "sans-serif";
}
.font5 {
  font-family: "Franklin Gothic Book", "sans-serif";
}
.font6 {
  font-family: "Arial", "sans-serif";
}
.msohyperlink {
  color: blue;
  line-height: 1.2;
  text-decoration: underline;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;

  text-indent: 1.5em;
  margin: 0 0 0 11pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-align: center;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:link {
  color: blue;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: purple;
  text-decoration: underline;
}
