@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.dipnot-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.dipnot-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.dipnot-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.dipnot-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.Normal {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
	writing-mode : horizontal-tb;
	line-height : 1;
}
span.dipnot-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.dipnot-6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	vertical-align : super;
}
span.char-style-override-1 {
	font-size : 0.83em;
}
span.char-style-override-2 {
	font-size : 1.33em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	font-size : 1.5em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-4 {
	font-size : 1.5em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-5 {
	font-size : 1.42em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-6 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-7 {
	font-size : 0.95em;
}
span.char-style-override-8 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-9 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-10 {
	font-size : 0.64em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-11 {
	font-size : 0.64em;
	vertical-align : super;
}
span.char-style-override-12 {
	font-size : 0.64em;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l--- {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l--- {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.BOLUM-TARIH {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.Basic-Paragraph-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 10px 60px 10px;
}
p.kaynakca {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.35;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 1px 0px 1px 14px;
}
p.kaynakca-baslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : left;
	color : #000000;
	text-indent : -14px;
	margin : 30px 0px 10px 14px;
}
p.Basic-Paragraph-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----2 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 10px 60px 10px;
}
p.G-vde {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.dizin {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.37;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 1px 14px;
}
p.Basic-Paragraph-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----3 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.BOLUM-TARIH-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.Kunye {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----4 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 140px 10px 70px 10px;
}
p.paragraph-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.No-Paragraph-Style {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----5 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----2 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.BOLUM-TARIH-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.Basic-Paragraph-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----6 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----3 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK-2 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.dipnotlar-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.Basic-Paragraph-6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----7 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----4 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK-3 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.BOLUM-TARIH-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.No-Paragraph-Style-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.No-Paragraph-Style-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph-7 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----8 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----5 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK-4 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.BOLUM-TARIH-4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.Basic-Paragraph-8 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----9 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.31;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 290px 14px 20px 14px;
}
p.paragraph-7 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px;
}
p.Konu-Ba-l----6 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 200px 14px 90px 14px;
}
p.ARA-BASLIK-5 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 50px 0px 20px 0px;
}
p.BOLUM-TARIH-5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 20px 10px;
}
p.dipnotlar-6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 2px 14px;
}
p.last-paragraph-6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.32;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 0px 35px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 5px;
	margin-bottom : 0px;
}
p.para-style-override-3 {
	margin-top : 80px;
	text-align : center;
}
p.para-style-override-4 {
	text-align : center;
}
p.para-style-override-5 {
	margin-bottom : 15px;
	margin-top : 50px;
}
p.para-style-override-6 {
	margin-bottom : 15px;
}
p.para-style-override-7 {
	margin-top : 5px;
}
p.para-style-override-8 {
	text-align : center;
	margin-top : 190px;
	margin-bottom : 0px;
}
p.para-style-override-9 {
	margin-bottom : 70px;
	margin-top : 90px;
	text-align : center;
}
p.para-style-override-10 {
	margin-bottom : 1px;
	text-align : center;
}
p.para-style-override-11 {
	margin-bottom : 50px;
	text-align : center;
}
p.para-style-override-12 {
	margin-bottom : 5px;
	text-align : center;
}
p.para-style-override-13 {
	margin-bottom : 30px;
}
p.para-style-override-14 {
	margin-bottom : 3px;
	text-align : right;
}
p.para-style-override-15 {
	text-align : right;
}
p.para-style-override-16 {
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-17 {
	text-indent : 14px;
}
p.para-style-override-18 {
	margin-bottom : 21px;
}
div.Basic-Text-Frame {
}