.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: 139pt;
    width: 311pt
    }
.calibre7 {
    height: 290pt;
    width: 309pt
    }
.calibre8 {
    text-decoration: line-through
    }
.calibre9 {
    font-style: italic;
    font-weight: bold
    }
.calibre10 {
    height: 30pt;
    width: 76pt
    }
.calibre11 {
    font-variant: small-caps
    }
.calibre12 {
    height: 520pt;
    width: 334pt
    }
.calibre13 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre14 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    height: 12pt;
    width: 325pt
    }
.calibre17 {
    text-decoration: underline
    }
.calibre18 {
    height: 504pt;
    width: 295pt
    }
.calibre19 {
    height: 33pt;
    width: 33pt
    }
.calibre20 {
    height: 63pt;
    width: 54pt
    }
