p {font-size: 1em; font-weight: normal; text-align: justify; text-indent: 1em; margin: 0.4em 0;}
h1 {font-weight: normal; text-align: right; line-height: 85%; margin: 0.4em 0;}
h2 {font-size: 1.7em; font-weight: normal; text-align: center; margin: 1em 0;}
h3 {font-size: 0.65em; font-weight: normal; text-align: center; text-indent: 0em; margin: 0em 0em;}

.logo {margin-top:5em;text-align:center; text-indent:0em}