body {font-size:16.0px;font-family:'Times New Roman'}
span.FontStyle65 {font-weight:bold;font-size:9.333334px}
span.FontStyle94 {font-weight:bold;font-size:12.0px}
span.FontStyle63 {font-size:12.0px}
span.FontStyle62 {font-weight:bold;font-size:12.0px}
span.FontStyle79 {font-weight:bold;font-size:12.0px;letter-spacing:1.3228347px}
span.FontStyle78 {font-weight:bold;font-size:12.0px}
span.FontStyle75 {font-style:italic;font-weight:bold;font-size:13.333334px;letter-spacing:-1.3228347px}
span.FontStyle74 {font-style:italic;font-weight:bold;font-size:10.666667px}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FontStyle73 {font-size:12.0px}
span.FontStyle72 {font-weight:bold;font-size:14.666667px}
span.FontStyle71 {font-size:13.333334px}
span.FontStyle70 {font-style:italic;font-weight:bold;font-size:9.333334px}
span.FontStyle88 {font-size:13.333334px}
span.FontStyle86 {font-style:italic;font-size:12.0px}
span.FontStyle85 {font-weight:bold;font-size:10.666667px}
span.FootnoteSymbol {}
span.FontStyle84 {font-style:italic;font-weight:bold;font-size:9.333334px}
span.FontStyle83 {font-weight:bold;font-size:9.333334px}
span.FontStyle80 {font-weight:bold;font-size:10.666667px;letter-spacing:1.3228347px}
span.FontStyle69 {font-weight:bold;font-size:10.666667px}
span.FontStyle68 {font-weight:bold;font-size:12.0px}
span.FontStyle67 {font-size:60.0px;letter-spacing:-2.6834648px}
span.FontStyle66 {font-size:29.333334px;letter-spacing:-1.0px}
p.Style18 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style17 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style48 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style47 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style16 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style46 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style15 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style13 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style43 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style42 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style29 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style28 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style27 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style57 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style25 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style23 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style22 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style21 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style20 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style50 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Textbody {margin-left:0;margin-right:0;margin-top:0;margin-bottom:9.335433px;border:none;padding:0;font-size:16.0px}
p.Style8 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style7 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Footnote {margin-left:22.601576px;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-22.601576px;font-size:13.333334px}
p.Style6 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style38 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style35 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style34 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style33 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style30 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
p.Style19 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
h2 {margin-left:0;margin-right:0;margin-top:75.59055px;margin-bottom:18.859844px;border:none;padding:0;text-indent:0;text-align:center;font-weight:bold;font-size:22.4px;clear:left}
.frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
.frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;font-size:16.0px}
body {background-color:#ffffff}
hr.footnoterule {margin-top:3.817323px;margin-bottom:3.817323px;height:1.0px;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
