body {font-family:'Times New Roman'}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.footnotereference {font-size:58%;vertical-align:super}
span.FootnoteSymbol {}
p.Footnote {margin-left:0;margin-right:0;margin-top:0;margin-bottom:13.341732px;border:none;padding:0;font-size:109%}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:13.341732px;border:none;padding:0;font-size:109%}
p.footnotetext {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:91%}
hr.footnoterule {margin-top:3.817323px;margin-bottom:3.817323px;height:1.0px;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
