@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.calibre11 {
    color: #06C
    }
.calibre12 {
    height: 990px;
    vertical-align: baseline;
    width: 1369px
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 19em
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre16 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre21 {
    font-size: 0.75em
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 15em
    }
.calibre23 {
    height: 527px;
    vertical-align: baseline;
    width: 949px
    }
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 2em
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1em
    }
.calibre26 {
    height: 341px;
    vertical-align: baseline;
    width: 967px
    }
.calibre27 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1em
    }
.calibre29 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre3 {
    height: 2034px;
    vertical-align: baseline;
    width: 1428px
    }
.calibre30 {
    font-size: 0.55556em
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 1em
    }
.calibre32 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 2em
    }
.calibre33 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre34 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: justify;
    text-indent: 2em
    }
.calibre35 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre36 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: justify;
    text-indent: 1em
    }
.calibre37 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre38 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 0
    }
.calibre39 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: justify;
    text-indent: 1em
    }
.calibre4 {
    height: 2016px;
    vertical-align: baseline;
    width: 1432px
    }
.calibre40 {
    height: 1594px;
    vertical-align: baseline;
    width: 1270px
    }
.calibre41 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre42 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1em
    }
.calibre43 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre44 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em
    }
.calibre45 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: justify;
    text-indent: 0
    }
.calibre46 {
    height: 1854px;
    vertical-align: baseline;
    width: 1396px
    }
.calibre47 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.calibre48 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.calibre49 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre5 {
    height: 1046px;
    vertical-align: baseline;
    width: 1358px
    }
.calibre50 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8em;
    text-align: justify;
    text-indent: 1em
    }
.calibre51 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 12em
    }
.calibre52 {
    height: 913px;
    vertical-align: baseline;
    width: 1491px
    }
.calibre53 {
    height: 1921px;
    vertical-align: baseline;
    width: 1499px
    }
.calibre54 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre55 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre56 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre57 {
    color: blue
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre8 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.underline {
    text-decoration: underline
    }