p{text-indent:0;margin-left:0;;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-size:100%}
.p0{text-indent:0;;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;}
.p4{text-indent:0;text-align:left}
.p5{text-indent:0;;margin-bottom:0}
.p6{text-indent:0;margin-bottom:0}
.p7{text-indent:0;text-align:right}
.p8{text-indent:-.9em;margin-left:.9em;;margin-bottom:.27em}
.p9{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:3.6em;font-size:127%;font-weight:bold}
.h11{text-indent:0}
.t1{font-size:1.1em;}
.t2{font-size:3.3em;}
.t3{font-size:9.1em;;font-weight:bold}
.t4{font-size:8.2em;;font-weight:bold}
.t5{font-size:2em;}
.t6{font-size:1.6em;}
.t7{font-size:.91em;}
.t8{font-size:.91em;}
.t9{font-size:.91em;;font-style:italic}
.t10{font-size:.73em;}
.t11{font-size:.73em;;font-style:italic}
.t12{font-size:.73em;;font-style:italic}
.t13{font-size:.73em;}
.t15{font-style:italic}
.t16{font-size:.65em;;vertical-align:super}
.t17{text-decoration:underline}
.t18{font-weight:bold}
.t19{font-size:.65em;;font-style:italic;vertical-align:super}
.t20{font-weight:bold;font-style:italic}
.t21{font-size:.47em;;vertical-align:super}