p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center}
.p3{text-indent:0;line-height:115%;text-align:center;margin-bottom:.91em}
.p4{text-indent:0;line-height:115%;text-align:left;margin-bottom:.91em}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;text-align:left}
.p7{text-indent:0;line-height:115%;text-align:center;page-break-after:avoid;margin-top:2.2em;margin-bottom:0}
.p8{text-indent:0;text-align:left;margin-top:.55em}
.p9{text-indent:0;margin-left:.91em;text-align:left;margin-bottom:0}
.p10{text-indent:-.9em;margin-left:.9em;line-height:100%;margin-bottom:.27em}
.p11{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.75em;margin-bottom:3.4em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2.5em;margin-bottom:1em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.1em;line-height:120%}
.t3{font-size:1.3em;line-height:120%}
.t4{font-size:1.3em;line-height:120%;font-weight:bold}
.t5{font-size:.73em;line-height:115%}
.t6{font-size:.73em;line-height:115%;font-weight:bold;color:red}
.t7{font-size:.91em;line-height:120%}
.t8{font-size:.91em;line-height:120%;font-style:italic}
.t9{font-size:.91em;line-height:115%}
.t10{font-size:2em;line-height:120%}
.t11{font-size:2.5em;line-height:120%;font-weight:bold}
.t12{font-size:2em;line-height:120%;font-weight:bold}
.t13{font-size:1.5em;line-height:120%}
.t14{font-style:italic}
.t15{font-weight:bold}
.t16{letter-spacing:-.0091em}
.t17{font-size:.65em;line-height:120%;vertical-align:super}
.t19{font-weight:bold;font-style:italic}
.t20{font-size:1.5em;line-height:115%;font-weight:bold;color:#365f91}
.t21{font-family:Calibri,sans-serif;font-weight:bold}
.t22{font-family:Calibri,sans-serif}
.t23{font-family:Calibri,sans-serif;font-size:.82em;line-height:120%}
.t24{font-size:.47em;line-height:100%;vertical-align:super}
.t25{font-size:.73em;line-height:100%}
.t26{font-size:.73em;line-height:100%;font-style:italic}
.t27{font-size:.73em;line-height:100%;letter-spacing:-.013em}