p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.5em;font-size:91%}
.p0{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;text-align:center;margin-bottom:0}
.p3{text-indent:0;text-align:left}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;text-align:left;margin-bottom:1em}
.p7{text-indent:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-top:2.4em;margin-bottom:0}
.p8{text-indent:0;margin-left:1em;text-align:left;margin-bottom:0}
.p9{text-indent:-.99em;margin-left:.99em;line-height:100%;margin-bottom:.3em}
h3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:right;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:4.2em;margin-bottom:1.2em;font-size:91%;font-weight:normal;font-style:italic}
.h31{text-indent:0}
.t2{font-size:2em;line-height:115%}
.t3{font-size:.4em;line-height:115%}
.t4{font-size:2.5em;line-height:115%;font-weight:bold}
.t6{font-size:2em;line-height:100%}
.t7{font-size:8em;line-height:100%}
.t8{fon;font-size:.5em;line-height:115%;font-weight:bold}
.t9{font-size:1.2em;line-height:115%;font-style:italic}
.t10{font-size:2em;line-height:115%;font-style:italic}
.t11{font-size:2em;line-height:115%;font-weight:bold;font-style:italic}
.t13{font-style:italic}
.t14{font-size:.65em;line-height:115%;font-style:italic;vertical-align:super}
.t15{font-size:.65em;line-height:115%;vertical-align:super}
.t16{font-size:1.4em;line-height:115%;color:#365f91}
.t19{font-size:.52em;line-height:100%;vertical-align:super}
.t20{font-size:.8em;line-height:100%}
.t21{font-size:.8em;line-height:100%;font-style:italic}