.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.calibre2 {
    font-weight: normal;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: auto;
    width: auto
    }
.calibre7 {
    display: block;
    text-align: left;
    margin: 1em 0
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    text-align: right
    }
.calibre10 {
    display: block;
    margin: 1em 0
    }
