h1
{
margin-top:3em;
margin-bottom:5em;
text-align:center;
Font-size:1.5em;
}
h2
{
margin-top:3em;
margin-bottom:5em;
text-align:center;
Font-size:1.5em;
}
p{

text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
p{text-indent:3em;margin-left:0;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:0;font-family:Calibri,sans-serif;font-size:109%}
.p0{text-indent:3em;text-align:center;margin-top:0}
.p2{text-indent:3em;text-align:center}
.p3{text-indent:0}
.t1{font-family:Arial,sans-serif}
.t3{font-size:1.5em;font-weight:bold}
.t4{font-size:1.5em;font-weight:bold;font-style:italic}
.t5{font-style:italic}
.t6{font-weight:bold;color:#c0504d}
.t7{font-weight:bold}