body {
  background-color: #fcfff6;
  color: #000;
  font-family: Georgia, serif;
  margin: auto;
  max-width: 33em;
}
@media screen and (orientation: landscape) {
  html {
    background: #fdfdfd fixed;
  }
  body {
    -moz-box-shadow: 5px 5px 25px 10px #888;
    -webkit-box-shadow: 5px 5px 25px 10px #888;
    box-shadow: 5px 5px 25px 10px #888;
  }
}
@media screen {
  body {
    margin: 1em auto;
    max-width: 33em;
    padding: 5em 4em;
  }
}
p {
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  text-indent: 25px;
}
/* ara cizgi uygulama <hr class="bosluk" /> */
h1, h2, h3, h4, h5, h6 {
  text-indent: 0;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
h1 {
  margin-top: 100px;
}
blockquote {
  font-style: italic;
}
.ilkp {
  margin-top: 100px;
}
.bc1 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 2.1em;
  letter-spacing: -0.02em;
}
.bc2 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 2.1em;
  font-weight: bold;
}
.bc3 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 1.2em;
  font-weight: bold;
}
.bc4 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 1em;
}
