
@font-face {
  font-family: "News";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/News702BT-Italic.otf") 
}

@font-face {
  font-family: "News";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/News702BT-Roman.otf") 
}

@font-face {
  font-family: "News";
  font-style: normal;
  font-weight: bold;
  src : url("../Fonts/News702BT-Bold.otf") 
}

@font-face {
  font-family: "New";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/NewBaskervilleITCbyBT-Roman.otf") 
}

@font-face {
  font-family: "Berling";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Italic.ttf") 
}

@font-face {
  font-family: "Berling1";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Medium.ttf") 
}

@font-face {
  font-family: "Berling";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Roman.ttf") 
}

@font-face {
  font-family: "Gill";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Light.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Italic.ttf") 
}

@font-face {
  font-family: "Goudy";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GoudyCatTReg.ttf") 
}

.baslik{
  font: italic normal 1.33em "News";
  text-align: center;
  margin-top: 5em;
}

.baslik1{
  font: normal normal 1.125em "News";
  text-align: center;
  margin: 4em auto 1.5em auto;
}

.chapter p{
  font: normal normal .79em "News";
  margin: 0 auto;
  line-height: 1.3em;
  text-indent: 1.5em;
}

.siir p{
  font-style: italic;
  padding-left: 5em;
  text-indent: 0 !important;
}

.s-baslik{
  font: normal normal .79em "News";
  margin: 1em auto;
  text-align: center;
}

.h-margin{
  margin: 2em auto;
  border: none;
}

.margin{
  border: none;
  margin: 1em auto;
}

.alinti{
  margin: 1em auto 1em 1em;
}

.p-right{
  text-align: right;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
  margin:4em 0 1em;
}
.si-backref{
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote{
  font-family: Gill1;
  font-size: .8em;
  margin-bottom: .25em;
}

/*Biography*/

.biography p,.books p{
  font: normal normal .75em "News";
  margin: 0;
  line-height: 1.5em;
}

.s-margin{
  margin-top: 5em;
}

.s-center p,.s-center1 p{
  text-align: center;
}

.s-center1 p{
  font-size: .60em;
}

.s-center{
  margin: 4em auto 1em auto;
}

.p-margin{
  margin-top: 5em !important;
}
/*Copyright*/

.copyright-page section{
  margin: 2em auto;
}

.c1-margin p{
  font: normal normal .75em "News";
  line-height: 1.5em;
  margin: 0;
}

.c1-margin1 p{
  font: normal normal .58em "News";
  line-height: 1.5em;
  margin: 0;
}

.c1-margin2 p{
  font: normal normal .66em "News";
  line-height: 1.5em;
  margin: 0;
}

.c1-margin{
  margin: 3em auto;
}

.f-size{
  font-size: .66em !important;
}

.copyright-page a{
  vertical-align: baseline;
  font-size: 1em;
  color: #7A7A7A;
  text-decoration: none;
}


/*Titlepage*/

.titlepage{
  text-align: center;
}

.t-1{
  font: normal normal 1.66em "New";
  margin: 0em auto .2em auto;
}

.t-2{
  font: normal normal 1.66em "New";
  margin: 0em auto 3em auto;
}

.t-3{
  font: normal normal .75em "News";
  margin: 0 auto 2em auto;
}

.t-4{
  font: normal normal .66em "News";
  margin: 0;
}

.t-5{
  font: normal normal .75em "News";
  margin: .5em auto;
}

.first{
  font-size: 1.1em;
}

.logo{
  margin: 3em auto 0 auto;
}

.first{
  font-size: 1.1em;
}

.logo{
  margin: 3em auto 0 auto;
}

/*Cover*/

.kapak img{
  max-width: 100%;
}
.kapak{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.epigraph p,.dedication p{
  font: normal normal .79em "News";
  margin: 0 auto;
  line-height: 1.3em;
  text-indent: 1.5em;
}

.p-right1{
  text-align: right;
  margin-top: .3em !important;
}