body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0.2in;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:6pt;font-family:Cambria,serif;font-size:109%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-align:center}
.p2{text-indent:0;margin-left:0;text-align:left;margin-bottom:0}
.p3{text-indent:0;margin-left:0;text-align:left;margin-bottom:5pt}
.p5{text-indent:0;margin-left:0;text-align:right;margin-bottom:0}
.p6{text-align:right}
.p7{text-indent:0;margin-left:0}
.p8{text-align:right;margin-bottom:0}
.p9{text-indent:0;margin-left:0;text-align:left}
.p10{text-indent:0;margin-left:0;text-align:left;margin-top:24pt;margin-bottom:0}
.p11{margin-bottom:0}
.p12{text-align:left;margin-bottom:0}
.t0{font-size:1.17em;color:black;letter-spacing:0.5pt}
.t1{font-size:1.17em;color:black;letter-spacing:0.5pt}
.t2{font-size:1.17em;color:black;letter-spacing:0.5pt}
.t3{font-size:1em}
.t4{font-size:1.33em;color:black;letter-spacing:0.5pt}
.t5{font-size:1.33em;color:black;letter-spacing:0.5pt}
.t6{font-size:1.33em;color:black;letter-spacing:0.5pt}
.t7{font-size:1.33em;color:black;letter-spacing:0.5pt}
.t8{font-size:1.67em;color:black;letter-spacing:0.5pt}
.t9{font-size:1em;color:black;letter-spacing:-1pt}
.t10{font-size:1em;color:black;letter-spacing:-1pt}
.t11{font-size:1em;color:black;letter-spacing:-1pt}
.t12{font-size:1em;color:black}
.t13{font-size:1em;color:black}
.t14{font-size:1em;color:black}
.t15{font-size:1em;color:black}
.t16{font-size:1em;color:#232323}
.t17{font-size:1em;color:#232323}
.t18{font-size:1em;color:#232323}
.t19{font-family:"Courier New",monospace;font-size:1em;color:black;text-decoration:underline}
.t20{font-family:"Courier New",monospace;font-size:1em;color:black;text-decoration:underline}
.t21{font-family:"Courier New",monospace;font-size:1em;color:black;text-decoration:underline}
.t22{font-size:.92em}
.t23{font-family:Calibri,sans-serif;font-size:.92em}
.t24{font-size:.92em}
.t25{font-size:.92em}
.t26{font-size:.92em}
.t28{font-size:1em}
.t29{font-size:1em}
.t30{font-size:1em;text-decoration:underline}
.t31{font-size:.65em;vertical-align:super}
.t32{font-size:.65em;color:black;vertical-align:super}