.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    height: 1023px;
    vertical-align: baseline;
    width: 768px
    }
.calibre_2 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 5em 0 0
    }
.calibre_3 {
    color: #000
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5em 0 0
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre_6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 13pt 0 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_9 {
    display: block;
    text-align: left;
    text-indent: 1em;
    margin: 5em 0 0
    }
.calibre_10 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre_12 {
    color: #0000ef
    }
.calibre_13 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre_14 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 4pt 0 0
    }
.calibre_15 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre_16 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 5em 0 0
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_18 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_19 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre1 {
    font-size: 0.75em
    }
.calibre2 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre6 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre7 {
    font-size: 1.5em;
    line-height: 1.2
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
