p{text-indent:1.8em;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:.55em;font-size:100%}
.p0{text-indent:1.8em;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p2{text-indent:1.8em;text-align:center}
.p3{text-indent:1.8em;text-align:left}
.p4{text-indent:1.8em;line-height:100%;text-align:left}
.p5{text-indent:1.8em;margin-left:1.1em;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p6{text-indent:1.8em;margin-left:3.3em;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p7{text-indent:1.8em;margin-left:2.2em;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p8{text-indent:0;margin-left:0;text-align:left}
.p9{text-indent:3.2em;margin-left:0;text-align:center}
.p10{text-indent:0;margin-left:0;text-align:center}
.p11{text-indent:0;margin-left:0;line-height:100%;text-align:center}
.p12{text-indent:1.8em;line-height:100%}
.p13{text-indent:1.8em;line-height:100%;margin-top:0;margin-bottom:0}
.p14{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.7em;margin-bottom:1.7em;font-size:127%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.4em;margin-bottom:1.4em;font-size:118%;font-weight:bold}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.5em;margin-bottom:1.5em;font-size:109%;font-weight:bold}
.h31{text-indent:0}
h4{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.1em;margin-bottom:1.1em;font-size:100%;font-weight:bold}
.h41{text-indent:0}
.t1{font-size:1.1em;line-height:100%}
.t2{font-weight:bold}
.t3{font-size:1.8em;line-height:130%;font-weight:bold}
.t4{font-size:1.8em;line-height:130%}
.t5{font-size:.91em;line-height:130%}
.t6{font-size:.91em;line-height:100%;font-weight:bold}
.t8{font-size:.91em;line-height:100%}
.t9{font-size:.73em;line-height:100%}
.t10{font-size:.82em;line-height:100%}
.t11{font-size:.91em;line-height:100%;font-style:italic}
.t13{font-weight:bold;text-decoration:underline}
.t14{font-style:italic}
.t15{font-size:.71em;line-height:130%;font-weight:bold;font-style:italic;color:#6427fd;vertical-align:super}
.t16{font-size:.71em;line-height:130%;font-weight:bold;color:#6427fd;vertical-align:super}
.t17{font-weight:bold;font-style:italic}
.t18{font-size:.65em;line-height:130%;font-style:italic;vertical-align:super}
.t19{font-size:.65em;line-height:130%;font-weight:bold;vertical-align:super}
.t20{font-size:.65em;line-height:130%;vertical-align:super}
.t21{font-size:.91em;line-height:130%;font-weight:bold;font-style:italic}
.t22{text-decoration:underline}
.t23{font-size:.71em;line-height:100%;font-weight:bold;color:#6427fd;vertical-align:super}