.block_ {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_1 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_2 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0 205pt 0 0;
    padding: 0
    }
.block_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-family: "Algerian", fantasy;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_6 {
    display: block;
    font-family: "Algerian", fantasy;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_7 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_8 {
    display: block;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_9 {
    color: black;
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_11 {
    color: #365F91;
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_12 {
    color: black;
    display: block;
    font-family: serif;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 5pt;
    padding: 0
    }
.block_13 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0 5pt 12pt;
    padding: 0
    }
.block_14 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    display: block;
    font-family: "Algerian", fantasy;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_16 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_17 {
    display: block;
    font-style: italic;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_18 {
    display: block;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_19 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_20 {
    display: block;
    text-align: left;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_21 {
    display: block;
    font-family: serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 36pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_22 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_23 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_24 {
    display: block;
    font-family: serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_25 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 0;
    padding: 0
    }
.block_26 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 0 7.2pt 3pt;
    padding: 0
    }
.block_27 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 3pt 0;
    padding: 0
    }
.block_28 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_29 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 0 0;
    padding: 0
    }
.block_30 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 0 7.2pt 3pt 0;
    padding: 0
    }
.block_31 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 0;
    padding: 0
    }
.block_32 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 3pt;
    padding: 0
    }
.block_33 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 3pt 0;
    padding: 0
    }
.block_34 {
    display: block;
    font-family: "Algerian", fantasy;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_35 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 6pt 7.2pt 0 0;
    padding: 0
    }
.block_36 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 36pt;
    margin: 6pt 7.2pt 3pt;
    padding: 0
    }
.block_37 {
    display: block;
    font-family: serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_38 {
    display: block;
    font-family: serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 36pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_39 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_40 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    white-space: pre-wrap
    }
.calibre4 {
    display: block
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.calibre7 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre8 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre9 {
    display: block
    }
.calibre10 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre11 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre12 {
    display: block;
    margin-left: 40px
    }
.calibre13 {
    font-size: 0.85714em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre14 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.tab {
    white-space: pre-wrap
    }
.text_ {
    color: #000
    }
.text_1 {
    color: #00F;
    text-decoration: underline
    }
.text_2 {
    color: #000;
    font-family: "Cambria", serif
    }
.text_3 {
    color: #00F;
    font-family: "Algerian", fantasy;
    text-decoration: underline
    }
.text_4 {
    color: #00F;
    font-family: "Cambria", serif;
    text-decoration: underline
    }
.text_5 {
    color: #00F;
    font-family: "Calibri", sans-serif;
    text-decoration: underline
    }
.text_6 {
    color: #00F;
    font-size: 0.75em;
    line-height: 1.2;
    text-decoration: underline;
    vertical-align: super
    }
.text_7 {
    font-family: "Algerian", fantasy;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_8 {
    font-family: "Cambria", serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_9 {
    font-family: "Calibri", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_10 {
    font-style: italic;
    font-weight: bold
    }
.text_11 {
    font-variant: small-caps
    }
.text_12 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: super
    }
.text_13 {
    font-size: 0.75em;
    font-variant: small-caps;
    line-height: 1.2;
    vertical-align: super
    }
.text_14 {
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_15 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: super
    }
.text_16 {
    font-style: italic;
    font-variant: small-caps
    }
