p {
  text-indent: 1em;
  text-align: justify;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* FONT BÜYÜKLÜKLERİ OTO AYARLANIYOR ZATEN */
h1,h2,h3,h4,h5,.center {
  text-align: center;
} 

/* İÇ KAPAK İÇİN */
#a-cover h1, #a-cover h2, #a-cover h3 { text-align: center; }
#a-cover h1#serie-name, #a-cover h2,#a-cover h3 { font-weight: normal; }
#a-cover h1#book-name, #a-cover h3 { margin-top: 2em; }
#a-cover h2 { margin-top: 3em; }