.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre2 {
  display: block;
}
.calibre3 {
  text-decoration: underline;
}
.calibre4 {
  font-weight: bold;
}
.calibre5 {
  display: block;
}
.calibre6 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre7 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre8 {
  font-style: italic;
}
.calibre9 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre10 {
  font-family: "Sylfaen", "serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre11 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre12 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.calibre13 {
  font-family: "Sylfaen", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre14 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 17pt;
  margin: 0;
}
.calibre15 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 14pt;
  margin: 0;
}
.calibre16 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre17 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre18 {
  line-height: 1.2;
}
.calibre19 {
  font-family: "Sylfaen", "serif";
  font-size: 1.09091em;
  line-height: 1.2;
}
.calibre20 {
  display: block;
  line-height: 1.2;
}
.calibre21 {
  font-size: 1.09091em;
  line-height: 1.2;
}
.calibre22 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 15pt;
  margin: 0;
}
.calibre23 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  margin: 0;
}
.calibre24 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 16pt;
  margin: 0;
}
.calibre25 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 20pt;
  margin: 0;
}
.calibre26 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 19pt;
  margin: 0;
}
.calibre27 {
  font-style: normal;
}
.calibre28 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 18pt;
  margin: 0;
}
.calibre29 {
  font-size: 0.88889em;
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre30 {

  display: none;
  text-decoration: none;
}
.calibre31 {
  font-family: "Calibri", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre32 {
  color: #2E74B5;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre33 {
  color: gray;
  display: block;
  height: 2px;
  text-align: left;
  margin: 0.5em auto;
  border-top: currentColor solid 1px;
  border-right: currentColor none 1px;
  border-bottom: currentColor none 1px;
  border-left: currentColor none 1px;
}
.calibre34 {
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.font {
  font-family: "Trebuchet MS", "sans-serif";
}
.font1 {
  font-family: "Corbel", "sans-serif";
}
.font2 {
  font-family: "Garamond", "serif";
}
.font3 {
  font-family: "Sylfaen", "serif";
}
.font4 {
  font-family: "Constantia", "serif";
}
.font5 {
  font-family: "Verdana", "sans-serif";
}
.font6 {
  font-family: "Microsoft Sans Serif", "sans-serif";
}
.msoendnotereference {
  vertical-align: super;
}
.msohyperlink {
  color: blue;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
 
  text-indent: 1.5em;
  margin: 0 0 0 12pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-indent: 1.5em;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:link {
  color: blue;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: purple;
  text-decoration: underline;
}
