<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Çeşitli</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>5455F055DC69A4CBAB53E9AA449DD016</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>2D9F3D51240C4DCA49A337EB04662ACD</string>
		<key>publisher-unique-id</key>
		<string>c896b903-2d6d-4a2a-8018-c9286a29bc8d</string>
		<key>unique-id</key>
		<integer>2750845096886025689</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Osmanlı Devleti 1600-1908</string>
	<key>playlistName</key>
	<string>Osmanlı Devleti 1600-1908</string>
	<key>releaseDate</key>
	<string>2010-12-07T08:00:00+00:00</string>
</dict>
</plist>
