@font-face {
	src: url(../Fonts/Book-Antiqua.ttf);
	font-family: "Book Antiqua"
}

@font-face {
	src: url(../Fonts/Times-New-Roman.ttf);
	font-family: "Times New Roman"
}

@font-face {
	src: url(../Fonts/Book-Antiqua-Italic.ttf);
	font-family: "Book Antiqua";
	font-style: italic
}