body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:Arial,sans-serif;font-size:109%}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:center;margin-top:56.7pt;margin-bottom:0}
.p2{text-align:center;margin-bottom:14.2pt}
.p3{text-align:center;margin-top:70.9pt;margin-bottom:0}
.p4{line-height:200%;text-align:center;margin-top:18pt;margin-bottom:24pt}
.p6{margin-bottom:28.4pt}
.p7{margin-left:0.39in;margin-right:0.39in;margin-bottom:28.4pt}
.p8{margin-left:0.39in;margin-right:0.39in;text-align:center;margin-bottom:22.7pt}
.p9{margin-left:0.39in;margin-right:0.39in}
.p10{margin-left:0.39in;margin-right:0.39in;margin-bottom:14.2pt}
.p11{margin-left:0.39in;margin-right:0.39in;margin-bottom:22.7pt}
.p12{margin-left:0.39in;margin-right:0.39in;margin-bottom:7.1pt}
.p13{margin-left:0.39in;margin-right:0.39in;margin-bottom:2.9pt}
.p14{margin-bottom:0}
.p15{text-align:center;margin-bottom:28.4pt}
.p16{margin-left:0.39in;line-height:1;margin-right:0.39in;text-align:left;margin-bottom:28.4pt}
.t0{font-size:.83em}
.t1{font-family:"Magic School One";font-size:2.33em}
.t2{font-family:"Magic School One";font-size:2.33em}
.t3{font-family:"Magic School One";font-size:3em}
.t4{font-family:"Magic School One";font-size:1.67em;text-decoration:underline}
.t5{font-family:"Magic School One";font-size:1.67em}
.t6{font-family:"Magic School One";font-size:1.67em}
.t7{font-family:"Magic School One";font-size:1.67em}
.t8{font-family:Calibri,sans-serif;font-size:1em}
.t10{font-size:1em}
.t11{font-size:1em}
.t12{font-family:"Times New Roman",serif;font-size:1.17em}
.t13{font-family:"Times New Roman",serif;font-size:1.17em}
.t14{font-family:"Times New Roman",serif;font-size:1.17em}
.t15{font-family:"Magic School One";font-size:1em}
.t16{font-size:1em}
.t17{font-family:"Times New Roman",serif;font-size:1.67em}
.t18{font-family:"Times New Roman",serif;font-size:1.17em}