body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
p {
  text-indent: 2.4em;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 109%;
}
.p0 {
  text-indent: 0;
  margin-left: 0;
  margin-top: 2.4em;
}
.p1 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 2.4em;
}
.p2 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 1.2em;
}
.p3 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 3.5em;
}
.p4 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
}
.p5 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 4.7em;
}
.p6 {
  text-indent: 0;
  margin-left: 0;
  text-align: right;
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}
.p7 {
  text-indent: 0;
  margin-left: 0;
}
.p9 {
  text-indent: 0;
  margin-left: 0;
  text-align: left;
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}
.p10 {
  text-indent: 0;
  margin-left: 0;
  margin-top: 2.4em;
  margin-bottom: 1.2em;
}
.p11 {
  margin-top: 1.2em;
}
.p12 {
  text-indent: 0;
  margin-left: 2.4em;
}
.p13 {
  text-indent: 0;
  margin-left: 0;
  text-align: right;
}
.p14 {
  text-indent: 3.5em;
  margin-left: 0;
}
.p15 {
  text-indent: 4.7em;
  margin-left: 0;
}
.p16 {
  text-indent: 3.5em;
  margin-left: 2.4em;
  margin-top: 1.2em;
}
.p17 {
  text-align: left;
}
.t1 {
  font-size: 1.8em;
}
.t2 {
  font-size: 2.3em;
}
.t3 {
  font-size: 1.2em;
}
.t4 {
  font-size: 1.3em;
}
.t5 {
  color: #06c;
  text-decoration: underline;
}
