<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Anthony Burgess</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>90ABA8F8E361C333B3A85C3BC98B4CED</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>6F51C5E0A7EBBEDFA04DE22F337A7FC5</string>
		<key>publisher-unique-id</key>
		<string>uFUl4FMNu6hDkQ2e5Xa2xs3</string>
		<key>unique-id</key>
		<integer>6142344943204881117</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>Modern Klasikler</string>
	<key>itemName</key>
	<string>Doktor Hastalandı</string>
	<key>playlistName</key>
	<string>Doktor Hastalandı</string>
	<key>releaseDate</key>
	<string>2017-03-28T21:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Burgess, Anthony</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
