body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0.04in;line-height:150%;margin-right:0.04in;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:Arial,sans-serif;font-size:109%;color:black}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:center}
.p3{line-height:200%;text-align:center;margin-top:30pt;margin-bottom:30pt}
.p4{text-align:center;margin-bottom:5pt}
.t0{font-size:1em}
.t1{font-family:"Magic School One";font-size:3em}
.t2{font-family:"Magic School One";font-size:3em}
.t3{font-family:"Magic School One";font-size:1.67em}
.t4{font-family:"Magic School One";font-size:1.67em}
.t6{font-family:"Arial TUR";font-size:1em}
.t7{font-family:"Arial TUR";font-size:1em}
.t8{font-family:"Arial TUR";font-size:1em}
.t9{font-size:1em}
.t10{font-size:1em}
.t11{font-family:"Magic School One";font-size:1.67em}
.t12{font-family:"Times New Roman",serif;font-size:1em}
.t13{font-family:"Times New Roman TUR";font-size:1em}
.t14{font-family:"Times New Roman TUR";font-size:1em}
.t15{font-family:"Times New Roman TUR";font-size:1em}
.t16{font-family:"Arial TUR";font-size:1em}
.t17{font-family:"Times New Roman TUR";font-size:1em}
.t18{font-family:"Magic School One";font-size:1.67em}
.t19{font-family:Symbol;font-size:1em}
.t20{font-size:1em;color:red}
.t21{font-family:"Times New Roman",serif;font-size:1em}
.t22{font-size:1em;color:blue}