	@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}


@font-face {
	font-family: "Berling";
	font-weight: bold;
	font-style: normal;
	src:url("font/BerlingLTStd-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Goudy Cat";
	font-weight: normal;
	font-style: normal;
	src:url("font/GoudyStd.ttf") format("truetype");
}


/*COVER*/

.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*COPYRIGHT-PAGE*/

.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.75em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*TITLEPAGE*/

.title{
	text-align: center;
}

.aut{
	margin-top: 1.5em;
	font:normal normal 2.16em/1.2em "Goudy Cat";
	text-align: center;
}

.bfl {
	font-size: 1.2em;
}

.work {
	font:normal normal 2em/1.2em "Goudy Cat";
	margin-top: .5em;
}

.sub-work {
	font-size: .32em;
	display: block;
}

.seri{
		font-family: "Gill Sans";
		font-size: .92em;
		margin-top: 3em;
}

.trans{
	font-family: "Gill Sans";
	font-size: .9em;
	margin-top: 2em;
}

.trans span{
	display: block;
	font-size: 1.1em;
	margin-top: .5em;
}

.logo{
	margin: 3em auto 0 auto;
}

/*BIOGRAPHY*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	line-height: 1.4em;
	text-indent: 0;
}

.biography p:last-child{
	margin-top: 2em;
}

/*works*/

.books p{
	margin-top: 4em;
	font-family: "Gill Sans";
	font-size: .83em;
	text-indent: 0;
}

.books ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.books ul li {
	font-family: "Gill Sans";
	font-size: .83em;
	padding-bottom: .3em;
}

/*DEDICATION*/

.dedication .sub-container{
	text-align: right;
	margin-top: 5em;
	font-size:.83em;
	font-family: "Berling"
}

/*CHAPTER*/

.chapter .container {
	margin-top: 5em;
}

h1 {
	text-align: center;
	margin:0;
	font:normal normal 1.35em/1.3em "Berling";
}

h2 {
	text-align: center;
	font:normal bold 1em/1.3em "Berling";
	margin:2em 0 1em;
}

p {
	margin:0;
	font:normal normal .875em/1.3em "Berling";
	text-indent: 1.5em;
}

.chapter h1 + p {
	margin-top: 2.5em;
}

hr {
	border: none;
	text-align: center;
	margin:1.2em auto .7em;
}

hr:after{
	content: "* ";
	font:bold normal 1em/1em "Berling";
}

.container .dedication {
	margin-bottom: 2.5em;
	text-align: right;
	
}
/*AFTERWORD*/




/*FOOTNOTES*/

.footnotes{
	margin:3em 0 1em;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  line-height: 1em;
}
.si-footnotes{
	margin:4em 0 0em;
}

.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

.clear {
	clear:both;
}

/*MISC*/

.lvl1 {
	margin-top: 1em !important;
}

.lvl2 {
	margin-top: 2em !important;
}