@font-face{
	font-family:"Berling";
	font-style:italic;
	font-weight:normal;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}

@font-face{
	font-family:"Berling";
	font-style:normal;
	font-weight:normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face{
	font-family:"GillSans";
	font-style:italic;
	font-weight:normal;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}

@font-face{
	font-family:"GillSans";
	font-style:normal;
	font-weight:normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}

@font-face{
	font-family:"GoudyCat";
	font-style:normal;
	font-weight:normal;
	src:url("font/GoudyCatTReg.ttf") format("truetype");
}

/*cover*/
.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}
.cover-container img {
	width: 100%;
}
/*copyright-page*/
.press {
	margin-bottom: 1em;
}
.copyright-page .copy{
	display: block;
	text-align: left;
	margin-top: 1em;
}
.thank{
	display: block;
	text-align: center;
}
.copyright-page .publisher{
		display: block;
	text-align: center;
	margin-top: 2em;
}
.copyright-page span{
		display: block;
	text-align: left;
	font: normal normal .67em/1.3em "GillSans";
}
.copyright-page a{
	color:#777;
	text-decoration: none;
}
/*titlepage*/
.title {
	text-align: center;
}
.aut{
	margin-top: 2em;
	font:normal normal 2em/1.2em  "GoudyCat";
}
.aut .ilk-harf{
	font-size: 1.2em !important;
}
.work {
	font:normal normal 2em/1.1em  "GoudyCat";
	margin-top: .5em;
}
.seri{
		font:normal normal 1em/1.3em "GillSans";
		margin-top: 3.5em;
}
.publ{
	margin-top: 3.5em;
}
/*biography*/
.biography .container p{
font:normal normal .85em/1.5em "GillSans";
text-indent: 0;
}
a{
	color:#777;
	text-decoration: none;
}
/*works*/
.works .container p{
	margin-top: 4em;
	font-family: "GillSans";
	font-size: .8em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "GillSans";
	font-size: .8em;
	padding-bottom: .3em;
}

/*Dedication*/
.dedication p{
	font: normal normal .85em/1.3em "Berling";
	display: block;
	text-align: right;
	margin: 0;
}

.dedication .container{
	margin-top: 3.5em;
}

/*Chapter*/
.sayfa-bosluk{
	margin-top: 2em;
}
.chapter h1{
	font:normal normal 1.12em/1.3em "Berling";
	margin-top: 3.5em;
	margin-bottom: 2em;
	text-align: center;
}
.chapter p{
	font: normal normal .9em/1.3em "Berling";
	text-indent: 1.5em;
	margin:0;
}

.chapter .sag-metin{
	padding-right: .5em;
	display: block;
	text-align: right;
	margin-bottom: 1em;
}

/*common*/
.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "GillSans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

a{
	text-decoration: none;
	color: #7A7A7A;
}