 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 img { max-width: 100%; }
 .font0 { font-size:small; font-family: 'Calibri', sans-serif; }
 .font1 { font-size:medium; font-family: 'Calibri', sans-serif; }
 .font2 { font-size:large; font-family: 'Calibri', sans-serif; }
 .font3 { font-size:x-large; font-family: 'Calibri', sans-serif; }
 .font4 { font-size:x-large; font-family: 'Consolas', monospace; }
 .font5 { font-size:xx-large; font-family: 'Consolas', monospace; }
 .font6 { font-size:xx-large; font-family: 'Franklin Gothic Book', sans-serif; }
 .font7 { font-size:medium; font-family: 'Garamond', serif; }
 .font8 { font-size:xx-large; font-family: 'Georgia', serif; }
 .font9 { font-size:x-large; font-family: 'Impact', sans-serif; }
 .font10 { font-size:medium; font-family: 'Segoe UI', sans-serif; }
 .font11 { font-size:large; font-family: 'Segoe UI', sans-serif; }
 .font12 { font-size:small; font-family: 'Sylfaen', serif; }
 .font13 { font-size:medium; font-family: 'Sylfaen', serif; }
 .font14 { font-size:large; font-family: 'Sylfaen', serif; }
 .font15 { font-size:x-large; font-family: 'Sylfaen', serif; }
 .font16 { font-size:xx-large; font-family: 'Times New Roman', serif; }
