@namespace h "http://www.w3.org/1999/xhtml";
.altbilgi {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.baslik {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.baslik1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center
    }
.baslik2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block
    }
.calibre10 {
    height: 153;
    width: 261
    }
.calibre11 {
    height: 167;
    width: 302
    }
.calibre12 {
    height: 207;
    width: 311
    }
.calibre13 {
    height: 238;
    width: 284
    }
.calibre2 {
    display: block;
    page-break-after: always
    }
.calibre3 {
    font-weight: bolder
    }
.calibre4 {
    height: 275;
    text-align: middle;
    width: 213
    }
.calibre5 {
    height: 317;
    width: 218
    }
.calibre6 {
    height: 144;
    width: 270
    }
.calibre7 {
    height: auto;
    width: auto
    }
.calibre8 {
    height: 196;
    width: 285
    }
.calibre9 {
    height: 146;
    width: 296
    }
.g-vde-metni-girintisi {
    display: list-item
    }
.kapakmetin {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.kapakmetin1 {
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.leftimage {
    float: left;
    height: 118;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    width: 291
    }
.leftimage1 {
    float: left;
    height: 120;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    width: 296
    }
.normal {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: list-item;
    font-size: 1em;
    text-align: justify;
    text-indent: 0.75em
    }
.siir {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.solbaslik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.word-imported-list {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Regular.ttf);
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Italic.ttf);
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(../Fonts/LiberationSerif-Bold.ttf);
}
