@font-face {
  font-family: "Book Antiqua";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/ANTQUAB.TTF);
  }
@font-face {
  font-family: "Book Antiqua";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/BKANT.TTF);
  }
@font-face {
  font-family: "Book Antiqua";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/ANTQUAI.TTF);
  }
@font-face {
  font-family: "Book Antiqua";
  font-style: italic;
  font-weight: bold;
  src: url(../Fonts/ANTQUABI.TTF);
  }
body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
p {
  text-indent: 2em;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Book Antiqua", serif;
  font-size: 127%;
  background: white;
}
.p0 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}
.p1 {
  text-indent: 0;
  margin-left: 0;
  margin-bottom: 1em;
}
.p2 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 1em;
}
.p3 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
}
.p4 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4.1em;
}
.p5 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 4.1em;
}
.p6 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 1.6em;
}
.p7 {
  text-indent: 2em;
  margin-left: 1.3em;
  margin-right: 1.3em;
  text-align: justify;
}
.p8 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 4.1em;
  margin-bottom: 2em;
}
.p9 {
  text-indent: 0;
  margin-left: 0;
}
.p10 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.p11 {
  margin-bottom: 1em;
}
.p12 {
  margin-top: 1em;
}
.p13 {
  text-indent: 0;
  margin-left: 0;
  margin-top: 1em;
}
.p14 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p15 {
  text-indent: 0;
  margin-left: 0;
  text-align: center;
  margin-top: 3em;
}
.t0 {
  font-size: 1.3em;
  line-height: 100%;
}
.t4 {
  letter-spacing: 0.12em;
}
.t5 {
  font-size: 0.71em;
  line-height: 100%;
}
.t6 {
  font-size: 0.71em;
  line-height: 100%;
  letter-spacing: 0.12em;
}
.t7 {
  font-size: 1.6em;
  line-height: 100%;
}
.t8 {
  font-size: 2em;
  line-height: 100%;
}
