.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    display: block
    }
.calibre6 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    display: list-item
    }
.calibre8 {
    height: 16pt;
    width: 19pt
    }
.calibre9 {
    height: 17pt;
    width: 17pt
    }
