body {font-family:'Microsoft Sans Serif',serif}
span.Bodytext7 {font-family:Tahoma,serif;font-size:38%;text-decoration:none}
span.Footnote2NotItalic {font-family:Sylfaen,serif;font-style:italic;font-size:75%;text-decoration:none}
span.Bodytext3NotItalic {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.Footnote3Italic {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.Footnote {font-family:Sylfaen,serif;font-size:75%;text-decoration:none}
span.Heading1 {font-family:Sylfaen,serif;font-weight:bold;font-size:183%;text-decoration:none;letter-spacing:1.0al}
span.Bodytext2Italic {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.Bodytext2a {font-family:Sylfaen,serif;font-size:88%;text-decoration:underline}
span.Footnote3 {font-family:Sylfaen,serif;font-size:88%;text-decoration:none}
span.Bodytext2 {font-family:Sylfaen,serif;font-size:88%;text-decoration:none}
span.Bodytext4 {font-family:Tahoma,serif;font-size:38%;text-decoration:none}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FootnoteItalic1 {font-family:Sylfaen,serif;font-style:italic;font-size:75%;text-decoration:none;letter-spacing:1.0al}
span.Bodytext6 {font-family:'Book Antiqua',serif;font-style:italic;font-size:33%;text-decoration:none}
span.Bodytext3a {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.FootnoteItalic {font-family:Sylfaen,serif;font-style:italic;font-size:75%;text-decoration:none}
span.Footnote2 {font-family:Sylfaen,serif;font-style:italic;font-size:75%;text-decoration:none}
span.FootnoteSymbol {}
span.Bodytext5Italic {font-family:Sylfaen,serif;font-style:italic;font-size:75%;text-decoration:none;letter-spacing:1.0al}
span.Footnote6 {font-family:Sylfaen,serif;font-style:italic;font-size:54%;text-decoration:none}
span.Bodytext3 {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.Bodytext29pt {font-family:Sylfaen,serif;font-size:75%;text-decoration:none}
span.Footnote10 {font-family:Sylfaen,serif;font-style:italic;font-size:88%;text-decoration:none}
span.Bodytext5 {font-family:Sylfaen,serif;font-size:75%;text-decoration:none}
a:link {color:#0066cc;text-decoration:underline}
p.Footnote {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:left;color:#000000}
p.Bodytext4 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-align:center;font-family:Tahoma,serif;font-size:38%;color:#00000a}
p.Bodytext31 {margin-left:0.0cm;margin-right:0.0cm;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-indent:0.564cm;text-align:justify;font-family:Sylfaen,serif;font-style:italic;font-size:88%;color:#00000a}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-align:left;color:#000000}
p.Bodytext6 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-align:center;font-family:'Book Antiqua',serif;font-style:italic;font-size:33%;color:#00000a}
p.Bodytext21 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-align:left;font-family:Sylfaen,serif;font-size:88%;color:#00000a}
p.Bodytext7 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-align:center;font-family:Tahoma,serif;font-size:38%;color:#00000a}
p.Footnoteuser {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;background-color:#ffffff;text-align:justify;font-family:Sylfaen,serif;font-size:75%;color:#00000a}
.frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
.frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0}
hr.footnoterule {margin-top:0.101cm;margin-bottom:0.101cm;height:0.018cm;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
