@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre10 {
    height: 290;
    width: 200
    }
.calibre11 {
    height: 252;
    width: 200
    }
.calibre12 {
    height: 274;
    width: 200
    }
.calibre13 {
    height: 294;
    width: 200
    }
.calibre14 {
    height: 745;
    width: 494
    }
.calibre15 {
    height: 732;
    width: 561
    }
.calibre16 {
    height: 676;
    width: 527
    }
.calibre17 {
    height: 610;
    width: 446
    }
.calibre18 {
    height: 723;
    width: 503
    }
.calibre19 {
    height: 395;
    width: 567
    }
.calibre2 {
    height: 38;
    width: 123
    }
.calibre20 {
    height: 424;
    width: 400
    }
.calibre21 {
    height: 506;
    width: 400
    }
.calibre22 {
    height: 541;
    width: 300
    }
.calibre23 {
    height: 251;
    width: 426
    }
.calibre24 {
    height: 464;
    width: 270
    }
.calibre25 {
    height: 262;
    width: 600
    }
.calibre26 {
    height: 526;
    width: 550
    }
.calibre27 {
    height: 358;
    width: 600
    }
.calibre28 {
    height: 348;
    width: 600
    }
.calibre29 {
    height: 494;
    width: 500
    }
.calibre3 {
    height: 4;
    width: 123
    }
.calibre30 {
    height: 499;
    width: 550
    }
.calibre31 {
    height: 380;
    width: 600
    }
.calibre32 {
    height: 294;
    width: 600
    }
.calibre33 {
    height: 462;
    width: 550
    }
.calibre34 {
    height: 306;
    width: 600
    }
.calibre35 {
    height: 474;
    width: 550
    }
.calibre36 {
    height: 427;
    width: 500
    }
.calibre37 {
    height: 392;
    width: 650
    }
.calibre38 {
    height: 542;
    width: 510
    }
.calibre39 {
    height: 339;
    width: 650
    }
.calibre4 {
    height: 99;
    width: 90
    }
.calibre40 {
    height: 375;
    width: 650
    }
.calibre41 {
    height: 274;
    width: 650
    }
.calibre42 {
    height: 543;
    width: 450
    }
.calibre43 {
    height: 369;
    width: 635
    }
.calibre44 {
    height: 423;
    width: 650
    }
.calibre45 {
    height: 531;
    width: 550
    }
.calibre46 {
    height: 475;
    width: 650
    }
.calibre47 {
    height: 249;
    width: 346
    }
.calibre48 {
    height: 334;
    width: 500
    }
.calibre49 {
    height: 259;
    width: 426
    }
.calibre5 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre50 {
    height: 260;
    width: 426
    }
.calibre51 {
    height: 331;
    width: 500
    }
.calibre52 {
    height: 322;
    width: 500
    }
.calibre53 {
    height: 327;
    width: 500
    }
.calibre54 {
    height: 316;
    width: 500
    }
.calibre55 {
    height: 304;
    width: 471
    }
.calibre56 {
    height: 296;
    width: 426
    }
.calibre57 {
    height: 343;
    width: 500
    }
.calibre58 {
    height: 299;
    width: 426
    }
.calibre6 {
    height: 255;
    width: 200
    }
.calibre7 {
    height: 253;
    width: 200
    }
.calibre8 {
    height: 278;
    width: 200
    }
.calibre9 {
    height: 261;
    width: 200
    }
.chapter {
    display: block
    }
.clrb {
    clear: both;
    display: block
    }
.h1baslik {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.idebold {
    font-weight: bold
    }
.idebolditalik {
    font-style: italic;
    font-weight: bold
    }
.ideitalik {
    font-style: italic
    }
.kitapickapak {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.ortaitalik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.ortayazi {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resimalti {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center
    }
.resimalti1 {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: center
    }
.sagnormal {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.solbaslik {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    page-break-before: always;
    text-align: justify;
    text-indent: 0.75em
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;

}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;

}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;

}

@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;


}

@font-face {
font-style: normal;
font-family: 'Arial', sans-serif;
font-weight: normal;


}

@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: normal;


}

@font-face {

font-style: normal;
font-family: 'Arial',sans-serif;
font-weight: bold;

}


@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: bold;

}