.heading1 { text-align: center; font-weight: bold; font-size: 2em; }
.heading2 { text-align: center; font-weight: bold; font-size: 1.5em; }
.image_inline { vertical-align: baseline; }
.image_block { vertical-align: baseline; }
p {text-indent: 1.5em; }
.main { display: block; font-size: 1em; margin-bottom: 0; margin-left: 5pt; margin-right: 5pt; margin-top: 0; padding-left: 0; padding-right: 0; text-align: justify }
.hyper { text-decoration: underline; }
.heading0 { text-indent: 1em; text-align: justify; font-size: 1em; margin-top:0.5em; margin-bottom:0.5em }