p {
  font-size: 1em;
}
i, em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
blockquote {
  margin: 1.5em 0;
}
.kapak_resmi {
  text-align: center;
  margin: 0;
  padding: 0;
}
.ic_kapak_1, .ithaf, .alinti, .bilgi, .ana_baslik {
  margin: 5em 0 1em;
}
.ic_kapak_2 {
  margin: 1em 0;
}
.kitap_adi, .yazar_adi, .cevirmenlerin_adlari, .yayinevi_adi, .baslik_1, .baslik_2 {
  font-weight: normal;
  text-align: center;
}
.kitap_adi, .yazar_adi, .cevirmenlerin_adlari, .yayinevi_adi {
  margin: 0;
}
.baslik_1, .baslik_2 {
  margin: 1em 0;
}
.kitap_adi {
  font-size: 2em;
}
.baslik_1 {
  font-size: 1.7em;
}
.yazar_adi, .baslik_2 {
  font-size: 1.5em;
}
.cevirmenlerin_adlari, .yayinevi_adi {
  font-size: 1em;
}
.kunye p {
  font-size: 0.875em;
  text-align: center;
  margin: 0;
}
.kunye_1 {
  margin: 3em 0 1.5em;
}
.kunye_2 {
  margin: 1.5em 0;
}
.kunye_3 {
  margin: 4.5em 0 1.5em;
}
.yazar {
  margin: 3em 0 1.5em;
}
.ithaf p, .alinti p, .bilgi p {
  text-indent: 0;
  margin: 0;
}
.ithaf p, .alinti p {
  text-align: right;
}
.bilgi p {
  text-align: center;
}
.yazar p, .bolum p {
  text-indent: 1.5em;
  margin: 0;
}
.duzyazi_1 {
  margin-left: 3em;
}
.duzyazi_2, .siir {
  margin-left: 1.5em;
}
blockquote.siir p {
  text-indent: 0;
}
p.orta {
  text-align: center;
  text-indent: 0;
  margin: 1.5em 0;
}
p.bolum_basi {
  margin-top: 4.5em;
}
p.paragraf {
  margin-top: 1.5em;
}
.dipnotlar p {
  text-indent: 0;
  margin: 1em 0;
}
