
body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;margin-top:0;margin-bottom:0;font-family:"Liberation Serif",serif;font-size:91%}
.p1{text-align:center;margin-top:6pt}
.p2{line-height:100%}
.p3{text-align:center}
.p4{margin-bottom:5pt}
.p5{margin-left:0.14in;margin-bottom:5pt}
.p6{margin-bottom:10pt}
.p7{text-align:right}
.p8{margin-top:10pt}
.p9{text-indent:0.28in;margin-left:0.01in;margin-right:0.01in;margin-bottom:10pt}
.p10{text-indent:0.28in;margin-left:0.01in;margin-bottom:12pt}
.p11{margin-left:0.29in;line-height:13.7pt;margin-right:0.28in;text-align:justify}
.p12{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;margin-bottom:10pt}
.p13{text-indent:0.28in;margin-left:0.03in;line-height:13.2pt;margin-right:0.04in;margin-bottom:10pt}
.p14{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p15{text-indent:0.26in;margin-left:0.01in;line-height:13.2pt;margin-right:0.01in;margin-bottom:10pt}
.p16{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:15.2pt}
.p17{text-indent:0.28in;margin-left:0.01in;line-height:9.5pt;margin-bottom:11.9pt}
.p18{margin-left:0.29in;line-height:13.9pt;margin-right:0.26in;text-align:justify}
.p19{margin-left:0.29in;line-height:13.9pt;margin-right:0.26in;text-align:justify;margin-bottom:12pt}
.p20{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:10pt}
.p21{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:15.6pt}
.p22{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p23{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-bottom:12pt}
.p24{margin-left:0.32in;line-height:13.5pt;margin-right:0.28in;text-align:justify;margin-bottom:18.2pt}
.p25{text-indent:0.28in;margin-left:0.01in;line-height:9.5pt;margin-bottom:1.2pt}
.p26{text-indent:0.28in;margin-left:0.01in;line-height:9.5pt;margin-bottom:12.7pt}
.p27{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:15pt}
.p28{margin-left:0.29in;line-height:13.9pt;margin-right:0.29in;text-align:justify}
.p29{margin-left:0.04in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p30{text-indent:0.28in;margin-left:0.01in;line-height:8.5pt;text-align:justify;margin-bottom:12.5pt}
.p31{margin-left:0.28in;line-height:13.5pt;margin-right:0.28in;text-align:justify;margin-bottom:12pt}
.p32{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p33{text-indent:0.28in;margin-left:0.06in;margin-right:0.07in;margin-bottom:10pt}
.p34{text-indent:0.28in;margin-left:0.06in;margin-right:0.07in;margin-bottom:9.4pt}
.p35{text-indent:0.28in;margin-left:0.06in;line-height:13.9pt;margin-right:0.07in;margin-bottom:10pt}
.p36{text-indent:0.28in;margin-left:0.03in;line-height:13.9pt;margin-right:0.04in;margin-bottom:10pt}
.p37{text-indent:0.28in;margin-left:0.04in;margin-right:0.13in;margin-bottom:2.8pt}
.p38{text-indent:0.28in;margin-left:0.04in;line-height:13.9pt;margin-right:0.13in;margin-bottom:10pt}
.p39{line-height:9.5pt;text-align:center;margin-bottom:25.3pt}
.p40{line-height:13.5pt;text-align:center}
.p41{line-height:13.5pt;text-align:center;margin-bottom:39pt}
.p42{text-indent:0.49in;margin-left:0;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p43{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;margin-bottom:10pt}
.p44{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;margin-bottom:10pt}
.p45{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-bottom:10pt}
.p46{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;margin-bottom:15.2pt}
.p47{text-indent:0.28in;margin-left:0.03in;line-height:14.4pt;margin-right:0.03in;margin-bottom:10pt}
.p48{text-indent:0.28in;margin-left:0.03in;line-height:13.9pt;margin-right:0.03in;margin-bottom:10pt}
.p49{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:15.2pt}
.p50{text-indent:0.29in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:11.8pt}
.p51{margin-left:0.31in;line-height:14.2pt;margin-right:0.26in;text-align:justify}
.p52{margin-left:0.28in;line-height:13.9pt;margin-right:0.28in;text-align:justify;margin-bottom:12.2pt}
.p53{text-indent:0.28in;margin-left:0.01in;margin-bottom:10pt}
.p54{text-indent:0.26in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:10pt}
.p55{text-indent:0.26in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:15.6pt}
.p56{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;margin-bottom:12pt}
.p57{text-indent:0.28in;margin-left:0;margin-bottom:10pt}
.p58{margin-left:1.5in;line-height:4.5pt;margin-bottom:29.4pt}
.p59{margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p60{margin-left:0.28in;line-height:13.7pt;margin-right:0.32in;text-align:justify;margin-bottom:11.7pt}
.p61{text-indent:0.26in;margin-left:0.01in;line-height:14.2pt;margin-right:0.01in;margin-bottom:10pt}
.p62{text-indent:0.26in;margin-left:0.01in;line-height:14.2pt;margin-right:0.01in;margin-bottom:15.8pt}
.p63{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.04in;margin-bottom:10pt}
.p64{line-height:9.5pt;margin-right:0.06in;text-align:center;margin-bottom:29.9pt}
.p65{line-height:13.7pt;margin-right:0.01in;text-align:center}
.p66{line-height:13.7pt;margin-right:0.01in;text-align:center;margin-bottom:51.2pt}
.p67{text-indent:0.33in;margin-left:0;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p68{line-height:13.5pt;margin-right:0.01in;text-align:center;margin-bottom:10pt}
.p69{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:10pt}
.p70{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.01in;margin-bottom:10pt}
.p71{margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:15.2pt}
.p72{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:10pt}
.p73{margin-left:0.28in;line-height:13.5pt;margin-right:0.28in;text-align:justify;margin-bottom:15.2pt}
.p74{text-indent:0.28in;margin-left:0;line-height:13.5pt;margin-bottom:3pt}
.p75{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:10pt}
.p76{text-indent:0.26in;margin-left:0.01in;line-height:13.2pt;margin-right:0.03in;margin-bottom:10pt}
.p77{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:15.2pt}
.p78{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.03in;margin-bottom:10pt}
.p79{line-height:16.1pt;margin-right:1.15in;margin-bottom:26.3pt}
.p80{text-align:center;margin-bottom:10pt}
.p81{margin-left:0.72in;line-height:8.5pt;text-align:center;margin-bottom:1.8pt}
.p82{margin-left:1.75in;line-height:9pt;text-align:justify;margin-bottom:39.7pt}
.p83{text-indent:0.33in;margin-left:0;margin-right:0.01in;margin-bottom:10pt}
.p84{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:11.5pt}
.p85{margin-left:0.31in;line-height:14.2pt;margin-right:0.26in;margin-bottom:10pt}
.p86{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;margin-bottom:15pt}
.p87{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-bottom:10pt}
.p88{margin-left:0.03in;line-height:13.2pt;margin-right:0.03in;text-align:justify;margin-bottom:3pt}
.p89{margin-left:0.03in;line-height:13.2pt;margin-right:0.03in;text-align:justify;margin-bottom:10pt}
.p90{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:10pt}
.p91{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-bottom:10pt}
.p92{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:15.2pt}
.p93{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;margin-bottom:1.1pt}
.p94{text-indent:0.28in;margin-left:0.01in;line-height:27.1pt;text-align:justify}
.p95{text-indent:0.28in;margin-left:0.01in;line-height:27.1pt;margin-bottom:10pt}
.p96{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;margin-bottom:10pt}
.p97{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p98{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;text-align:justify;margin-bottom:10pt}
.p99{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p100{margin-left:0.01in;line-height:8.5pt;text-align:center;margin-bottom:6pt}
.p101{margin-left:0.02in;line-height:10pt;text-align:center;margin-bottom:6pt}
.p102{margin-left:0.01in;line-height:13.5pt;text-align:center}
.p103{text-indent:0.4in;margin-left:0.01in;line-height:13.2pt;margin-right:0.01in;margin-bottom:10pt}
.p104{text-indent:0.28in;margin-left:0.03in;line-height:13.2pt;margin-right:0.03in;margin-bottom:18pt}
.p105{text-indent:0.26in;margin-left:0.03in;margin-right:0.03in;margin-bottom:10pt}
.p106{text-indent:0.26in;margin-left:0.01in;margin-bottom:15.4pt}
.p107{text-indent:0.26in;margin-left:0.01in;line-height:13.9pt;margin-bottom:10pt}
.p108{line-height:4.5pt;margin-bottom:29.4pt}
.p109{margin-left:0.26in;line-height:13.7pt;margin-right:0.31in;text-align:justify;margin-bottom:9.6pt}
.p110{text-indent:0.26in;margin-left:0.01in;line-height:13pt;margin-right:0.01in;margin-bottom:10pt}
.p111{margin-left:0.03in;line-height:13pt;margin-right:0.03in;margin-bottom:10pt}
.p112{text-indent:0.28in;margin-left:0.03in;line-height:13pt;margin-right:0.03in;margin-bottom:10pt}
.p113{text-indent:0.28in;margin-left:0.03in;line-height:9.5pt;margin-bottom:6.7pt}
.p114{text-indent:0.28in;margin-left:0.03in;line-height:13pt;text-align:justify}
.p115{text-indent:0.28in;margin-left:0.03in;line-height:13pt;text-align:justify;margin-bottom:6pt}
.p116{margin-left:0.01in;line-height:13.5pt;text-align:justify;margin-bottom:10pt}
.p117{margin-left:0.26in;line-height:14.4pt;margin-right:0.31in;text-align:justify;margin-bottom:12pt}
.p118{text-indent:0.26in;margin-left:0;line-height:14.4pt;margin-right:0.01in;margin-bottom:10pt}
.p119{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.03in;margin-bottom:10pt}
.p120{margin-left:0.28in;line-height:9.5pt;margin-bottom:10pt}
.p121{line-height:14.2pt;margin-right:0.01in;text-align:center}
.p122{line-height:1;margin-right:0.01in;text-align:center;margin-top:18pt;margin-bottom:30pt}
.p123{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:-0.01in;text-align:justify}
.p124{text-indent:0.69in;margin-left:0.01in;line-height:13.5pt;margin-right:-0.01in;text-align:justify}
.p125{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:14.8pt}
.p126{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p127{text-indent:0.28in;margin-left:0.03in;line-height:13.2pt;margin-right:0.01in;text-align:justify}
.p128{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p129{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p130{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:14.8pt}
.p131{text-indent:0.26in;margin-left:0.03in;line-height:9.5pt;text-align:justify}
.p132{margin-left:0.07in;line-height:13.5pt;margin-right:0.07in;text-align:justify}
.p133{text-indent:0.25in;margin-left:0.07in;line-height:13.5pt;margin-right:0.07in;text-align:justify}
.p134{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p135{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;text-align:justify}
.p136{text-indent:0.26in;margin-left:0.04in;line-height:13.5pt;margin-right:0.06in;text-align:justify}
.p137{text-indent:0.28in;margin-left:0.03in;line-height:13.2pt;margin-right:0.06in;text-align:justify}
.p138{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.06in;text-align:justify}
.p139{text-indent:0.28in;margin-left:0.03in;line-height:13pt;margin-right:0.06in;text-align:justify}
.p140{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:14.8pt}
.p141{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p142{text-indent:0.28in;margin-left:0.03in;line-height:9.5pt;text-align:justify}
.p143{margin-left:0.03in;line-height:13.2pt;margin-right:0.04in;text-align:justify;margin-bottom:17.6pt}
.p144{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p145{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify;margin-bottom:15.2pt}
.p146{margin-left:0.29in;line-height:13.2pt;margin-right:0.38in;text-align:center;margin-bottom:15pt}
.p147{margin-left:0.4in;line-height:14.2pt;text-align:center;margin-bottom:15pt}
.p148{text-indent:0.82in;margin-left:0.01in;margin-top:18pt}
.p149{text-indent:0.82in;margin-left:0.01in;text-align:justify;margin-top:18pt}
.p150{margin-right:0.11in;text-align:justify}
.p151{text-indent:0.82in;margin-left:0.01in;margin-right:0.11in;text-align:justify}
.p152{margin-left:0.01in;margin-right:0.11in;text-align:justify}
.p153{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:15.2pt}
.p154{text-indent:0.28in;margin-left:0.01in;margin-right:0.01in;text-align:justify}
.p155{text-indent:0.28in;margin-left:0.01in;text-align:center;margin-top:9pt;margin-bottom:12.3pt}
.p156{margin-left:0.29in;line-height:14.2pt;margin-right:0.31in;text-align:center;margin-bottom:12pt}
.p157{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-bottom:14.8pt}
.p158{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.01in;text-align:justify}
.p159{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p160{text-indent:0.28in;margin-left:0.01in;line-height:9.5pt;text-align:justify;margin-bottom:27.9pt}
.p161{text-align:center;margin-bottom:2.9pt}
.p162{margin-top:18pt;margin-bottom:37.5pt}
.p163{text-indent:0.63in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p164{text-indent:0.28in;margin-left:0.04in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p165{text-indent:0.28in;margin-left:0.04in;line-height:13.2pt;margin-right:0.04in;text-align:justify}
.p166{text-indent:0.28in;margin-left:0.04in;line-height:13.5pt;margin-right:0.04in;text-align:justify;margin-bottom:12.2pt}
.p167{text-indent:-0.17in;margin-left:0.47in;line-height:13.2pt;margin-right:0.26in}
.p168{text-indent:0.28in;margin-left:0.01in;line-height:9.5pt;text-align:justify;margin-bottom:12.8pt}
.p169{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p170{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.04in;text-align:justify}
.p171{text-indent:0.28in;margin-left:0.08in;line-height:13.7pt;margin-right:0.06in;text-align:justify}
.p172{text-indent:0.31in;margin-left:0.04in;line-height:12.3pt;margin-right:0.1in;text-align:justify}
.p173{text-indent:0.31in;margin-left:0.04in;line-height:11.3pt;margin-right:0.1in;text-align:justify;margin-bottom:16.1pt}
.p174{text-indent:0.31in;margin-left:0.04in;line-height:13.2pt;margin-right:0.1in;text-align:justify}
.p175{text-indent:0.31in;margin-left:0.04in;line-height:13pt;margin-right:0.1in;text-align:justify}
.p176{text-indent:0.31in;margin-left:0.04in;line-height:13.5pt;margin-right:0.1in;text-align:justify}
.p177{margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p178{text-indent:0.31in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p179{text-indent:0.31in;margin-left:0.03in;line-height:13.2pt;margin-right:0.04in;text-align:justify}
.p180{text-indent:0.31in;margin-left:0.03in;line-height:9.5pt;text-align:justify;margin-bottom:12.3pt}
.p181{margin-left:0.33in;line-height:14.2pt;margin-right:0.25in;text-align:center;margin-bottom:15pt}
.p182{margin-left:0.32in;line-height:14.2pt;margin-right:0.26in;text-align:center;margin-bottom:15pt}
.p183{margin-left:0.32in;line-height:14.2pt;margin-right:0.26in;text-align:center;margin-bottom:14.8pt}
.p184{text-indent:0.31in;margin-left:0.01in;line-height:13.2pt;margin-right:0.03in;text-align:justify}
.p185{text-indent:0.31in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p186{text-indent:0.28in;margin-left:0.06in;line-height:13.7pt;margin-right:0.04in;text-align:justify}
.p187{text-indent:0.28in;margin-left:0.06in;margin-right:0.04in;text-align:justify}
.p188{text-indent:0.28in;margin-left:0.06in;text-align:justify}
.p189{text-indent:0.26in;margin-left:0.03in;line-height:13pt;margin-right:0.03in;text-align:justify}
.p190{text-indent:0.26in;margin-left:0.03in;line-height:13.2pt;margin-right:0.03in;text-align:justify}
.p191{text-indent:0.26in;margin-left:0.03in;line-height:12.5pt;margin-right:0.03in;text-align:justify}
.p192{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p193{text-indent:-1.38in;margin-left:0;line-height:12pt;margin-bottom:23.2pt}
.p194{margin-left:0.31in;line-height:13.5pt;margin-right:0.28in;margin-top:9pt;margin-bottom:14.8pt}
.p195{text-indent:0.29in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p196{text-indent:0.32in;margin-left:0.07in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:11.8pt}
.p197{margin-left:0.01in;line-height:13.5pt}
.p198{line-height:13.9pt;margin-right:0.03in;text-align:center;margin-bottom:15pt}
.p199{line-height:13.9pt;margin-right:0.03in;margin-top:18pt}
.p200{text-indent:0.26in;margin-left:0.03in;line-height:13.7pt;margin-right:0.01in;text-align:justify}
.p201{text-indent:0.31in;margin-left:0.04in;line-height:13.9pt;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p202{text-indent:0.31in;margin-left:0.04in;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p203{text-indent:0.31in;margin-left:0.04in;text-align:justify;margin-top:6pt}
.p204{text-indent:0.28in;margin-left:0.03in;margin-right:0.06in;text-align:justify;margin-top:6pt;margin-bottom:16.2pt}
.p205{text-indent:0.28in;margin-left:0.03in;line-height:13pt;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p206{text-indent:0.28in;margin-left:0.03in;line-height:13.2pt;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p207{text-indent:0.28in;margin-left:0.03in;line-height:12.7pt;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p208{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p209{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p210{line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p211{margin-left:0.03in;line-height:13.7pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p212{text-indent:0.28in;margin-left:0.01in;line-height:13.7pt;text-align:justify;margin-bottom:10pt}
.p213{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:16pt}
.p214{margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p215{margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify;margin-bottom:3pt}
.p216{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-top:6pt;margin-bottom:16pt}
.p217{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-top:6pt}
.p218{line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-top:6pt}
.p219{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:16pt}
.p220{text-indent:0.26in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p221{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;text-align:justify;margin-top:6pt}
.p222{text-indent:0.28in;margin-left:0.01in;text-align:center;margin-top:6pt}
.p223{text-indent:0.28in;margin-left:0;text-align:center;margin-bottom:54.8pt}
.p224{text-indent:0.29in;margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p225{text-indent:0.29in;margin-left:0.01in;line-height:13.7pt;text-align:justify;margin-top:6pt}
.p226{margin-left:0.03in;line-height:13pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p227{text-indent:0.26in;margin-left:0.03in;line-height:13pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p228{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:11.1pt}
.p229{text-indent:0.28in;margin-left:0.01in;line-height:14.7pt;text-align:justify;margin-bottom:10pt}
.p230{text-indent:0.28in;margin-left:0.01in;line-height:14.7pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p231{text-indent:0.28in;margin-left:0.01in;line-height:14.7pt;text-align:justify;margin-bottom:12.4pt}
.p232{text-indent:0.28in;margin-left:0.01in;line-height:14.2pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p233{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p234{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;text-align:justify;margin-top:6pt}
.p235{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:16.4pt}
.p236{text-indent:0.28in;margin-left:0.01in;line-height:8.5pt;text-align:center}
.p237{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;text-align:center}
.p238{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p239{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;text-align:justify;margin-top:6pt}
.p240{text-indent:0.28in;margin-left:0;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p241{margin-left:0.01in;text-align:center}
.p242{text-indent:0.28in;margin-left:0.01in;text-align:center;margin-bottom:39.6pt}
.p243{text-indent:0.28in;margin-left:0.01in;text-align:justify}
.p244{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:22.4pt}
.p245{text-indent:0.28in;margin-left:0.01in;line-height:8.5pt;text-align:justify;margin-top:6pt;margin-bottom:12pt}
.p246{margin-left:0.29in;margin-right:0.28in;text-align:center}
.p247{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:10pt}
.p248{text-indent:0.28in;margin-left:0.01in;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p249{text-indent:0.28in;margin-left:0.01in;text-align:justify;margin-top:6pt}
.p250{text-indent:0.28in;margin-left:0.03in;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p251{text-indent:0.28in;margin-left:0.03in;line-height:13.9pt;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p252{margin-left:0.04in;line-height:14.2pt;text-align:center;margin-top:6pt}
.p253{text-indent:0.29in;margin-left:0.04in;line-height:14.2pt;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p254{text-indent:0.29in;margin-left:0.04in;line-height:14.2pt;margin-right:0.06in;text-align:justify;margin-top:6pt;margin-bottom:13.6pt}
.p255{text-indent:0.29in;margin-left:0.04in;margin-right:0.06in;text-align:justify;margin-top:6pt}
.p256{text-indent:0.26in;margin-left:0.04in;text-align:justify;margin-top:6pt;margin-bottom:12.5pt}
.p257{margin-left:0.31in;line-height:13.5pt;margin-right:0.36in;text-align:center;margin-bottom:10pt}
.p258{text-indent:0.26in;margin-left:0.04in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-top:6pt}
.p259{margin-left:0.26in;line-height:13.7pt;margin-right:0.32in;text-align:justify;margin-bottom:14.8pt}
.p260{text-indent:0.25in;margin-left:0;line-height:13.7pt;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p261{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify;margin-top:6pt}
.p262{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;text-align:justify;margin-top:6pt}
.p263{text-indent:0.29in;margin-left:0.03in;line-height:13.7pt;margin-right:0.04in;text-align:justify;margin-bottom:10pt}
.p264{text-indent:0.28in;margin-left:0.03in;line-height:13.9pt;margin-right:0.04in;text-align:justify;margin-bottom:10pt}
.p265{text-indent:0.28in;margin-left:0.01in;line-height:8.5pt;text-align:justify;margin-top:6pt}
.p266{text-indent:0.33in;margin-left:0.07in;line-height:13.2pt;margin-right:0.11in;text-align:justify;margin-top:6pt}
.p267{text-indent:0.33in;margin-left:0.07in;line-height:13.5pt;margin-right:0.11in;text-align:justify;margin-top:6pt}
.p268{text-indent:0.25in;margin-left:0.07in;line-height:13.2pt;margin-right:0.11in;text-align:justify;margin-top:6pt}
.p269{line-height:13.2pt;margin-right:0.11in;text-align:justify;margin-top:6pt}
.p270{text-indent:0.28in;margin-left:0.01in;text-align:center}
.p271{line-height:14.2pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p272{margin-right:0.01in;text-align:justify;margin-top:6pt}
.p273{text-indent:0.26in;margin-left:0.01in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-top:6pt}
.p274{margin-left:0.03in;line-height:13.9pt;margin-right:0.01in;text-align:justify;margin-bottom:10pt}
.p275{line-height:14.2pt;margin-right:0.32in;text-align:justify;margin-bottom:11.8pt}
.p276{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.03in;text-align:justify;margin-top:6pt}
.p277{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.03in;text-align:justify;margin-bottom:10pt}
.p278{text-indent:0.28in;margin-left:0.01in;text-align:center;margin-bottom:12.5pt}
.p279{text-indent:0.28in;margin-left:0.01in;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:12pt}
.p280{margin-left:0.26in;line-height:13.7pt;margin-right:0.33in;text-align:justify;margin-bottom:12pt}
.p281{text-indent:0.26in;margin-left:0;margin-right:0.08in;text-align:justify;margin-top:6pt}
.p282{margin-right:0.01in;text-align:center;margin-top:6pt}
.p283{margin-left:0.01in;line-height:13.9pt;text-align:center}
.p284{margin-left:0.01in;line-height:13.7pt;text-align:center;margin-top:6pt}
.p285{margin-left:0.01in;text-align:center;margin-top:6pt}
.p286{margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p287{text-align:center;margin-top:6pt;margin-bottom:6.5pt}
.p288{margin-left:0.29in;line-height:13.5pt;margin-right:0.29in;text-align:center;margin-bottom:12pt}
.p289{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt}
.p290{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;margin-right:0.01in;text-align:center;margin-top:6pt}
.p291{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;text-align:justify;margin-top:6pt;margin-bottom:11.8pt}
.p292{margin-left:0.31in;line-height:13.7pt;margin-right:0.28in;text-align:center}
.p293{text-indent:0.28in;margin-left:0;line-height:13.2pt;text-align:justify;margin-top:6pt}
.p294{margin-left:0.01in;text-align:justify;margin-bottom:10pt}
.p295{text-indent:0.28in;margin-left:0;line-height:13.7pt;text-align:justify;margin-top:6pt}
.p296{text-indent:0.28in;margin-left:0.01in;line-height:13.7pt;text-align:justify;margin-top:6pt}
.p297{line-height:13.7pt;text-align:justify;margin-top:6pt}
.p298{text-indent:0.28in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:11.8pt}
.p299{text-indent:0.28in;margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify;margin-top:6pt;margin-bottom:12pt}
.p300{text-indent:0.33in;margin-left:0.03in;margin-right:0.03in;text-align:justify;margin-bottom:9.2pt}
.p301{margin-left:0.36in;line-height:14.2pt;margin-right:0.26in;text-align:center;margin-bottom:15pt}
.p302{line-height:14.2pt;margin-right:0.26in;text-align:center;margin-bottom:15pt}
.p303{margin-left:0.32in;line-height:12.7pt;margin-right:0.26in;text-align:center;margin-top:9pt;margin-bottom:14.5pt}
.p304{text-indent:0.31in;margin-left:0.01in;line-height:13.5pt;margin-right:0.01in;text-align:justify}
.p305{text-indent:0.31in;margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify}
.p306{margin-right:0.04in;text-align:center;margin-bottom:3pt}
.p307{text-align:center;margin-bottom:40.7pt}
.p308{text-indent:0.44in;margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify}
.p309{text-indent:0.28in;margin-left:0.01in;line-height:13.7pt;margin-right:0.01in;text-align:justify}
.p310{text-indent:0.26in;margin-left:0.04in;line-height:13.7pt;margin-right:0.04in;text-align:justify}
.p311{text-indent:0.29in;margin-left:0.03in;line-height:13.2pt;margin-right:0.04in;text-align:justify;margin-bottom:15pt}
.p312{text-indent:0.29in;margin-left:0.03in;line-height:13.5pt;margin-right:0.04in;text-align:justify}
.p313{text-indent:0.29in;margin-left:0.03in;line-height:13.2pt;margin-right:0.04in;text-align:justify}
.p314{text-indent:0.28in;margin-left:0.06in;line-height:13.7pt;margin-right:0.06in;text-align:justify;margin-bottom:16.6pt}
.p315{text-indent:0.28in;margin-left:0.06in;line-height:13.5pt;margin-right:0.06in;text-align:justify}
.p316{text-indent:0.28in;margin-left:0.04in;margin-right:0.04in;text-align:justify}
.p317{text-indent:0.26in;margin-left:0.03in;line-height:14.2pt;margin-right:0.03in;text-align:justify}
.p318{text-indent:0.26in;margin-left:0.03in;line-height:13.9pt;margin-right:0.03in;text-align:justify}
.p319{text-indent:0.28in;margin-left:0.01in;line-height:13.9pt;margin-right:0.03in;text-align:justify}
.p320{text-indent:0.29in;margin-left:0.03in;line-height:13.7pt;margin-right:0.04in;text-align:justify}
.p321{text-indent:0.29in;margin-left:0.03in;line-height:13.7pt;margin-right:0.04in;text-align:justify;margin-bottom:16.2pt}
.p322{text-indent:0.29in;margin-left:0.03in;line-height:13pt;margin-right:0.04in;text-align:justify}
.p323{text-indent:0.29in;margin-left:0.01in;line-height:12.7pt;margin-right:0.03in;text-align:justify}
.p324{line-height:12.7pt;margin-right:0.03in;text-align:justify}
.p325{line-height:13.9pt;margin-right:0.03in;text-align:center;margin-top:9pt}
.p326{text-indent:0.35in;margin-left:0.01in;line-height:13.7pt;text-align:justify}
.p327{text-indent:0.28in;margin-left:0.03in;line-height:12.6pt;margin-right:0.03in;text-align:justify;margin-bottom:3pt}
.p328{text-indent:0.28in;margin-left:0.01in;line-height:13.7pt;text-align:justify;margin-bottom:12pt}
.p329{margin-left:0.29in;line-height:13.7pt;margin-right:0.33in;text-align:center;margin-bottom:15pt}
.p330{text-indent:0.28in;margin-left:0.04in;line-height:13.7pt;margin-right:0.03in;text-align:justify;margin-bottom:12pt}
.p331{margin-left:0.32in;line-height:13.7pt;margin-right:0.32in;text-align:center;margin-bottom:12.2pt}
.p332{text-indent:0.28in;margin-left:0.04in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p333{text-indent:0.28in;margin-left:0.03in;line-height:13.5pt;margin-right:0.03in;text-align:justify;margin-bottom:16pt}
.p334{text-indent:0.28in;margin-left:0.04in;line-height:13.7pt;margin-right:0.04in;text-align:justify}
.p335{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.01in;text-align:justify;margin-bottom:12pt}
.p336{margin-left:0.04in;margin-right:0.03in;text-align:justify}
.p337{margin-left:0.31in;line-height:13.9pt;margin-right:0.36in;text-align:center;margin-bottom:13.4pt}
.p338{text-indent:0.25in;margin-left:0.04in;line-height:13.5pt;margin-right:0.03in;text-align:justify}
.p339{text-indent:0.28in;margin-left:0.01in;line-height:13.2pt;margin-right:0.03in;text-align:justify}
.t0{font-size:1em}
.t1{font-size:1.2em;color:#c00000}
.t2{font-size:1.2em;color:#c00000}
.t3{font-size:1.1em}
.t4{font-size:1.1em}
.t5{font-size:1.1em}
.t7{font-size:1em}
.t8{font-size:1em}
.t9{font-size:1em;color:#c00000}
.t10{font-size:1em;color:#c00000}
.t11{font-size:1em;color:#c00000}
.t12{font-size:1em;color:#c0d3eb;text-decoration:underline}
.t13{font-size:1em;letter-spacing:5.5pt}
.t14{font-size:1em;letter-spacing:-0.5pt}
.t15{font-size:1em;letter-spacing:4pt}
.t16{font-size:1.2em;color:#7030a0}
.t17{font-size:1.2em;color:#7030a0}
.t18{font-size:1.2em;color:#7030a0}
.t19{font-size:1em;letter-spacing:-0.5pt}
.t20{font-size:1em;color:#7030a0}
.t21{font-size:1em;letter-spacing:0.5pt}
.t22{font-size:1em;letter-spacing:4.5pt}
.t23{font-size:1.2em;letter-spacing:4.5pt}
.t24{font-size:1.2em;color:#7030a0}
.t25{font-size:1em;letter-spacing:1.5pt}
.t26{font-size:.65em;vertical-align:super}
.t27{font-family:"Book Antiqua",serif;font-size:.95em;color:black}
.t28{font-size:.95em}
.t29{font-family:"Book Antiqua",serif;font-size:.85em;color:black}
.t30{font-size:.85em}
.t31{font-size:1em;color:#7030a0}
.t32{font-size:1em;color:#7030a0}
.t33{font-size:1em;letter-spacing:-0.5pt}
.t34{font-size:1em;letter-spacing:-0.5pt}