body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0.3in;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Sylfaen,serif;font-size:100%;color:black}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-align:center}
.p3{text-indent:0;margin-left:0.31in;text-align:left}
.p4{text-indent:0;margin-left:0;text-align:left}
.p5{text-indent:0;margin-left:0;text-align:left;margin-top:18pt}
.p6{text-indent:0;margin-left:0;text-align:left;margin-top:12pt}
.p7{text-indent:0;margin-left:0.15in;text-align:left}
.p8{text-indent:0;margin-left:0.49in;margin-top:6pt;margin-bottom:6pt}
.p9{text-indent:0;margin-left:0;line-height:150%;text-align:center}
.p10{text-indent:0;margin-left:0;margin-top:6pt;margin-bottom:6pt}
.p11{text-indent:0;margin-left:0.49in;text-align:right;margin-top:6pt;margin-bottom:6pt}
.p12{text-indent:0;margin-left:0;text-align:center;margin-top:10pt}
.p13{text-indent:0;margin-left:0;text-align:center;margin-top:12pt;margin-bottom:12pt}
.p14{text-indent:0;margin-left:0.59in;margin-right:0.79in}
.p15{text-indent:0;margin-left:0.41in;margin-right:0.31in}
.p16{text-indent:0;margin-left:0;margin-right:0.79in}
.p17{text-indent:0;margin-left:0}
.p18{text-indent:-0.15in;margin-left:0}
.p19{text-indent:0;margin-left:0.01in;text-align:left}
.p20{text-indent:0;margin-left:0.01in}
.p21{text-indent:0;margin-left:0;margin-right:0.01in;text-align:left}
.p22{text-indent:0;margin-left:0.03in}
.p23{text-indent:0;margin-left:0.06in;text-align:left}
.p24{text-indent:-0.08in;margin-left:0.1in}
.p25{text-indent:0;margin-left:0.04in;text-align:left}
.p26{text-indent:-0.14in;margin-left:0.15in;margin-right:0.01in}
.p27{text-indent:0;margin-left:0.06in;margin-right:0.03in}
.p28{text-indent:-0.13in;margin-left:0.14in;margin-right:0.01in;text-align:left}
.p29{text-indent:0;margin-left:0.06in}
.t0{font-size:1.09em}
.t1{font-size:1.09em}
.t2{font-size:1.09em}
.t3{font-size:1.09em}
.t4{font-size:2.55em}
.t5{font-size:2.55em}
.t6{font-size:2.55em}
.t7{font-size:1.45em}
.t8{font-size:1.45em}
.t9{font-size:.59em}
.t10{font-size:.82em}
.t11{font-size:.82em}
.t12{font-size:.82em}
.t13{font-size:.82em}
.t14{font-size:.82em;color:#262626}
.t15{font-size:.82em;color:#0066cc}
.t16{font-size:1em}
.t17{font-size:1em;color:#000000}
.t18{font-family:Cambria,serif;font-size:1.09em}
.t19{font-family:Cambria,serif;font-size:1.09em}
.t20{font-size:.91em}
.t21{font-size:.91em}
.t22{font-size:.91em}
.t23{font-size:1.14em;color:#000000}
.t24{font-size:1.14em;color:#000000}
.t25{font-size:1.14em;color:#000000}
.t26{font-size:1.14em;color:#000000}
.t27{font-size:1em;color:#000000}
.t29{font-size:1em}
.t30{font-size:1em}
.t31{font-size:1em;color:#262626}
.t32{font-size:1em;color:#262626}
.t33{font-size:1em;color:#262626}
.t34{font-size:1.27em;color:#262626}
.t35{font-size:1.27em;color:#262626}
.t36{font-size:1.27em;color:#262626}
.t37{font-size:.86em;color:#000000}
.t38{font-size:.86em;color:#000000}
.t39{font-size:.86em;color:#000000}
.t40{font-size:.86em;color:#000000}
.t41{font-size:.91em;color:#262626}
.t42{font-size:1.27em;color:#000000}
.t43{font-size:1.27em;color:#000000}
.t44{font-size:1.27em;color:#000000}
.t45{font-size:.71em;color:red;vertical-align:super}
.t46{font-size:.71em;color:red;vertical-align:super}
.t47{font-size:1.82em}
.t48{font-size:1.82em}
.t49{font-size:1.82em;color:#000000}
.t50{font-size:1em;color:#000000}
.t51{font-size:.86em}
.t52{font-size:.86em}
.t53{font-size:.86em}
.t54{font-size:.86em}
.t55{font-size:.91em}
.t56{font-size:.91em}
.t57{font-size:.91em}
.t58{font-size:.91em;color:#262626}
.t59{font-size:.91em;color:#000000}
.t60{font-size:.91em}
.t61{font-size:.91em;color:#262626}
.t62{font-size:.91em;color:#262626}
.t63{font-size:1.27em;color:#4a442a}
.t64{font-size:1.23em;color:#000000}
.t65{font-size:1.23em;color:#000000}
.t66{font-size:1em;color:#262626}
.t67{font-size:.91em;color:#262626}
.t68{font-size:1.23em;color:#000000}
.t69{font-size:1.27em;color:#4a442a}
.t70{font-size:1.27em;color:#4a442a}
.t71{font-size:1.27em;color:#4a442a}
.t72{font-size:1.14em;color:#262626}
.t73{font-size:1.18em;color:#262626}
.t74{font-size:.64em}
.t75{font-size:1em}
.t76{font-size:1.18em;color:#000000}
.t77{font-size:.86em;color:#262626}
.t78{font-size:.86em;color:#262626}
.t79{font-size:.86em;color:#262626}
.t80{font-size:1.18em}
.t81{font-size:1.05em;color:#262626}
.t82{font-size:1.05em;color:#262626}
.t83{font-size:1.05em;color:#262626}
.t84{font-size:.82em;color:#000000}
.t85{font-size:.82em;color:#000000}
.t86{font-size:.82em;color:#000000}
.t87{font-size:.82em;color:#000000}
.t88{font-size:1.23em;color:#262626}
.t89{font-size:1.23em;color:#262626}
.t90{font-size:1.23em;color:#262626}
.t91{font-size:1.23em;color:#262626}
.t92{font-size:1.18em;color:#4a442a}
.t93{font-size:1.18em;color:#4a442a}
.t94{font-size:1.18em;color:#4a442a}
.t95{font-size:1.18em;color:#000000}
.t96{font-size:.82em;color:#262626}
.t97{font-size:.82em;color:#262626}
.t98{font-size:.86em;color:#262626}
.t99{font-size:.95em;color:#262626}
.t100{font-size:.95em;color:#262626}
.t101{font-size:.95em;color:#262626}
.t102{font-size:.77em}
.t103{font-size:.64em}
.t104{font-size:1.23em;color:#000000}
.t105{font-size:2.36em;color:#000000}
.t106{font-size:.77em;color:#000000}
.t107{font-size:1em;color:#000000}
.t108{font-size:1em;color:#000000}
.t109{font-size:.91em;color:#000000}
.t110{font-size:.91em;color:#000000}
.t111{font-size:.91em;color:#000000}
.t112{font-size:.91em;color:#262626;letter-spacing:-0.5pt}
.t113{font-size:.91em;color:#262626;letter-spacing:-1pt}
.t114{font-size:.91em;color:#262626;letter-spacing:-0.5pt}
.t115{font-size:.91em;color:#262626;letter-spacing:-0.5pt}