.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    }
.calibre2 {
    display: block;
    }
.calibre3 {
    display: block;
    font-size: 1em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.calibre4 {
    display: block;
    font-size: 1em;
    margin-right: 36px;
    text-indent: 0
    }
.calibre5 {
    display: block
    }
.calibre6 {
    display: block;
    font-size: 1em;
    text-indent: 0
    }
.calibre7 {
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 0;
    margin: 0
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 0;
    margin: 0
    }
.calibre11 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0.67em 0
    }
.calibre12 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    margin: 0
    }
.calibre13 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0
    }
.calibre14 {
    font-size: 1em;
    text-indent: 1.5em
    }
.sigilnotintoc {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0.67em 0
    }
.sigilnotintoc1 {
    display: block;
    font-weight: bold;
    text-align: right;
    margin: 1.33em 0
    }