.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre11 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre12 {
    color: blue
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 13pt;
    text-indent: 0
    }
.calibre15 {
    height: 137px;
    vertical-align: baseline;
    width: 226px
    }
.calibre16 {
    height: 269px;
    vertical-align: baseline;
    width: 81px
    }
.calibre17 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre18 {
    height: 575px;
    vertical-align: baseline;
    width: 395px
    }
.calibre19 {
    height: 222px;
    vertical-align: baseline;
    width: 243px
    }
.calibre2 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre20 {
    height: 288px;
    vertical-align: baseline;
    width: 224px
    }
.calibre21 {
    height: 89px;
    vertical-align: baseline;
    width: 237px
    }
.calibre22 {
    height: 290px;
    vertical-align: baseline;
    width: 225px
    }
.calibre23 {
    height: 240px;
    vertical-align: baseline;
    width: 264px
    }
.calibre24 {
    height: 232px;
    vertical-align: baseline;
    width: 288px
    }
.calibre25 {
    height: 100px;
    vertical-align: baseline;
    width: 259px
    }
.calibre26 {
    height: 254px;
    vertical-align: baseline;
    width: 209px
    }
.calibre27 {
    height: 282px;
    vertical-align: baseline;
    width: 63px
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre29 {
    height: 556px;
    vertical-align: baseline;
    width: 416px
    }
.calibre3 {
    display: block
    }
.calibre30 {
    height: 696px;
    vertical-align: baseline;
    width: 507px
    }
.calibre31 {
    height: 304px;
    vertical-align: baseline;
    width: 500px
    }
.calibre32 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre33 {
    height: 404px;
    vertical-align: baseline;
    width: 372px
    }
.calibre34 {
    height: 445px;
    vertical-align: baseline;
    width: 195px
    }
.calibre35 {
    height: 328px;
    vertical-align: baseline;
    width: 388px
    }
.calibre36 {
    height: 127px;
    vertical-align: baseline;
    width: 431px
    }
.calibre37 {
    height: 194px;
    vertical-align: baseline;
    width: 291px
    }
.calibre38 {
    height: 290px;
    vertical-align: baseline;
    width: 395px
    }
.calibre39 {
    height: 362px;
    vertical-align: baseline;
    width: 390px
    }
.calibre4 {
    height: 212px;
    vertical-align: baseline;
    width: 213px
    }
.calibre40 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre41 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre42 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -19pt
    }
.calibre43 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre6 {
    font-size: 0.75em
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 11pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1em
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.underline {
    text-decoration: underline
    }
