@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:.73em;font-family:Calibri,sans-serif;font-size:100%}
.p0{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p1{text-indent:0;line-height:100%;text-align:center}
.p2{text-indent:0;line-height:100%}
.p3{text-indent:0;text-align:left}
.p4{text-indent:0;text-align:center}
.p6{text-indent:0;text-align:center;margin-bottom:0}
.p7{text-indent:0;line-height:100%;text-align:left;margin-bottom:0}
.p8{text-indent:0}
.t1{font-size:.82em;line-height:100%;font-weight:bold}
.t2{font-size:.82em;line-height:100%}
.t3{font-size:.82em;line-height:100%;font-style:italic}
.t4{font-size:.91em;line-height:100%}
.t5{font-size:.91em;line-height:108%}
.t6{font-size:.91em;line-height:108%;color:#0563c1}
.t8{font-size:1.8em;line-height:108%}
.t9{font-size:3.3em;line-height:108%}
.t10{font-size:1.1em;line-height:108%;font-weight:bold}
.t12{font-style:italic}
.t13{font-size:1.3em;line-height:108%;font-weight:bold}
.t14{font-style:italic}
.t15{font-size:1.5em;line-height:108%;font-weight:bold}
.t16{font-family:Arial,sans-serif}