p{text-indent:.57em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:0;margin-left:0;margin-bottom:1em}
.p3{text-indent:0;margin-left:0;text-align:center;margin-bottom:1em}
.p4{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:1em}
.p5{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:1em}
h1{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:1em;margin-bottom:0;font-family:Cambria,serif;font-size:218%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:.5em;margin-bottom:0;font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h21{text-indent:0}
.t2{font-size:1.2em;line-height:100%;font-weight:bold}
.t3{color:blue;text-decoration:underline}
.t4{font-size:2em;line-height:100%}
.t5{font-size:1.6em;line-height:100%}
.t6{font-size:2.4em;line-height:100%;font-weight:bold}
.t7{font-size:2em;line-height:100%;font-weight:bold}
.t8{font-weight:bold}
.t9{letter-spacing:.05em}
.t10{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%}
.t11{font-size:.65em;line-height:100%;vertical-align:super}
.t12{font-size:.65em;line-height:100%;vertical-align:super;text-decoration:underline}
.t13{font-style:italic}
.t15{font-size:.65em;line-height:100%;vertical-align:sub}
.t16{letter-spacing:.3em}
.t18{font-size:1.6em;line-height:115%;font-weight:bold}
.t19{font-family:Calibri,sans-serif}
.t20{font-size:1.1em;line-height:100%}
.t21{text-decoration:underline}