<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Ateş Hırsızı</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>ADA2C5B8A73FB57509437C24FD09CDF3</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>0E49F5F334DB5FDF472EB4469464D646</string>
		<key>publisher-unique-id</key>
		<string>4aafe129-bf5f-4565-ac79-ac9f5bee07f8</string>
		<key>unique-id</key>
		<integer>-857411610977379851</integer>
	</dict>
	<key>itemName</key>
	<string>Terry Deary</string>
	<key>playlistName</key>
	<string>Terry Deary</string>
	<key>releaseDate</key>
	<string>2011-07-28T19:36:59+00:00</string>
	<key>sort-artist</key>
	<string>Hırsızı, Ateş</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
