.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    height: 1023px;
    vertical-align: baseline;
    width: 778px
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre4 {
    height: 238px;
    vertical-align: baseline;
    width: 360px
    }
.calibre5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 13pt 0 0 2em
    }
.calibre6 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre7 {
    color: #000
    }
.calibre8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre9 {
    font-size: 0.75em
    }
.calibre10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0 2em
    }
.calibre12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5em 0 0
    }
.calibre13 {
    font-size: 0.625em
    }
.calibre14 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1pt 0 0
    }
.calibre16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2pt 0 0
    }
.calibre17 {
    display: block
    }
.calibre18 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre19 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 9pt 0 0
    }
.calibre20 {
    height: 188px;
    vertical-align: baseline;
    width: 343px
    }
.calibre21 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre22 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 15pt 0 0
    }
.calibre23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre24 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre25 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
