p{text-indent:1.8em;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:.55em;font-family:"Trebuchet MS",sans-serif;font-size:100%}
.li1{font-family:"Trebuchet MS",sans-serif;font-size:100%}
.linone{list-style-type:none}
.linone1{font-family:"Trebuchet MS",sans-serif;font-size:100%;list-style-type:none}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1.8em;text-align:center;margin-top:8.7em;margin-bottom:4.4em}
.p2{text-indent:1.8em;text-align:center}
.p4{text-indent:1.8em;text-align:center;margin-bottom:4.4em}
.p5{text-indent:1.8em;line-height:100%;text-align:center;margin-bottom:0}
.p6{text-indent:1.8em;margin-left:10em;margin-top:4.4em}
.p7{text-indent:1.8em;margin-left:10em}
.p8{text-indent:1.8em;margin-left:10em;margin-top:2.2em}
.p9{text-indent:-1.6em;margin-left:3.3em;margin-top:2.2em}
.p10{text-indent:1.8em;text-align:center;margin-bottom:2.7em}
.p11{text-indent:1.8em;margin-left:7.7em;margin-right:7.7em}
.p12{text-indent:0;margin-left:0;text-align:center}
.p13{text-indent:0;margin-left:0;text-align:center;margin-bottom:2.7em}
.p14{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:2.7em;}
.p15{text-indent:0;margin-left:0;text-align:center;margin-top:2.7em;margin-bottom:2.7em}
.p16{text-indent:1.8em;margin-left:3.9em;margin-right:3.9em}
.p17{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:0;margin-bottom:0}
.p18{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.83em;margin-bottom:0;font-family:"Trebuchet MS",sans-serif;font-size:327%;font-weight:bold}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.83em;margin-bottom:0;font-family:"Trebuchet MS",sans-serif;font-size:150%;font-weight:bold}
.h11{text-indent:0}
.l0{margin-left:3.3em}
.t1{font-family:"Trebuchet MS",serif;font-size:1.1em;line-height:100%}
.t2{font-size:3.3em;line-height:130%;font-weight:bold;letter-spacing:-.028em;vertical-align:-.11em}
.t3{font-size:2em;line-height:130%;font-weight:bold}
.t4{font-weight:bold}
.t5{font-size:1.3em;line-height:130%;font-weight:bold}
.t6{font-size:2.2em;line-height:100%;font-weight:bold}
.t7{font-size:1.6em;line-height:100%;font-weight:bold}
.t9{font-style:italic}
.t10{font-size:1.5em;line-height:130%;font-weight:bold}
.t11{font-size:1.1em;line-height:130%;font-weight:bold}
.t12{font-size:1.6em;line-height:130%;font-weight:bold}
.t13{font-size:.65em;line-height:130%;vertical-align:super}
.t14{font-size:.65em;line-height:130%;font-style:italic;vertical-align:super}
.t15{font-weight:bold;font-style:italic}
.t16{font-family:Trebuchet MS,sans-serif}
.t17{font-family:"Trebuchet MS",serif;font-size:.59em;line-height:100%;vertical-align:super}
.t18{font-family:"Trebuchet MS",serif;font-size:.91em;line-height:100%}
.t19{font-family:"Trebuchet MS",serif;font-size:.91em;line-height:100%;font-style:italic}
.th11{text-decoration:underline}