@font-face {
  font-family: "UnDotum";
  src: url(../Fonts/UnDotum.ttf);
  }
@font-face {
  font-family: "Vijaya";
  src: url(../Fonts/vijaya.ttf);
  }
@font-face {
  font-family: "Vijaya";
  src: url(../Fonts/vijayab.ttf);
  }
