.calibre {
  display: block;
  font-size: 1.25em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: inline;
  layout-flow: horizontal;
}
.calibre2 {
  display: block;
  margin: 1em 0;
}
.calibre3 {
  display: block;
}
.calibre4 {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.calibre5 {
  display: block;
  text-align: right;
  padding: 0 0 57pt;
  margin: 1em 0;
}
.calibre6 {
  display: block;
  text-align: right;
  padding: 57pt 0 0;
  margin: 1em 0;
}
.calibre7 {
  display: block;
  padding: 0 0 12pt;
  margin: 1em 0;
}
.calibre8 {
  display: block;
  text-align: center;
  padding: 12pt 0 0;
  margin: 1em 0;
}
.calibre9 {
  display: block;
  text-align: justify;
  text-indent: 16pt;
  margin: 1em 0;
}
.calibre10 {
  display: block;
  text-align: center;
  padding: 0 2pt 57pt 0;
  margin: 1em 0;
}
.calibre11 {
  display: block;
  padding: 57pt 0 0 31pt;
  margin: 1em 0;
}
.calibre12 {
  display: block;
  text-align: justify;
  padding: 0 0 0 49pt;
  margin: 1em 0;
}
.calibre13 {
  display: block;
  text-align: justify;
  padding: 0 0 0 61pt;
  margin: 1em 0;
}
.calibre14 {
  display: block;
  text-align: justify;
  padding: 0 0 9pt 49pt;
  margin: 1em 0;
}
.calibre15 {
  display: block;
  padding: 9pt 0 0 124pt;
  margin: 1em 0;
}
.calibre16 {
  display: block;
  text-align: center;
  padding: 0 2pt 0 0;
  margin: 1em 0;
}
.calibre17 {
  display: block;
  padding: 0 0 0 31pt;
  margin: 1em 0;
}
.calibre18 {
  display: block;
  text-indent: 18pt;
  padding: 0 33pt 0 31pt;
  margin: 1em 0;
}
.calibre19 {
  display: block;
  padding: 0 0 9pt 61pt;
  margin: 1em 0;
}
.calibre20 {
  display: block;
  text-align: center;
  padding: 9pt 0 0 2pt;
  margin: 1em 0;
}
.calibre21 {
  display: block;
  text-align: center;
  padding: 0 0 0 2pt;
  margin: 1em 0;
}
.calibre22 {
  display: block;
  padding: 0 39pt 0 46pt;
  margin: 1em 0;
}
.calibre23 {
  display: block;
  padding: 0 0 0 28pt;
  margin: 1em 0;
}
.calibre24 {
  display: block;
  text-align: justify;
  padding: 0 0 0 46pt;
  margin: 1em 0;
}
.calibre25 {
  display: block;
  text-indent: 12pt;
  padding: 0 137pt 0 46pt;
  margin: 1em 0;
}
.calibre26 {
  display: block;
  text-align: justify;
  padding: 0 0 0 58pt;
  margin: 1em 0;
}
.calibre27 {
  display: block;
  text-align: justify;
  padding: 0 0 9pt 46pt;
  margin: 1em 0;
}
.calibre28 {
  display: block;
  text-align: center;
  padding: 9pt 4pt 0 0;
  margin: 1em 0;
}
.calibre29 {
  display: block;
  text-align: center;
  padding: 0 4pt 0 0;
  margin: 1em 0;
}
.calibre30 {
  display: block;
  text-align: justify;
  padding: 0 19pt 0 58pt;
  margin: 1em 0;
}
.calibre31 {
  display: block;
  padding: 0 0 0 58pt;
  margin: 1em 0;
}
.calibre32 {
  display: block;
  text-align: justify;
  padding: 0 9pt 0 28pt;
  margin: 1em 0;
}
.calibre33 {
  display: block;
  text-align: center;
  padding: 9pt 3pt 0 0;
  margin: 1em 0;
}
.calibre34 {
  display: block;
  text-align: center;
  padding: 0 3pt 0 0;
  margin: 1em 0;
}
.calibre35 {
  display: block;
  text-align: justify;
  padding: 0 0 0 28pt;
  margin: 1em 0;
}
.calibre36 {
  display: block;
  padding: 0 0 0 46pt;
  margin: 1em 0;
}
.calibre37 {
  display: block;
  text-align: justify;
  padding: 0 9pt 0 46pt;
  margin: 1em 0;
}
.calibre38 {
  display: block;
  float: left;
  layout-flow: horizontal;
}
.calibre39 {
  display: block;
  text-align: justify;
  margin: 1em 0;
}
.calibre40 {
  display: block;
  text-align: justify;
  padding: 0 0 0 18pt;
  margin: 1em 0;
}
.calibre41 {
  display: block;
  text-align: center;
  padding: 0 0 12pt 5pt;
  margin: 1em 0;
}
.calibre42 {
  display: block;
  text-align: center;
  padding: 12pt 0 0 5pt;
  margin: 1em 0;
}
.calibre43 {
  display: block;
  text-align: justify;
  padding: 0 0 0 21pt;
  margin: 1em 0;
}
.calibre44 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  margin: 1em 0;
}
.calibre45 {
  display: block;
  text-align: right;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre46 {
  display: block;
  text-align: justify;
  text-indent: 44pt;
  margin: 1em 0;
}
.calibre47 {
  font-size: 0.875em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre48 {
  display: block;
  text-align: justify;
  text-indent: 59pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre49 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 12pt 101pt;
  margin: 0.67em 0;
}
.calibre50 {
  line-height: 1.2;
}
.calibre51 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 12pt 0 0;
  margin: 1em 0;
}
.calibre52 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre53 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 9pt 0 0;
  margin: 1em 0;
}
.calibre54 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre55 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 62pt;
  margin: 1em 0;
}
.calibre56 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 15pt 0 0;
  margin: 1em 0;
}
.calibre57 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre58 {
  display: block;
  text-align: justify;
  padding: 0 0 15pt;
  margin: 1em 0;
}
.calibre59 {
  display: block;
  text-indent: 23pt;
  padding: 15pt 43pt 0;
  margin: 1em 0;
}
.calibre60 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  margin: 1em 0;
}
.calibre61 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 0 0 0 45pt;
  margin: 1em 0;
}
.calibre62 {
  display: block;
  padding: 0 0 12pt 44pt;
  margin: 1em 0;
}
.calibre63 {
  display: block;
  padding: 12pt 0 12pt 44pt;
  margin: 1em 0;
}
.calibre64 {
  display: block;
  text-align: justify;
  padding: 9pt 0 0 119pt;
  margin: 1em 0;
}
.calibre65 {
  display: block;
  text-align: center;
  padding: 0 0 15pt;
  margin: 1em 0;
}
.calibre66 {
  display: block;
  text-align: justify;
  padding: 0 0 159pt;
  margin: 1em 0;
}
.calibre67 {
  display: block;
  text-align: justify;
  padding: 159pt 0 0 16pt;
  margin: 1em 0;
}
.calibre68 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre69 {
  display: block;
  text-align: justify;
  padding: 0 0 0 16pt;
  margin: 1em 0;
}
.calibre70 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre71 {
  display: block;
  text-align: center;
  padding: 0 0 126pt;
  margin: 1em 0;
}
.calibre72 {
  display: block;
  text-align: justify;
  padding: 0 0 0 20pt;
  margin: 1em 0;
}
.calibre73 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 21pt 0 9pt 44pt;
  margin: 1em 0;
}
.calibre74 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 101pt;
  margin: 1em 0;
}
.calibre75 {
  display: block;
  padding: 9pt 91pt 0 114pt;
  margin: 1em 0;
}
.calibre76 {
  display: block;
  text-align: center;
  padding: 9pt 0 15pt;
  margin: 1em 0;
}
.calibre77 {
  display: block;
  padding: 0 87pt 0 112pt;
  margin: 1em 0;
}
.calibre78 {
  display: block;
  text-align: justify;
  text-indent: 59pt;
  margin: 1em 0;
}
.calibre79 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 12pt;
  margin: 1em 0;
}
.calibre80 {
  display: block;
  text-align: center;
  padding: 12pt 0;
  margin: 1em 0;
}
.calibre81 {
  display: block;
  text-align: justify;
  padding: 0 0 0 31pt;
  margin: 1em 0;
}
.calibre82 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 15pt;
  margin: 1em 0;
}
.calibre83 {
  display: block;
  text-align: justify;
  padding: 15pt 0 0 16pt;
  margin: 1em 0;
}
.calibre84 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 12pt 0 9pt;
  margin: 0.67em 0;
}
.calibre85 {
  display: block;
  text-align: center;
  padding: 0 0 186pt;
  margin: 1em 0;
}
.calibre86 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 12pt 0;
  margin: 0.67em 0;
}
.calibre87 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 15pt 0 0 44pt;
  margin: 1em 0;
}
.calibre88 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0 15pt;
  margin: 0.67em 0;
}
.calibre89 {
  display: block;
  text-align: justify;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre90 {
  display: block;
  padding: 0 0 15pt;
  margin: 1em 0;
}
.calibre91 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 15pt 0;
  margin: 0.67em 0;
}
.calibre92 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 15pt 0 0;
  margin: 1em 0;
}
.calibre93 {
  display: block;
  text-align: justify;
  padding: 0 0 24pt;
  margin: 1em 0;
}
.calibre94 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 24pt 0 15pt 1pt;
  margin: 0.67em 0;
}
.calibre95 {
  display: block;
  text-align: center;
  padding: 0 0 162pt;
  margin: 1em 0;
}
.calibre96 {
  display: block;
  text-align: justify;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre97 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0 12pt 1pt;
  margin: 0.67em 0;
}
.calibre98 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 12pt 0 0 44pt;
  margin: 1em 0;
}
.calibre99 {
  display: block;
  text-indent: 30pt;
  margin: 1em 0;
}
.calibre100 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 15pt 0 0 45pt;
  margin: 1em 0;
}
.calibre101 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 12pt;
  margin: 0.67em 0;
}
.calibre102 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 21pt 0 15pt;
  margin: 0.67em 0;
}
.calibre103 {
  display: block;
  text-indent: 30pt;
  padding: 15pt 0 0;
  margin: 1em 0;
}
.calibre104 {
  display: block;
  text-align: center;
  padding: 0 1pt 186pt 0;
  margin: 1em 0;
}
.calibre105 {
  display: block;
  text-align: center;
  padding: 12pt 1pt 12pt 0;
  margin: 1em 0;
}
.calibre106 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 12pt 0 0;
  margin: 1em 0;
}
.calibre107 {
  display: block;
  text-indent: 7pt;
  padding: 9pt 0 0 59pt;
  margin: 1em 0;
}
.calibre108 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 114pt;
  margin: 0.67em 0;
}
.calibre109 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre110 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 0 0 12pt 30pt;
  margin: 1em 0;
}
.calibre111 {
  font-size: 0.875em;
  line-height: 1.2;
  vertical-align: sub;
}
.calibre112 {
  display: block;
  text-align: justify;
  padding: 12pt 0 0;
  margin: 1em 0;
}
.calibre113 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 9pt 0 3pt;
  margin: 1em 0;
}
.calibre114 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 3pt 0 12pt;
  margin: 1em 0;
}
.calibre115 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 12pt 0 9pt;
  margin: 1em 0;
}
.calibre116 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0 12pt;
  margin: 0.67em 0;
}
.calibre117 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 21pt;
  margin: 1em 0;
}
.calibre118 {
  display: block;
  text-align: center;
  padding: 21pt 0 15pt;
  margin: 1em 0;
}
.calibre119 {
  display: block;
  text-align: justify;
  padding: 0 0 0 19pt;
  margin: 1em 0;
}
.calibre120 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0;
  margin: 0.67em 0;
}
.calibre121 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre122 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 9pt 0 12pt 45pt;
  margin: 1em 0;
}
.calibre123 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 12pt 0 0 45pt;
  margin: 1em 0;
}
.calibre124 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 0 0 0 81pt;
  margin: 0.67em 0;
}
.calibre125 {
  display: block;
  text-align: justify;
  padding: 0 0 0 105pt;
  margin: 1em 0;
}
.calibre126 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 90pt;
  margin: 1em 0;
}
.calibre127 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 100pt;
  margin: 1em 0;
}
.calibre128 {
  display: block;
  text-indent: 59pt;
  padding: 0 0 21pt;
  margin: 1em 0;
}
.calibre129 {
  display: block;
  text-align: justify;
  padding: 15pt 0 0 31pt;
  margin: 1em 0;
}
.calibre130 {
  display: block;
  text-indent: 31pt;
  margin: 1em 0;
}
.calibre131 {
  display: block;
  text-align: center;
  padding: 0 0 183pt;
  margin: 1em 0;
}
.calibre132 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 183pt 0 0;
  margin: 1em 0;
}
.calibre133 {
  display: block;
  text-align: justify;
  padding: 0 0 0 53pt;
  margin: 1em 0;
}
.calibre134 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 21pt 0 12pt;
  margin: 0.67em 0;
}
.calibre135 {
  display: block;
  padding: 0 0 0 23pt;
  margin: 1em 0;
}
.calibre136 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0 21pt;
  margin: 0.67em 0;
}
.calibre137 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 21pt 0 0;
  margin: 1em 0;
}
.calibre138 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 9pt 0 3pt;
  margin: 1em 0;
}
.calibre139 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 3pt 0 15pt;
  margin: 1em 0;
}
.calibre140 {
  display: block;
  text-align: justify;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre141 {
  display: block;
  text-indent: 58pt;
  margin: 1em 0;
}
.calibre142 {
  display: block;
  text-align: center;
  padding: 21pt 0 9pt;
  margin: 1em 0;
}
.calibre143 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 9pt 0 0 44pt;
  margin: 1em 0;
}
.calibre144 {
  display: block;
  text-align: center;
  padding: 0 0 0 1pt;
  margin: 1em 0;
}
.calibre145 {
  display: block;
  text-align: center;
  padding: 0 0 186pt 1pt;
  margin: 1em 0;
}
.calibre146 {
  display: block;
  text-align: justify;
  padding: 0 0 12pt;
  margin: 1em 0;
}
.calibre147 {
  display: block;
  text-align: justify;
  padding: 12pt 0 12pt 44pt;
  margin: 1em 0;
}
.calibre148 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 12pt 102pt;
  margin: 0.67em 0;
}
.calibre149 {
  display: block;
  text-align: justify;
  padding: 9pt 0 12pt 71pt;
  margin: 1em 0;
}
.calibre150 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 49pt;
  margin: 1em 0;
}
.calibre151 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 0 0 9pt 45pt;
  margin: 1em 0;
}
.calibre152 {
  display: block;
  padding: 9pt 0 9pt 49pt;
  margin: 1em 0;
}
.calibre153 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 9pt 0 0;
  margin: 1em 0;
}
.calibre154 {
  display: block;
  padding: 9pt 60pt 9pt 67pt;
  margin: 1em 0;
}
.calibre155 {
  display: block;
  text-align: center;
  padding: 0 0 171pt;
  margin: 1em 0;
}
.calibre156 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 21pt 0 15pt 93pt;
  margin: 0.67em 0;
}
.calibre157 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 15pt 0 15pt 89pt;
  margin: 0.67em 0;
}
.calibre158 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 0 15pt 1pt;
  margin: 0.67em 0;
}
.calibre159 {
  display: block;
  text-align: justify;
  text-indent: 32pt;
  margin: 1em 0;
}
.calibre160 {
  display: block;
  text-align: center;
  padding: 33pt 0 12pt;
  margin: 1em 0;
}
.calibre161 {
  display: block;
  text-indent: 30pt;
  padding: 12pt 0 0;
  margin: 1em 0;
}
.calibre162 {
  display: block;
  text-align: justify;
  padding: 0 0 0 22pt;
  margin: 1em 0;
}
.calibre163 {
  display: block;
  text-align: justify;
  text-indent: 28pt;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre164 {
  display: block;
  text-align: justify;
  text-indent: 58pt;
  margin: 1em 0;
}
.calibre165 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 15pt 0 0 44pt;
  margin: 1em 0;
}
.calibre166 {
  display: block;
  text-align: center;
  padding: 9pt 1pt 15pt 0;
  margin: 1em 0;
}
.calibre167 {
  display: block;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre168 {
  display: block;
  text-indent: 59pt;
  margin: 1em 0;
}
.calibre169 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 12pt 91pt;
  margin: 0.67em 0;
}
.calibre170 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 84pt;
  margin: 0.67em 0;
}
.calibre171 {
  display: block;
  text-indent: 31pt;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre172 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 121pt;
  margin: 0.67em 0;
}
.calibre173 {
  display: block;
  text-align: justify;
  padding: 0 0 0 23pt;
  margin: 1em 0;
}
.calibre174 {
  display: block;
  text-align: justify;
  text-indent: 44pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre175 {
  display: block;
  text-align: center;
  padding: 9pt 0 12pt 1pt;
  margin: 1em 0;
}
.calibre176 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 96pt 9pt;
  margin: 0.67em 0;
}
.calibre177 {
  display: block;
  text-indent: 15pt;
  padding: 0 0 21pt 44pt;
  margin: 1em 0;
}
.calibre178 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 21pt 1pt 12pt 0;
  margin: 0.67em 0;
}
.calibre179 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 12pt 0 9pt;
  margin: 1em 0;
}
.calibre180 {
  display: block;
  text-indent: 17pt;
  padding: 9pt 0 0;
  margin: 1em 0;
}
.calibre181 {
  display: block;
  padding: 0 0 0 21pt;
  margin: 1em 0;
}
.calibre182 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 78pt;
  margin: 0.67em 0;
}
.calibre183 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 66pt;
  margin: 1em 0;
}
.calibre184 {
  display: block;
  text-align: justify;
  text-indent: 59pt;
  padding: 15pt 0 0;
  margin: 1em 0;
}
.calibre185 {
  display: block;
  text-indent: 12pt;
  padding: 0 0 9pt 18pt;
  margin: 1em 0;
}
.calibre186 {
  display: block;
  text-align: right;
  padding: 0 0 12pt 30pt;
  margin: 1em 0;
}
.calibre187 {
  display: block;
  padding: 9pt 0 9pt 88pt;
  margin: 1em 0;
}
.calibre188 {
  display: block;
  text-indent: 29pt;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre189 {
  display: block;
  padding: 9pt 43pt 9pt 102pt;
  margin: 1em 0;
}
.calibre190 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 9pt 0;
  margin: 1em 0;
}
.calibre191 {
  display: block;
  text-align: justify;
  padding: 9pt 0 0 16pt;
  margin: 1em 0;
}
.calibre192 {
  display: block;
  text-indent: 16pt;
  margin: 1em 0;
}
.calibre193 {
  display: block;
  text-align: justify;
  padding: 12pt 0 12pt 97pt;
  margin: 1em 0;
}
.calibre194 {
  display: block;
  text-align: center;
  padding: 30pt 0 12pt;
  margin: 1em 0;
}
.calibre195 {
  display: block;
  text-align: center;
  padding: 0 0 150pt;
  margin: 1em 0;
}
.calibre196 {
  display: block;
  text-indent: 32pt;
  padding: 9pt 0 0 30pt;
  margin: 1em 0;
}
.calibre197 {
  display: block;
  text-indent: 14pt;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre198 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre199 {
  display: block;
  text-align: justify;
  padding: 9pt 0 0 67pt;
  margin: 1em 0;
}
.calibre200 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  margin: 1em 0;
}
.calibre201 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 78pt;
  margin: 1em 0;
}
.calibre202 {
  display: block;
  padding: 0 0 9pt 85pt;
  margin: 1em 0;
}
.calibre203 {
  display: block;
  text-align: justify;
  text-indent: 14pt;
  padding: 9pt 0 0 44pt;
  margin: 1em 0;
}
.calibre204 {
  display: block;
  text-indent: 15pt;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre205 {
  display: block;
  text-align: justify;
  text-indent: 16pt;
  padding: 21pt 0 0;
  margin: 1em 0;
}
.calibre206 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 0 0 12pt 121pt;
  margin: 0.67em 0;
}
.calibre207 {
  display: block;
  text-align: right;
  padding: 0 0 0 30pt;
  margin: 1em 0;
}
.calibre208 {
  display: block;
  text-align: justify;
  padding: 0 0 33pt;
  margin: 1em 0;
}
.calibre209 {
  display: block;
  text-align: center;
  padding: 0 0 138pt;
  margin: 1em 0;
}
.calibre210 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 21pt 0 0;
  margin: 1em 0;
}
.calibre211 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 12pt 0 12pt 79pt;
  margin: 0.67em 0;
}
.calibre212 {
  display: block;
  text-align: justify;
  padding: 12pt 0 12pt 101pt;
  margin: 1em 0;
}
.calibre213 {
  display: block;
  text-indent: 15pt;
  padding: 0 0 9pt 44pt;
  margin: 1em 0;
}
.calibre214 {
  display: block;
  text-align: justify;
  padding: 9pt 0 9pt 84pt;
  margin: 1em 0;
}
.calibre215 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 95pt;
  margin: 1em 0;
}
.calibre216 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 0 0 12pt;
  margin: 1em 0;
}
.calibre217 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 12pt 0 12pt 93pt;
  margin: 0.67em 0;
}
.calibre218 {
  display: block;
  padding: 9pt 87pt 0 104pt;
  margin: 1em 0;
}
.calibre219 {
  display: block;
  text-align: justify;
  padding: 9pt 0 0 68pt;
  margin: 1em 0;
}
.calibre220 {
  display: block;
  text-align: justify;
  padding: 0 0 0 47pt;
  margin: 1em 0;
}
.calibre221 {
  display: block;
  text-align: justify;
  padding: 0 0 12pt 8pt;
  margin: 1em 0;
}
.calibre222 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 18pt;
  margin: 1em 0;
}
.calibre223 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 18pt 0 12pt;
  margin: 0.67em 0;
}
.calibre224 {
  display: block;
  text-align: center;
  padding: 0 0 12pt;
  margin: 1em 0;
}
.calibre225 {
  display: block;
  text-align: justify;
  padding: 12pt 0 12pt 68pt;
  margin: 1em 0;
}
.calibre226 {
  display: block;
  text-align: justify;
  padding: 12pt 0 0 68pt;
  margin: 1em 0;
}
.calibre227 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 12pt 0 12pt 1pt;
  margin: 0.67em 0;
}
.calibre228 {
  display: block;
  text-align: center;
  padding: 0 0 228pt;
  margin: 1em 0;
}
.calibre229 {
  display: block;
  padding: 0 0 0 15pt;
  margin: 1em 0;
}
.calibre230 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 9pt 0 0;
  margin: 1em 0;
}
.calibre231 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 36pt 9pt 80pt;
  margin: 0.67em 0;
}
.calibre232 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 9pt 0 9pt 112pt;
  margin: 0.67em 0;
}
.calibre233 {
  display: block;
  text-align: justify;
  padding: 12pt 0 12pt 69pt;
  margin: 1em 0;
}
.calibre234 {
  display: block;
  text-indent: 51pt;
  padding: 9pt 0 0 30pt;
  margin: 1em 0;
}
.calibre235 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 0 0 33pt;
  margin: 1em 0;
}
.calibre236 {
  display: block;
  text-align: center;
  padding: 33pt 0 0;
  margin: 1em 0;
}
.calibre237 {
  display: block;
  text-align: center;
  padding: 9pt 0;
  margin: 1em 0;
}
.calibre238 {
  display: block;
  text-align: justify;
  text-indent: 32pt;
  padding: 0 0 9pt;
  margin: 1em 0;
}
.calibre239 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 9pt 2pt 15pt 0;
  margin: 0.67em 0;
}
.calibre240 {
  display: block;
  text-align: justify;
  text-indent: 32pt;
  padding: 15pt 0 0;
  margin: 1em 0;
}
.calibre241 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 0 0 174pt 44pt;
  margin: 1em 0;
}
.calibre242 {
  display: block;
  text-align: justify;
  padding: 0 0 0 45pt;
  margin: 1em 0;
}
.calibre243 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre244 {
  display: block;
  text-align: justify;
  text-indent: 31pt;
  padding: 0 0 21pt;
  margin: 1em 0;
}
.calibre245 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 183pt;
  margin: 0.67em 0;
}
.calibre246 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 12pt 0 12pt 101pt;
  margin: 0.67em 0;
}
.calibre247 {
  display: block;
  text-align: justify;
  padding: 9pt 0 9pt 35pt;
  margin: 1em 0;
}
.calibre248 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 12pt 0 12pt 72pt;
  margin: 0.67em 0;
}
.calibre249 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 12pt 0 0 44pt;
  margin: 1em 0;
}
.calibre250 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 9pt 0 9pt 120pt;
  margin: 0.67em 0;
}
.calibre251 {
  display: block;
  text-align: justify;
  text-indent: 59pt;
  padding: 9pt 0 0;
  margin: 1em 0;
}
.calibre252 {
  display: block;
  text-align: center;
  padding: 21pt 0 12pt;
  margin: 1em 0;
}
.calibre253 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 183pt 1pt;
  margin: 0.67em 0;
}
.calibre254 {
  display: block;
  padding: 0 0 0 50pt;
  margin: 1em 0;
}
.calibre255 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 95pt;
  margin: 0.67em 0;
}
.calibre256 {
  display: block;
  text-align: center;
  padding: 9pt 0 15pt 1pt;
  margin: 1em 0;
}
.calibre257 {
  display: block;
  text-align: justify;
  text-indent: 15pt;
  padding: 0 0 0 46pt;
  margin: 1em 0;
}
.calibre258 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 41pt;
  margin: 1em 0;
}
.calibre259 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 0 0 12pt 71pt;
  margin: 0.67em 0;
}
.calibre260 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 9pt 0 9pt 99pt;
  margin: 0.67em 0;
}
.calibre261 {
  display: block;
  padding: 0 0 3pt;
  margin: 1em 0;
}
.calibre262 {
  display: block;
  text-indent: 59pt;
  padding: 3pt 0 0;
  margin: 1em 0;
}
.calibre263 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  padding: 9pt 0 15pt 120pt;
  margin: 0.67em 0;
}
.calibre264 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 219pt 1pt;
  margin: 0.67em 0;
}
.calibre265 {
  display: block;
  text-align: justify;
  padding: 0 0 12pt 61pt;
  margin: 1em 0;
}
.calibre266 {
  display: block;
  text-align: justify;
  padding: 9pt 0 15pt 58pt;
  margin: 1em 0;
}
.calibre267 {
  display: block;
  text-align: right;
  padding: 15pt 0 0 44pt;
  margin: 1em 0;
}
.calibre268 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  padding: 9pt 64pt 9pt 92pt;
  margin: 0.67em 0;
}
.calibre269 {
  display: block;
  padding: 0 0 0 44pt;
  margin: 1em 0;
}
.calibre270 {
  display: block;
  text-align: justify;
  padding: 0 0 9pt 44pt;
  margin: 1em 0;
}
.calibre271 {
  display: block;
  text-align: justify;
  text-indent: 29pt;
  padding: 0 0 9pt 30pt;
  margin: 1em 0;
}
.calibre272 {
  display: block;
  padding: 9pt 91pt 0 30pt;
  margin: 1em 0;
}
.calibre273 {
  display: block;
  padding: 0 23pt 9pt 30pt;
  margin: 1em 0;
}
.calibre274 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 9pt 0 33pt;
  margin: 1em 0;
}
.calibre275 {
  display: block;
  text-align: center;
  padding: 33pt 2pt 9pt 0;
  margin: 1em 0;
}
.calibre276 {
  display: block;
  text-align: justify;
  text-indent: 30pt;
  padding: 0 0 72pt;
  margin: 1em 0;
}
.calibre277 {
  display: block;
  padding: 72pt 0 0 18pt;
  margin: 1em 0;
}
.calibre278 {
  font-size: 0.9em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre279 {
  display: block;
  text-indent: 17pt;
  margin: 1em 0;
}
.calibre280 {
  display: block;
  text-align: justify;
  text-indent: 17pt;
  margin: 1em 0;
}
.calibre281 {
  display: block;
  padding: 0 0 0 16pt;
  margin: 1em 0;
}
.calibre282 {
  display: block;
  padding: 0 205pt 0 16pt;
  margin: 1em 0;
}
.calibre283 {
  display: block;
  text-align: justify;
  padding: 0 0 0 17pt;
  margin: 1em 0;
}
.calibre284 {
  display: block;
  text-indent: 15pt;
  margin: 1em 0;
}
.calibre285 {
  display: block;
  text-align: justify;
  padding: 0 0 0 15pt;
  margin: 1em 0;
}
.calibre286 {
  display: block;
  text-indent: 18pt;
  margin: 1em 0;
}
.calibre287 {
  display: block;
  text-align: justify;
  padding: 0 0 15pt 112pt;
  margin: 1em 0;
}
.calibre288 {
  display: block;
  text-align: center;
  padding: 0 0 0 8pt;
  margin: 1em 0;
}
.font {
  font-family: Bookman, Old, Style, serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font1 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font2 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font3 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font4 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font5 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.6em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font6 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font7 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font8 {
  font-family: Arial, Unicode, MS, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font9 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.8em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font10 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.66667em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font11 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 1.2;
}
.font12 {
  font-family: Bookman, Old, Style, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
}
.font13 {
  font-family: Arial, Unicode, MS, sans-serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
