@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: normal;
	src:url("../Fonts/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("../Fonts/BerlingLTStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("../Fonts/GillSansStd.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("../Fonts/GillSansStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Goudy Cat";
	font-weight: normal;
	font-style: normal;
	src:url("../Fonts/GoudyCatTReg.ttf") format("truetype");
}

/*COVER*/

.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*COPYRIGHT-PAGE*/

.copy-top span{
	font-family: "Gill Sans" !important;
}

.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.75em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;

}

/*TITLEPAGE*/

.title{
	text-align: center;
}

.aut{
	margin-top: 1.5em;
	font:normal normal 1.625em/1.2em "Goudy Cat";
	text-align: center;
}

.bfl {
	font-size: 1.2em;
}

.work {
	font:normal normal 2.32em/1.1em "Goudy Cat";
	margin-top: .5em;
}

.seri{
	font-family: "Gill Sans";
	font-size: .92em;
	margin-top: 3em;
}

.logo{
	margin: 3em auto 0 auto;
}

/*BIOGRAPHY*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	line-height: 1.4em;
	text-indent: 0;
}

/*works*/

.works p{
	margin-top: 4em;
	font-family: "Gill Sans";
	font-size: .83em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "Gill Sans";
	font-size: .83em;
	padding-bottom: .3em;
}

/*INTRODUCTION*/

.introduction .container {
	margin-top: 5em;
}
.introduction h1 {
	font:normal normal 1.16em/1.3em "Berling";
	text-align: center;
	margin: 0;
}

.introduction h1 + p {
	margin-top: 2em;
}

.introduction p {
	font:normal normal .8em/1.3em "Berling";
	text-indent: 1.9em;
	margin: 1em auto 0;
}

.introduction cite {
	font:normal normal .8em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 1em;
}

/*PART*/

.part .container {
	margin-top: 5em;
}

.part-header {
	font:normal normal 1.42em/1.3em "Berling";
	text-align: center;
	margin: 0;
}

.part .epigraph {
	float:right;
	margin-top: 2em;
}

.part span {
	display: block;
	font:normal normal .83em/1.3em "Berling";
}

/*CHAPTER*/

.chapter .container {
	margin-top: 5em;
}

.chapter h1 {
	font:normal normal 1.25em/1.3em "Berling";
	text-align: center;
	margin: 0;
}

.chapter .chp-num {
	display: block;
	padding-bottom: .5em;
}

.chapter h1 + p {
	margin-top: 2em;
}

.chapter p {
	font:normal normal .875em/1.3em "Berling";
	text-indent: 1.9em;
	margin: 0;
}

.poem {
	margin: 1em 0 1em 1.7em;
}

.poem span {
	font:normal normal .875em/1.3em "Berling";
	display: block;
}

.letter {
	margin: 1em 0;
}

.letter p {
	font-family: "Gill Sans"
}

.letter cite {
	font:normal normal .875em/1.3em "Gill Sans";
	display: block;
	text-align: right;
	margin-top: 1em;
}

.end {
	margin-top: 1em;
	text-align: center;
	font:normal normal .875em/1.3em "Berling";
}

/*BIBLIOGRAPHY*/

.bibliography h1 {
	font:normal normal .8em/1.3em "Gill Sans";
	margin: 0 auto 2em;
}

.bibliography p {
	text-indent: 0;
	font:normal normal .75em/1.3em "Gill Sans";
	margin: 0;
	padding-bottom: .2em;
}

a {
	text-decoration: none;
	color:#777;
}

/*FOOTNOTES*/

.footnotes{
	margin:3em 0 1em;
}

.si-noteref{
	text-decoration: none;
	color: #7A7A7A;
	font-size: .75em;
	vertical-align: super;
	padding-left: .1em;
	line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

/*COMMON*/

.clear {
	clear:both;
}