.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre10 {
    font-size: 0.72727em;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 24px
    }
.calibre2 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre5 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre6 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre7 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre8 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre9 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
