@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre10 {
    height: 400px;
    width: 300px
    }
.calibre11 {
    height: 198px;
    width: 200px
    }
.calibre12 {
    height: 400px;
    width: 267px
    }
.calibre13 {
    height: 400px;
    width: 275px
    }
.calibre14 {
    height: 268px;
    width: 250px
    }
.calibre15 {
    height: 267px;
    width: 400px
    }
.calibre16 {
    height: 272px;
    width: 400px
    }
.calibre17 {
    display: block;
    line-height: 1.2
    }
.calibre18 {
    height: 300px;
    width: 400px
    }
.calibre2 {
    height: 62px;
    width: 59px
    }
.calibre3 {
    height: 350px;
    width: 294px
    }
.calibre4 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre5 {
    display: table-row;
    vertical-align: inherit
    }
.calibre6 {
    background-color: #eee;
    border: 1px solid #fff;
    display: table-cell;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    text-align: left;
    vertical-align: inherit
    }
.calibre7 {
    height: 266px;
    width: 400px
    }
.calibre8 {
    height: 400px;
    width: 272px
    }
.calibre9 {
    height: 328px;
    width: 300px
    }
.chapter {
    display: block
    }
.generictable {
    border: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.h1baslik {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.h1baslik1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.idebold {
    font-weight: bold
    }
.idebolditalik {
    font-style: italic;
    font-weight: bold
    }
.ideitalik {
    font-style: italic;
    line-height: 1.2
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.kitapickapak {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kitapickapak1 {
    display: block;
    font-size: 1.83333em;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resimalti {
    font-size: 0.75em;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center
    }
.resimalti1 {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: center
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Regular.ttf);
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Italic.ttf);
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(../Fonts/LiberationSerif-Bold.ttf);
}

@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(../Fonts/LiberationSerif-BoldItalic.ttf);

}

@font-face {
font-style: normal;
font-family: 'Arial', sans-serif;
font-weight: normal;
src: url(../Fonts/arial.ttf);

}

@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: normal;
src: url(../Fonts/ariali.ttf);

}

@font-face {

font-style: normal;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(../Fonts/arialbd.ttf);

}


@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(../Fonts/arialbi.ttf);
}