body {font-family:'Times New Roman'}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:13.341732px;border:none;padding:0;color:#00000a}
p.Textbody {margin-left:0;margin-right:0;margin-top:0;margin-bottom:8.012598px;border:none;padding:0;color:#00000a}
.listlevel1WWNum1 {margin-top:0;margin-bottom:0;list-style-type:disc;clear:left}
.listlevel2WWNum1 {margin-top:0;margin-bottom:0;list-style-type:bullet;clear:left}
.listlevel3WWNum1 {margin-top:0;margin-bottom:0;list-style-type:square;clear:left}
.listlevel4WWNum1 {margin-top:0;margin-bottom:0;list-style-type:disc;clear:left}
.listlevel5WWNum1 {margin-top:0;margin-bottom:0;list-style-type:bullet;clear:left}
.listlevel6WWNum1 {margin-top:0;margin-bottom:0;list-style-type:square;clear:left}
.listlevel7WWNum1 {margin-top:0;margin-bottom:0;list-style-type:disc;clear:left}
.listlevel8WWNum1 {margin-top:0;margin-bottom:0;list-style-type:bullet;clear:left}
.listlevel9WWNum1 {margin-top:0;margin-bottom:0;list-style-type:square;clear:left}
