body {
  background-color: #fcfff6;
  color: #000;
  font-family: Georgia, serif;
  margin: auto;
  max-width: 33em;
}
@media screen and (orientation: landscape) {
  html {
    background: #fdfdfd fixed;
  }
  body {
    -moz-box-shadow: 5px 5px 25px 10px #888;
    -webkit-box-shadow: 5px 5px 25px 10px #888;
    box-shadow: 5px 5px 25px 10px #888;
  }
}
@media screen {
  body {
    margin: 1em auto;
    max-width: 33em;
    padding: 5em 4em;
  }
}
p {
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  text-indent: 25px;
}
/* ara �izgi uygulama <hr class="bosluk" /> */
hr.bosluk {
  margin: 2em 25%;
}
h2 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 2em;
  margin-top: 100px;
}
.bc1 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 2.1em;
  letter-spacing: -0.02em;
}
.bc2 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 2.1em;
  font-weight: bold;
}
.bc3 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 1.2em;
  font-weight: bold;
}
.bc4 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Times, Georgia, Serif;
  font-size: 1em;
}
.bn1 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 2.1em;
  letter-spacing: -0.02em;
}
.bn2 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 2.1em;
  font-weight: bold;
}
.bn3 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.bn4 {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 1em;
}
blockquote {
  padding: 0;
  margin-left: 40px;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
}
blockquote p {
  font-size: 80%;
  font-style: normal;
  text-indent: 0;
}
