.block2 {
    display: block;
  
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block3 {
    display: block;
  
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0
    }
.block5 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: center;
    padding: 0;
    margin: 0
    }
.block6 {
    display: block;
  
    font-style: italic;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block7 {
    color: black;
    display: block;
    font-family: serif;
  
    line-height: 10pt;
    padding: 0;
    margin: 0
    }
.block8 {
    color: black;
    display: block;
  
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 3.45pt 7.45pt 0 7.05pt
    }
.block9 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 7.45pt 0 7.05pt
    }
.block10 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 7.35pt 0 7.05pt
    }
.block11 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 0.5pt 0 0
    }
.block12 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 21.7pt 0 21pt
    }
.block13 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 7.5pt 0 6.95pt
    }
.block14 {
    color: black;
    display: block;
  
    letter-spacing: -0.05pt;
    text-align: center;
    padding: 0;
    margin: 0 21.7pt 0 21pt
    }
.block15 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 7.5pt 0 7.05pt
    }
.block16 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0.5pt 11.8pt 0 11.5pt
    }
.block17 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: center;
    padding: 0;
    margin: 0 13.4pt 0 12.8pt
    }
.block18 {
    color: black;
    display: block;
  
    font-weight: bold;
    letter-spacing: -0.05pt;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block19 {
    color: black;
    display: block;
  
    text-align: center;
    padding: 0;
    margin: 0 13.4pt 0 12.8pt
    }
.block20 {
    color: black;
    display: block;
  
    font-style: italic;
    letter-spacing: -0.05pt;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block21 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: center;
    padding: 0;
    margin: 0 107pt 0 106pt
    }
.block22 {
    color: black;
    display: block;
  
    text-align: right;
    padding: 0;
    margin: 0 107pt 0 106pt
    }
.block23 {
    color: black;
    display: block;
  
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block25 {
    color: black;
    display: block;
  
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block26 {
    color: black;
    display: block;
  
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block27 {
    color: black;
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block28 {
    color: black;
    display: block;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block29 {
    color: black;
    display: block;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block30 {
    color: black;
    display: block;
  
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block31 {
    color: black;
    display: block;
    font-style: italic;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block32 {
    color: black;
    display: block;
  
    font-weight: bold;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block33 {
    color: black;
    display: block;
  
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block34 {
    color: black;
    display: table-row;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: justify
    }
.block35 {
    color: black;
    display: table-row;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify
    }
.block36 {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block37 {
    color: black;
    display: block;
    font-weight: bold;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block38 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block39 {
    color: black;
    display: block;
    font-weight: bold;
    letter-spacing: 3.45pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block40 {
    color: black;
    display: block;
    letter-spacing: -0.05pt;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block41 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: justify;
    padding: 0;
    margin: 0
    }
.block42 {
    color: black;
    display: block;
    font-family: serif;
  
    padding: 0;
    margin: 0
    }
.block43 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: justify;
    padding: 0;
    margin: 0 5.65pt 0 5pt
    }
.block44 {
    color: black;
    display: block;
  
    font-weight: bold;
    letter-spacing: -0.05pt;
    text-align: justify;
    padding: 0;
    margin: 0 0 0 5pt
    }
.block45 {
    color: black;
    display: block;
  
    text-align: justify;
    padding: 0;
    margin: 0 0 0 5pt
    }
.block46 {
    color: black;
    display: block;
  
    text-align: justify;
    padding: 0;
    margin: 0 5.7pt 0 5pt
    }
.block47 {
    color: black;
    display: block;
  
    letter-spacing: -0.05pt;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block48 {
    color: black;
    display: block;
  
    font-weight: bold;
    text-align: justify;
    padding: 0;
    margin: 3.45pt 8.7pt 0 5pt
    }
.block49 {
    color: black;
    display: block;
  
    text-align: justify;
    padding: 0;
    margin: 0 8.7pt 0 5pt
    }
.block50 {
    color: black;
    display: block;
  
    font-weight: bold;
    letter-spacing: -0.05pt;
    text-align: right;
    padding: 0;
    margin: 0 8.7pt 0 5pt
    }
.block51 {
    color: black;
    display: block;
  
    text-align: justify;
    padding: 0;
    margin: 0.5pt 13.4pt 0 0
    }
.block52 {
    color: black;
    display: block;
    font-family: serif;
  
    line-height: 1.2;
    text-align: justify;
    padding: 0;
    margin: 0.2pt 0 0
    }
.block53 {
    color: black;
    display: block;
    font-family: serif;
  
    text-align: justify;
    padding: 0;
    margin: 0.5pt 13.7pt 0 5pt
    }
.block54 {
    color: black;
    display: block;
  
    text-align: justify;
    padding: 0;
    margin: 0.5pt 13.7pt 0 5pt
    }
.block55 {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
  
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.bullet {
    display: table-cell;
    font-size: 0.625em
    }
.bullet1 {
    font-size: 1em
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Garamond", serif;
  
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    height: 91.5pt;
    width: 91.5pt
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic;
    line-height: 1.2
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    display: table;
    line-height: 1.2;
    padding-left: 0
    }
.calibre7 {
    display: table-cell;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    float: left;
    height: 864pt;
    line-height: 1.2;
    width: 576pt
    }
.tab {
    line-height: 1.2;
    white-space: pre-wrap
    }
.text1 {
    color: #000;
    font-family: "Garamond", serif;
  
    font-style: italic;
    line-height: 1.2
    }
.text18 {
    color: #00F;
    letter-spacing: -0.05pt;
    text-decoration: none
    }
