body {font-family:Calibri,sans-serif}
a:link {color:#000080;text-decoration:underline}
a.Internet20link:link {color:#000080;text-decoration:underline}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
.frameGraphics {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
.frameGraphics p {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0}
