p{text-indent:1.3em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:"Trebuchet MS",sans-serif;font-size:90%}
.p2{text-indent:0;margin-left:0;text-align:center;margin-top:.25em;margin-bottom:.25em}
.p3{text-indent:0;margin-left:0;text-align:center;margin-bottom:.25em}
.p4{text-indent:0;margin-left:0;text-align:center}
.p5{text-indent:1.7em;margin-top:1.5em}
.p6{text-indent:1.7em;margin-left:1.2em;margin-top:0;margin-bottom:0}
.p7{text-indent:1.7em;margin-left:2.4em;margin-top:0;margin-bottom:0}
.p8{text-indent:1.7em;margin-left:3.5em;margin-top:0;margin-bottom:0}
.p9{text-indent:1.7em;margin-left:4.7em;margin-top:0;margin-bottom:0}
.p10{text-indent:1.7em;margin-left:5.9em;margin-top:0;margin-bottom:0}
.p11{text-indent:1.7em;margin-left:7.1em;margin-top:0;margin-bottom:0}
.p12{text-indent:1.7em;margin-left:8.3em;margin-top:0;margin-bottom:0}
.p13{text-indent:1.7em;margin-left:9.5em;margin-top:0;margin-bottom:0}
.p14{text-indent:1.7em;margin-top:0;margin-bottom:0}
.p15{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0}
.p16{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:4.5em}
.p17{text-indent:0;margin-left:0}
.p18{text-indent:0;margin-left:1.7em;margin-right:1.2em}
.p19{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-top:0;margin-bottom:.83em}
.p20{text-indent:0;margin-left:1.7em;margin-right:1.7em}
.p21{text-indent:1.7em;margin-left:1.7em}
.p22{text-indent:1.7em;margin-left:1.7em;margin-right:1.7em}
.p23{text-indent:1.7em;margin-left:1.7em;margin-right:1.7em;margin-top:.25em;margin-bottom:.25em}
.p24{text-indent:1.7em;margin-left:1.7em;line-height:100%;margin-right:1.7em}
.p25{text-indent:1.7em;margin-left:1.7em;line-height:100%;margin-right:1.7em;text-align:right}
.p26{text-indent:0;margin-left:0;line-height:100%;text-align:center}
.p27{text-indent:0;margin-left:3.3em;margin-right:1.7em}
.p28{text-indent:0;margin-left:3.3em;line-height:100%;margin-right:1.7em}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.75em;margin-bottom:.75em;font-family:"Trebuchet MS",sans-serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:.43em;font-family:"Trebuchet MS",sans-serif;font-size:127%;font-weight:bold}
.h21{text-indent:0}
.t2{font-size:.75em;line-height:120%}
.t3{font-size:.75em;line-height:120%;color:blue;text-decoration:underline}
.t4{color:blue;text-decoration:underline}
.t5{font-size:1.1em;line-height:120%;font-weight:bold}
.t6{font-size:3.3em;line-height:120%;font-weight:bold}
.t7{font-size:1.1em;line-height:120%;font-weight:bold;font-style:italic}
.t8{font-style:italic;color:blue;text-decoration:underline}
.t9{font-size:1.1em;line-height:120%}
.t10{font-size:1.5em;line-height:120%;color:red}
.t11{font-size:1.3em;line-height:100%;font-weight:bold}
.t13{font-size:1.3em;line-height:120%;font-weight:bold}
.t14{font-size:1.3em;line-height:120%;color:#4f81bd}
.t15{font-style:italic}
.t16{font-size:1.3em;line-height:120%}
.t17{font-size:1.3em;line-height:100%;font-weight:bold;font-style:italic}
.t19{font-size:1.3em;line-height:120%;font-weight:bold;font-style:italic}
.t20{font-weight:bold}
.t22{font-style:italic}
.t23{font-size:.65em;line-height:120%;vertical-align:super}