.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
	text-indent:1em
    }
.calibre12 {
    font-weight: bold
    }
.calibre13 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre14 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre15 {
    height: 70pt;
    width: 54pt
    }
.calibre16 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre17 {
    height: 41pt;
    width: 202pt
    }
.calibre18 {
    height: 60pt;
    width: 294pt
    }
.calibre19 {
    font-style: italic
    }
.calibre2 {
    display: block;
    text-align: center
    }
.calibre20 {
    font-size: 0.75em
    }
.calibre21 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre22 {
    height: 11pt;
    width: 13pt
    }
.calibre23 {
    height: 14pt;
    width: 13pt
    }
.calibre24 {
    font-style: italic;
    font-weight: bold
    }
.calibre25 {
    height: 10pt;
    width: 14pt
    }
.calibre26 {
    height: 12pt;
    width: 14pt
    }
.calibre27 {
    height: 12pt;
    width: 28pt
    }
.calibre28 {
    height: 14pt;
    width: 428pt
    }
.calibre29 {
    height: 43pt;
    width: 430pt
    }
.calibre3 {
    height: 818pt;
    width: 556pt
    }
.calibre30 {
    font-style: italic;
    line-height: 1.2
    }
.calibre31 {
    height: 573pt;
    width: 456pt
    }
.calibre32 {
    height: 625pt;
    width: 432pt
    }
.calibre33 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre34 {
    height: 346pt;
    width: 430pt
    }
.calibre35 {
    height: 645pt;
    width: 421pt
    }
.calibre36 {
    height: 20pt;
    width: 101pt
    }
.calibre37 {
    height: 24pt;
    width: 227pt
    }
.calibre38 {
    height: 565pt;
    width: 423pt
    }
.calibre39 {
    height: 734pt;
    width: 461pt
    }
.calibre4 {
    height: 667pt;
    width: 536pt
    }
.calibre40 {
    height: 527pt;
    width: 417pt
    }
.calibre41 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.calibre42 {
    height: 457pt;
    width: 546pt
    }
.calibre43 {
    height: 648pt;
    width: 561pt
    }
.calibre44 {
    height: 817pt;
    width: 555pt
    }
.calibre5 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.calibre7 {
    height: 24pt;
    width: 368pt
    }
.calibre8 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre9 {
    font-weight: bold;
    line-height: 1.2
    }
