<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Doğan Cüceloğlu</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>404C307D434BABCD650836DEF30880A0</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>E10595E7AD6EF809C7DCC2B65A39319D</string>
		<key>publisher-unique-id</key>
		<string>40f9e933-ecfd-4dd2-a878-a3f9eee32520</string>
		<key>unique-id</key>
		<integer>4977601295536888645</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Yeniden İnsan İnsana</string>
	<key>playlistName</key>
	<string>Yeniden İnsan İnsana</string>
	<key>releaseDate</key>
	<string>2010-12-03T08:00:00+00:00</string>
</dict>
</plist>
