

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

/*copyright-page*/

.press, .publisher-top, .cont, .sistematik, .isbn {
	margin-bottom: 2em
}

.copy {
	margin-bottom: .8em;
}

.copyright-page .pblsh-name {
	font-size: .7em;
}

.copyright-page .pblsh-subname {
	font-size: .5em;
}


/*title*/


.title {
	text-align: center;
	
}

.title .aut {
	font:normal normal 1.6em/1.2em "News Baskerville";
	
}

.title .work {
	font:normal normal 1.6em/1.2em "News Baskerville";
}

.title .subwork-name {
	font:normal normal 1em/1.2em "News Baskerville";
}

.seri {
	font:normal normal .75em/1.2em "News";
	margin-top: 5em;
}

.trans {
	font:normal normal .7em/1.2em "News";
	margin-top: 4em;
}

.logo{
  margin: 5em auto 0 auto;
}


/*works*/

/*biography*/

/*acknowledgments*/

.acknowledgments .container {
	margin-top: 6em;
} 

.acknowledgments .container .org {
	margin-bottom: 1em;
	font-style: italic;
}

/*preface*/

.preface .container {
	margin-top: 4em;
}

.preface .pre-header {
	font:normal normal 1em/1.23em "News";
	margin-bottom: 2em;
	text-align: center;
}

/*chapter*/

.chapter .container  {
	margin-top: 2em;
}

.part-header {
	margin-bottom: 2em;
	font:normal normal 1em/1.23em "News";
	margin-bottom: 4em;
	text-align: center;
	
}

.chapter-header {
	font:italic normal 1em/1.23em "News";
	margin-bottom: 2em;
	text-align: center;
}

.poem {
	margin:1em auto 1em 1.7em;
}

.chapter .dialogue {
	font-style: italic;
}

.chapter .no-indent, .chapter .un-indent {
	text-indent: 0
}

.chapter .margin-top {
	margin-top: 1em;
}

.chapter .finish {
	text-align: center;
	margin-top: 1em;
	text-indent: 0;
}