.Balk {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 1cm 4pt 28pt;
}
.Balk1 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 1cm 4pt 11pt;
}
.Balk2 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 1cm 4pt 28pt;
}
.Balk3 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 12pt 4pt 14pt;
}
.Balk4 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 13pt 4pt 14pt;
}
.Balk5 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 1cm 4pt 28pt;
}
.Balk6 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 19pt 4pt 28pt;
}
.Balk7 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 24pt;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 1cm 4pt 28pt;
}
.Balk8 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 13pt 4pt 18pt;
}
.Balk9 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 10pt 4pt 17pt;
}
.Balk10 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 23pt 4pt 18pt;
}
.Balk11 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: auto;
  text-align: center;
  margin: 5pt 0.1pt 5pt 0;
}
.Balk12 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 15pt 4pt 28pt;
}
.Balk13 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 8pt 1cm 4pt 28pt;
}
.Balk14 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 1cm 12pt 28pt;
}
.Balk15 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 15pt 4pt 28pt;
}
.Balk16 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 20pt 4pt 21pt;
}
.Balk17 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 15pt 4pt 28pt;
}
.Balk18 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 20pt 1cm 4pt 28pt;
}
.Balk19 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 20pt 4pt 28pt;
}
.Balk20 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 14.25pt 4pt 14pt;
}
.Balk21 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 22pt 1cm 4pt 28pt;
}
.Balk22 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 17pt 4pt 28pt;
}
.Balk23 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 13.25pt 4pt 28pt;
}
.Balk24 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 14.25pt 4pt 18pt;
}
.Balk25 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 15pt 4pt 17pt;
}
.Balk26 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 3.25pt 4pt 18pt;
}
.Balk27 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 12.25pt 4pt 18pt;
}
.Balk28 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 14.25pt 4pt 28pt;
}
.Balk29 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 40pt 4pt 42pt;
}
.Balk30 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 14.25pt 4pt 19pt;
}
.Balk31 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 12pt 4pt 17pt;
}
.Balk32 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 0 4pt;
}
.Balk33 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 14.25pt 4pt 28pt;
}
.Balk34 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 14.25pt 4pt 28pt;
}
.Balk35 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 0 4pt 11pt;
}
.Balk36 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 43pt 4pt 26pt;
}
.Balk37 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 20pt 4pt 24pt;
}
.Balk38 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 17pt 4pt 28pt;
}
.Balk39 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 13.25pt 4pt 18pt;
}
.Balk40 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 13.25pt 4pt 28pt;
}
.Balk41 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 27pt 4pt 28pt;
}
.Balk42 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 42pt 4pt 41pt;
}
.Balk43 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 1cm 4pt 15pt;
}
.Balk44 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 42pt 4pt 45pt;
}
.Balk45 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 42pt 4pt;
}
.Balk46 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 14.25pt 4pt 14pt;
}
.Balk47 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 10.25pt 4pt 19pt;
}
.Balk48 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 40pt 4pt 43pt;
}
.Balk49 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 1cm 4pt 19pt;
}
.Balk50 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 24pt 1cm 4pt 28pt;
}
.Balk51 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 9.25pt 4pt 28pt;
}
.Balk52 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 12pt 14.25pt 4pt 21pt;
}
.Balk53 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 16pt 40pt 4pt 42pt;
}
.beyit {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em 0 2pt;
}
.beyit1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 8pt 0 1em;
}
.beyit2 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em 0 1em 11pt;
}
.beyit3 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 2pt -20.75pt 0.0001pt 18pt;
}
.beyit4 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 -20.75pt 4pt 18pt;
}
.beyit5 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 24pt;
  margin: 1em 0;
}
.beyit6 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 3pt -0.75pt 3pt 0;
}
.beyit7 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -17pt 1em 0;
}
.beyit8 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: -2pt;
  margin: 1em 0 1em 31pt;
}
.beyit9 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 3pt -0.75pt 6pt 0;
}
.beyit10 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em 0 6pt;
}
.beyit11 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 3pt -23.75pt 3pt 0;
}
.beyit12 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -7.75pt 1em 0;
}
.beyit13 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -17.75pt 1em 0;
}
.beyit14 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -0.75pt 1em 0;
}
.beyitara {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -14.75pt 1em 0;
}
.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-weight: bold;
}
.calibre2 {
  font-style: italic;
}
.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre7 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  margin: 0 0 6pt;
}
.calibre8 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre9 {
  font-family: "Times New Roman", "serif";
}
.calibre10 {
  font-size: 0.77778em;
  line-height: 1.2;
}
.calibre11 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre12 {
  display: table-row;
  page-break-inside: avoid;
  vertical-align: inherit;
}
.calibre13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 113pt;
  padding: 0 4pt;
}
.calibre14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 324pt;
  padding: 0 4pt;
}
.calibre15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 3.75pt;
  padding: 0;
}
.calibre16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 117pt;
  padding: 0 4pt;
}
.calibre17 {
  font-size: 0.77778em;
}
.calibre18 {
  font-size: 0.77778em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre19 {
  font-family: "Yazı tipi17922";
}
.calibre20 {
  display: table-row;
  vertical-align: inherit;
}
.calibre21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 113.25pt;
  padding: 0;
}
.calibre22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 320.25pt;
  padding: 0;
}
.calibre23 {
  display: block;
}
.calibre24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 9pt;
}
.calibre25 {
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre26 {
  display: block;
}
.calibre27 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre28 {
  position: relative;
  top: 0;
}
.calibre29 {
  font-family: "Times", "serif";
  font-size: 0.85714em;
  line-height: 1.2;
}
.calibre30 {
  display: none;
}
.calibre31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 195pt;
  padding: 0 4pt;
}
.calibre32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 50pt;
  padding: 0 4pt;
}
.calibre33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 60.05pt;
  padding: 0 4pt;
}
.calibre34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 3pt;
  padding: 0;
}
.calibre35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 80.05pt;
  padding: 0 4pt;
}
.calibre36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 105.95pt;
  padding: 0 4pt;
}
.calibre37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 54.15pt;
  padding: 0 4pt;
}
.calibre38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 104pt;
  padding: 0 4pt;
}
.calibre39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 57.95pt;
  padding: 0 4pt;
}
.calibre40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 1.5pt;
  padding: 0;
}
.calibre41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 109pt;
  padding: 0 4pt;
}
.calibre42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 51.1pt;
  padding: 0 4pt;
}
.calibre43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 201pt;
  padding: 0 4pt;
}
.calibre44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 42.2pt;
  padding: 0 4pt;
}
.calibre45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 65pt;
  padding: 0 4pt;
}
.calibre46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 175.2pt;
  padding: 0 4pt;
}
.calibre47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 120.1pt;
  padding: 0 4pt;
}
.calibre48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 60pt;
  padding: 0;
}
.calibre49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 5.25pt;
  padding: 0;
}
.calibre50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 15pt;
  padding: 0;
}
.calibre51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 24pt;
  padding: 0;
}
.calibre52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 11.25pt;
  padding: 0;
}
.calibre53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 39.75pt;
  padding: 0;
}
.calibre54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 20.25pt;
  padding: 0;
}
.calibre55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 2.25pt;
  padding: 0;
}
.calibre56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 39pt;
  padding: 0;
}
.calibre57 {
  font-style: italic;
  line-height: 1.2;
}
.calibre58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 120pt;
  padding: 0 4pt;
}
.calibre59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 60pt;
  padding: 0 4pt;
}
.calibre60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 62pt;
  padding: 0 4pt;
}
.calibre61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 0.75pt;
  padding: 0;
}
.calibre62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 93pt;
  padding: 0 4pt;
}
.calibre63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 67.1pt;
  padding: 0 4pt;
}
.calibre64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 240.25pt;
  padding: 0 4pt;
}
.calibre65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 48.9pt;
  padding: 0 4pt;
}
.calibre66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 71.2pt;
  padding: 0 4pt;
}
.calibre67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 49pt;
  padding: 0 4pt;
}
.calibre68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 48pt;
  padding: 0 4pt;
}
.calibre69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 83.2pt;
  padding: 0 4pt;
}
.calibre70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 119pt;
  padding: 0 4pt;
}
.calibre71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 48.75pt;
  padding: 0;
}
.calibre72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 18pt;
  padding: 0;
}
.calibre73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 12.75pt;
  padding: 0;
}
.calibre74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 15.75pt;
  padding: 0;
}
.calibre75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 33pt;
  padding: 0;
}
.calibre76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 9pt;
  padding: 0;
}
.calibre77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 53pt;
  padding: 0 4pt;
}
.calibre78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 59pt;
  padding: 0 4pt;
}
.calibre79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 128.15pt;
  padding: 0 4pt;
}
.calibre80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 13.5pt;
  padding: 0;
}
.calibre81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 130pt;
  padding: 0 4pt;
}
.calibre82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 57.15pt;
  padding: 0 4pt;
}
.calibre83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 69pt;
  padding: 0 4pt;
}
.calibre84 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 118.15pt;
  padding: 0 4pt;
}
.calibre85 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 82pt;
  padding: 0 4pt;
}
.calibre86 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 96pt;
  padding: 0 4pt;
}
.calibre87 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 6.75pt;
  padding: 0;
}
.calibre88 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 99pt;
  padding: 0 4pt;
}
.calibre89 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 61.1pt;
  padding: 0 4pt;
}
.calibre90 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 77.15pt;
  padding: 0 4pt;
}
.calibre91 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 170pt;
  padding: 0 4pt;
}
.calibre92 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 70.2pt;
  padding: 0 4pt;
}
.calibre93 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 51pt;
  padding: 0 4pt;
}
.calibre94 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 72pt;
  padding: 0 4pt;
}
.calibre95 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 117.15pt;
  padding: 0 4pt;
}
.calibre96 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 79pt;
  padding: 0 4pt;
}
.calibre97 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 161.2pt;
  padding: 0 4pt;
}
.calibre98 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 68pt;
  padding: 0 4pt;
}
.calibre99 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 110.15pt;
  padding: 0 4pt;
}
.calibre100 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 205pt;
  padding: 0 4pt;
}
.calibre101 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 39pt;
  padding: 0 4pt;
}
.calibre102 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 9.75pt;
  padding: 0;
}
.calibre103 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 110pt;
  padding: 0 4pt;
}
.calibre104 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 40.05pt;
  padding: 0 4pt;
}
.calibre105 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 114pt;
  padding: 0 4pt;
}
.calibre106 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 67.15pt;
  padding: 0 4pt;
}
.calibre107 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 51pt;
  padding: 0;
}
.calibre108 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 6pt;
  padding: 0;
}
.calibre109 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 14.25pt;
  padding: 0;
}
.calibre110 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 17.25pt;
  padding: 0;
}
.calibre111 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 8.25pt;
  padding: 0;
}
.calibre112 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  width: 38.25pt;
  padding: 0;
}
.calibre113 {
  display: none;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre114 {
  text-decoration: underline;
}
.calibre115 {
  color: blue;
  font-family: "Times", "serif";
  font-size: 0.85714em;
  line-height: 1.2;
}
.calibre116 {
  height: 15px;
  width: 216px;
}
.calibre117 {
  font-size: 0.77778em;
  line-height: 1.2;
  vertical-align: sub;
}
.calibre118 {
  font-size: 1.14286em;
  line-height: 1.2;
}
.calibre119 {
  height: 15px;
  width: 147px;
}
.calibre120 {
  height: 17px;
  width: 152px;
}
.calibre121 {
  color: gray;
  display: block;
  height: 2px;
  text-align: left;
  border-top: currentColor solid 1px;
  border-right: currentColor none 1px;
  border-bottom: currentColor none 1px;
  border-left: currentColor none 1px;
  margin: 0.5em auto;
}
.calibre122 {
  font-size: 0.85714em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre123 {
  line-height: 1.2;
}
.calibre124 {
  line-height: 1.2;
  position: relative;
  top: 0;
}
.evliyasatr {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 24pt;
  margin: 0 0 1em;
}
.evliyasatr1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 1em;
}
.evliyasatr2 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -1pt 1em 0;
}
.evliyasatr3 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em 0 3pt;
}
.evliyasatr4 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 -1pt 3pt 0;
}
.iindekiler {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em 0;
}
.iindekiler1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -5pt 1em 0;
}
.iindekiler2 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -8pt 1em 0;
}
.iindekiler3 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -11pt 1em 0;
}
.metin {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0;
}
.metin1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -3.75pt 1em 0;
}
.metin2 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -6.75pt 1em 0;
}
.metin3 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 12pt 0 1em;
}
.metin4 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  margin: 1em 0;
}
.metin5 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 1em -1.15pt 1em 0;
}
.metin6 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: 15pt;
  margin: 1em 0;
}
.metin7 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: 1pt;
  margin: 1em 0;
}
.metin8 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 6pt 0 1em;
}
.metin9 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 3pt 0 1em;
}
.metin10 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: 15pt;
  margin: 1em -5pt 1em 0;
}
.metin11 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -4pt 1em 0;
}
.metin12 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: -1pt;
  margin: 1em 0 1em 1pt;
}
.metin13 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1em -4.75pt 1em 0;
}
.metin14 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: 11pt;
  margin: 1em -6.75pt 1em 0;
}
.metin15 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  margin: 1pt 0;
}
.metin16 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 1pt 0;
}
.metin17 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 4pt 0 1em;
}
.MsoFootnoteReference {
  position: relative;
  top: -3pt;
}
.MsoFootnoteReference1 {
  line-height: 1.2;
  position: relative;
  top: -3pt;
}
.MsoFootnoteText {
  display: block;
  font-family: "Times", "serif";
  font-size: 0.77778em;
  line-height: 1.2;
  text-align: justify;
  text-indent: -15pt;
  margin: 1pt 0 1pt 15pt;
}
.MsoNormal {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 0.0001pt;
}
.MsoNormal1 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  text-indent: 1pt;
  margin: 0 0 0.0001pt;
}
.MsoNormal2 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: right;
  text-indent: 28pt;
  margin: 12pt 30pt 0.0001pt 0;
}
.MsoNormal3 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.0001pt;
}
.MsoNormal4 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 12pt 0 0.0001pt 1pt;
}
.MsoNormal5 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  margin: 12pt 0 0.0001pt 1pt;
}
.MsoNormal6 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 12pt 0 0.0001pt 1pt;
}
.MsoNormal7 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 12pt -5pt 0.0001pt 0;
}
.MsoNormal8 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 24pt;
  text-align: justify;
  margin: 16pt 0 0.0001pt 1pt;
}
.MsoNormal9 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 4.8pt 0.0001pt 0;
}
.MsoNormal10 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  text-indent: -28pt;
  margin: 1pt 0.2pt 1pt 28pt;
}
.MsoNormal11 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 1cm;
  margin: 0 0 0.0001pt;
}
.MsoNormal12 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  margin: 12pt 1.55pt 2pt 0;
}
.MsoNormal13 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: right;
  margin: 12pt 0 2pt;
}
.MsoNormal14 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  margin: 2pt 1.55pt 2pt 0;
}
.MsoNormal15 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: right;
  margin: 2pt 0;
}
.MsoNormal16 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 3pt 0.55pt 3pt 0;
}
.MsoNormal17 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: -29pt;
  margin: 2pt 0 0.0001pt 29pt;
}
.MsoNormal18 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-align: center;
  text-indent: -29pt;
  margin: 6pt 0 0.0001pt 29pt;
}
.MsoNormal19 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  page-break-after: avoid;
  text-indent: -19pt;
  margin: 1pt 0 0.0001pt 19pt;
}
.MsoNormal20 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-indent: -19pt;
  margin: 1pt 0 0.0001pt 19pt;
}
.MsoNormal21 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  text-indent: -15pt;
  margin: 0 0 0.0001pt 15pt;
}
.MsoNormalTable {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 53pt;
  margin-top: 0;
  text-indent: 0;
}
.MsoNormalTable1 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.MsoNormalTable2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.sunu {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 28pt;
  margin: 2pt 28.9pt 2pt 29pt;
}
.sunu1 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 2pt 48.9pt 2pt 56pt;
}
.sunu2 {
  display: block;
  font-family: "Times", "serif";
  font-size: 1em;
  line-height: 1.2;
  text-align: right;
  text-indent: 28pt;
  margin: 2pt 57pt 2pt 29pt;
}
.WordSection {
  display: block;
  page: WordSection1;
}
.pcalibre:visited {
  color: purple;
  text-decoration: underline;
}
.pcalibre1:link {
  color: blue;
  text-decoration: underline;
}
