body {font-family:'Times New Roman',serif;font-size:16.0px}
span.Footnoteanchor {font-size:58%;vertical-align:super}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-size:16.0px}
hr.footnoterule {margin-top:3.817323px;margin-bottom:3.817323px;height:1.0px;width:100%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
