.Balk {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.balkorta {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: left;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-family: "Calibri", "sans-serif";
    font-size: 0.875em;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-family: "Helvetica", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 35.4pt;
    margin: 12pt 0 0.0001pt
    }
.calibre6 {
    font-family: "Times New Roman", "serif"
    }
.calibre7 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre8 {
    display: table-row;
    page-break-inside: avoid;
    vertical-align: inherit
    }
.calibre9 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 113pt;
    padding: 0 4pt
    }
.calibre10 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 324pt;
    padding: 0 4pt
    }
.calibre11 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 3.75pt;
    padding: 0
    }
.calibre12 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 117pt;
    padding: 0 4pt
    }
.calibre13 {
    height: 16px;
    width: 16px
    }
.calibre14 {
    display: table-row;
    vertical-align: inherit
    }
.calibre15 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 113.25pt;
    padding: 0
    }
.calibre16 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 320.25pt;
    padding: 0
    }
.calibre17 {
    display: block
    }
.calibre18 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    width: 120.5pt;
    padding: 9pt
    }
.calibre19 {
    display: block
    }
.calibre20 {
    font-family: "Helvetica", "sans-serif"
    }
.calibre21 {
    display: block;
    font-family: "Helvetica", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin: 12pt 0 12pt 35.4pt
    }
.calibre22 {
    display: block;
    font-family: "Helvetica", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 12pt 0 0.0001pt
    }
.calibre23 {
    font-family: "Calibri", "sans-serif"
    }
.calibre24 {
    display: none
    }
.calibre25 {
    color: red;
    display: none
    }
.calibre26 {
    font-family: "Calibri", "sans-serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    line-height: 1.2
    }
.calibre28 {
    display: none;
    font-family: "Calibri", "sans-serif"
    }
.calibre29 {
    font-family: "Calibri", "sans-serif";
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre30 {
    display: none;
    line-height: 1.2
    }
.calibre31 {
    font-style: italic;
    line-height: 1.2
    }
.calibre32 {
    font-family: "Calibri", "sans-serif";
    text-transform: uppercase
    }
.calibre33 {
    color: red;
    display: none;
    font-family: "Calibri", "sans-serif"
    }
.calibre34 {
    color: red
    }
.calibre35 {
    line-height: 1.2
    }
.calibre36 {
    font-family: "Calibri", "sans-serif";
    line-height: 1.2
    }
.calibre37 {
    color: red;
    display: none;
    font-family: "Calibri", "sans-serif";
    font-size: 0.875em;
    line-height: 1.2
    }
.calibre38 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
    }
.calibre39 {
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre40 {
    font-family: "Times", "serif";
    font-size: 0.75em
    }
.calibre41 {
    font-size: 0.75em
    }
.evliya {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 35.45pt;
    margin: 1em 0
    }
.evliyabeyit {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.evliyabeyit1 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    page-break-after: avoid;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.evliyametin {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    page-break-after: avoid;
    text-indent: 35.45pt;
    margin: 1em 0
    }
.MsoFootnoteReference {
    position: relative;
    top: -3pt
    }
.MsoFootnoteReference1 {
    line-height: 1.2;
    position: relative;
    top: -3pt
    }
.MsoFootnoteText {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.75em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt 0 1pt 15pt
    }
.MsoFootnoteText1 {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.75em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt -0.75pt 1pt 15pt
    }
.MsoFootnoteText2 {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.75em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt -8pt 1pt 15pt
    }
.MsoFootnoteText3 {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.75em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt -11pt 1pt 15pt
    }
.MsoFootnoteText4 {
    display: block;
    font-family: "Times", "serif";
    font-size: 0.75em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt -12pt 1pt 15pt
    }
.MsoNormal {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.MsoNormal1 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.MsoNormal2 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.0001pt
    }
.MsoNormal3 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    page-break-after: avoid;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.MsoNormal4 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-indent: 35.4pt;
    margin: 0 0 0.0001pt
    }
.MsoNormal5 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 12pt
    }
.MsoNormal6 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 0 0 0.0001pt 15pt
    }
.MsoNormal7 {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -15pt;
    margin: 1pt 0 1pt 15pt
    }
.MsoNormalTable {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 53pt;
    margin-top: 0;
    text-indent: 0
    }
.MsoNormalTable1 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.sunu {
    display: block;
    font-family: "Times", "serif";
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    text-indent: 35.45pt;
    margin: 0 0 0.0001pt
    }
.WordSection {
    display: block;
    page: WordSection1
    }
