p {
  font-size: 1em;
}
i, em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}
.ic_kapak_1 {
  margin: 5em 0 1em;
}
.ic_kapak_2 {
  margin: 1em 0;
}
.kitap_adi, .yazar_adi, .cevirmen_adi, .yayinevi_adi, .baslik_1 {
  font-weight: normal;
  text-align: center;
}
.kitap_adi, .yazar_adi, .cevirmen_adi, .yayinevi_adi {
  margin: 0;
}
.baslik_1 {
  margin: 4em 0 2em;
  font-size: 1.7em;
}
.kitap_adi {
  font-size: 2em;
}
.yazar_adi {
  font-size: 1.5em;
}
.cevirmen_adi, .yayinevi_adi {
  font-size: 1em;
}
.kunye {
  margin-left: 1.5em;
}
.kunye p {
  font-size: 0.875em;
  text-align: left;
  margin: 0;
}
.kunye_1 {
  margin: 4.5em 0 3em;
}
.kunye_2 {
  margin: 1.5em 0;
}
.kunye_3 {
  margin: 3em 0 1.5em;
}
.bolum p {
  text-indent: 1.5em;
  margin: 0;
}
.resim {
  text-align: center;
  margin: 1.5em 0;
}
p.paragraf {
  margin-top: 1.5em;
}
