body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:0;margin-left:0.04in;margin-right:0.04in;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:Arial,sans-serif;font-size:109%}
.p0{text-align:center;margin-top:56.7pt;margin-bottom:0}
.p1{text-align:center;margin-bottom:0}
.p2{text-align:center;margin-top:70.9pt;margin-bottom:0}
.p3{margin-left:0;margin-right:0;text-align:center;margin-bottom:0}
.p4{line-height:200%;text-align:center;margin-top:12pt;margin-bottom:24pt}
.p5{margin-left:0;margin-right:0;text-align:center;margin-top:12pt;margin-bottom:6pt}
.p6{text-align:center;margin-top:6pt;margin-bottom:0}
.p7{text-align:left;margin-bottom:0}
.p9{margin-bottom:28.4pt}
.p10{margin-bottom:2.9pt}
.p11{text-align:left}
.p12{margin-bottom:22.7pt}
.p13{margin-bottom:0}
.p14{margin-bottom:14.2pt}
.p15{text-align:left;margin-bottom:22.7pt}
.p16{text-align:left;margin-bottom:2.9pt}
.p17{text-align:left;margin-bottom:28.4pt}
.p18{text-align:center;margin-bottom:14.2pt}
.p19{text-align:center;margin-bottom:22.7pt}
.p20{text-align:left;margin-bottom:14.2pt}
.p21{text-align:right;margin-bottom:28.4pt}
.t0{font-family:Cambria,serif;font-size:3em}
.t1{font-family:Cambria,serif;font-size:3em}
.t2{font-family:Cambria,serif;font-size:3em}
.t3{font-family:Cambria,serif;font-size:1.67em;text-decoration:underline}
.t4{font-size:.83em}
.t5{font-family:Cambria,serif;font-size:1.5em;color:red}
.t6{font-family:Cambria,serif;font-size:1.5em;color:red}
.t7{font-family:Calibri,sans-serif;font-size:.83em}
.t8{font-family:Calibri,sans-serif;font-size:.83em}
.t9{font-family:Calibri,sans-serif;font-size:.92em}
.t10{font-family:Calibri,sans-serif;font-size:.83em}
.t11{font-family:Cambria,serif;font-size:1em;color:red}
.t13{font-size:1em}
.t14{font-size:1em}
.t15{font-family:"Times New Roman",serif;font-size:1.17em}
.t16{font-family:"Times New Roman",serif;font-size:1.17em}
.t17{font-family:"Times New Roman",serif;font-size:1.17em}
.t18{font-family:"Times New Roman",serif;font-size:1em}
.t19{font-family:"Times New Roman",serif;font-size:1.67em;text-decoration:underline}
.t20{font-family:Cambria,serif;font-size:1.5em;color:red}
.t21{font-family:"Times New Roman",serif;font-size:1.17em}
.t22{font-size:1em}