.block_ {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 0
    }
.block_1 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_3 {
    display: block;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_6 {
    color: black;
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_7 {
    color: black;
    display: block;
    font-family: serif;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block_8 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 0
    }
.block_9 {
    display: block;
    font-weight: bold;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block_10 {
    display: block;
    font-style: italic;
    font-weight: bold;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt 0
    }
.block_11 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block_12 {
    display: block;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt 0
    }
.block_13 {
    color: black;
    display: block;
    font-family: serif;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block_14 {
    display: block;
    font-weight: bold;
    page-break-after: avoid;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block_15 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block_16 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 0
    }
.block_17 {
    display: block;
    font-style: italic;
    font-weight: bold;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 7.2pt 3pt 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Bookman Old Style", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic
    }
.calibre2 {
    display: block
    }
.calibre3 {
    white-space: pre-wrap
    }
.text_ {
    color: #000
    }
.text_1 {
    color: #06C;
    text-decoration: underline
    }
.text_2 {
    font-style: italic;
    font-weight: bold
    }
