a {text-decoration: none}
span.sz {}
p.tc {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 135% 'Times New Roman'}
p.tcd {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: right; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: right; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
span.s1 {}
span.s2 {text-decoration: underline ; }
span.s3 {vertical-align: 3.0px; }
span.Apple-tab-span {white-space:pre}
table.t1 {border-collapse: collapse}
td.td1 {width: 43.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td2 {width: 39.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td3 {width: 44.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td4 {width: 41.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td5 {width: 36.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td6 {width: 40.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td7 {width: 42.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
td.td8 {width: 49.0px; height: 13.5px; border-style: solid; border-width: 0.5px 0.5px 0.5px 0.5px; border-color: #000000 #000000 #000000 #000000}
