.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.none {
    color: #06C;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: underline
    }
.s1 {
    display: block;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 73.7pt
    }
.s2 {
    display: block;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.s3 {
    display: block;
    padding-left: 31.2pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s4 {
    display: block;
    padding-left: 47.05pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s5 {
    display: block;
    padding-left: 0;
    padding-right: 84.5pt;
    text-align: left;
    text-indent: 0
    }
.s6 {
    display: block;
    padding-left: 0;
    padding-right: 42.25pt;
    text-align: left;
    text-indent: 0
    }
.s7 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s8 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0
    }
.s9 {
    display: block;
    padding-left: 15.35pt;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.s10 {
    display: block;
    padding-left: 21.1pt;
    padding-right: 0;
    text-align: left;
    text-indent: 18.7pt
    }
.s11 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.s12 {
    display: block;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 5.75pt
    }
.s13 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 6.25pt
    }
.s14 {
    display: block;
    padding-left: 0;
    padding-right: 0.25pt;
    text-align: justify;
    text-indent: 6pt
    }
.s15 {
    display: block;
    padding-left: 0;
    padding-right: 0.5pt;
    text-align: justify;
    text-indent: 6.7pt
    }
.s16 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 6pt
    }
.s17 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 0
    }
.s18 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 5.75pt
    }
.s19 {
    display: block;
    font-weight: bold;
    padding-left: 99.35pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s20 {
    display: block;
    padding-left: 0;
    padding-right: 0.5pt;
    text-align: justify;
    text-indent: 6pt
    }
.s21 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s22 {
    display: block;
    padding-left: 0;
    padding-right: 10.1pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s23 {
    display: block;
    font-style: italic;
    padding-left: 144pt;
    padding-right: 0;
    text-align: right;
    text-indent: 0
    }
.s24 {
    display: block;
    font-weight: bold;
    padding-left: 61.9pt;
    padding-right: 62.65pt;
    text-align: center;
    text-indent: 0
    }
.s25 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 0.5pt;
    text-align: right;
    text-indent: 0
    }
.s26 {
    display: block;
    font-weight: bold;
    padding-left: 94.3pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s27 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 6.5pt
    }
.s28 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 5.75pt
    }
.s29 {
    display: block;
    padding-left: 66.25pt;
    padding-right: 75.85pt;
    text-align: center;
    text-indent: 0
    }
.s30 {
    display: block;
    padding-left: 42.25pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s31 {
    display: block;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: justify;
    text-indent: 5.75pt
    }
.s32 {
    display: block;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s33 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 6pt
    }
.s34 {
    display: block;
    padding-left: 0;
    padding-right: 10.3pt;
    text-align: justify;
    text-indent: 6pt
    }
.s35 {
    display: block;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: justify;
    text-indent: 6pt
    }
.s36 {
    display: block;
    font-weight: bold;
    padding-left: 38.15pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s37 {
    display: block;
    padding-left: 0;
    padding-right: 0.25pt;
    text-align: justify;
    text-indent: 5.75pt
    }
.s38 {
    display: block;
    padding-left: 0;
    padding-right: 10.3pt;
    text-align: justify;
    text-indent: 0
    }
.s39 {
    display: block;
    font-weight: bold;
    padding-left: 43.7pt;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.s40 {
    display: block;
    padding-left: 0;
    padding-right: 0.25pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s41 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 6.5pt
    }
.s42 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: right;
    text-indent: 0
    }
.s43 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: right;
    text-indent: 0
    }
.s44 {
    display: block;
    font-weight: bold;
    padding-left: 76.1pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s45 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 0.25pt;
    text-align: right;
    text-indent: 0
    }
.s46 {
    display: block;
    padding-left: 0;
    padding-right: 10.3pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s47 {
    display: block;
    font-style: italic;
    padding-left: 212.4pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s48 {
    display: block;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: justify;
    text-indent: 6.5pt
    }
.s49 {
    display: block;
    font-style: italic;
    padding-left: 193.45pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s50 {
    display: block;
    padding-left: 0;
    padding-right: 0.7pt;
    text-align: justify;
    text-indent: 6.25pt
    }
.s51 {
    display: block;
    font-style: italic;
    padding-left: 155.05pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s52 {
    display: block;
    font-style: italic;
    padding-left: 174.7pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s53 {
    display: block;
    font-style: italic;
    padding-left: 212.15pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s54 {
    display: block;
    font-style: italic;
    padding-left: 174.95pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s55 {
    display: block;
    font-style: italic;
    padding-left: 167.75pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s56 {
    display: block;
    padding-left: 0;
    padding-right: 0.7pt;
    text-align: justify;
    text-indent: 6pt
    }
.s57 {
    display: block;
    font-style: italic;
    padding-left: 210pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s58 {
    display: block;
    font-style: italic;
    padding-left: 185.5pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s59 {
    display: block;
    font-style: italic;
    padding-left: 153.1pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s60 {
    display: block;
    padding-left: 0;
    padding-right: 9.85pt;
    text-align: justify;
    text-indent: 0
    }
.s61 {
    display: block;
    padding-left: 0;
    padding-right: 9.6pt;
    text-align: justify;
    text-indent: 5.5pt
    }
.s62 {
    display: block;
    padding-left: 0;
    padding-right: 10.1pt;
    text-align: justify;
    text-indent: 0
    }
.s63 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0
    }
.s64 {
    display: block;
    font-style: italic;
    padding-left: 181.9pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s65 {
    display: block;
    font-style: italic;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    text-indent: 0
    }
.s66 {
    display: block;
    font-style: italic;
    padding-left: 176.15pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s67 {
    display: block;
    padding-left: 0;
    padding-right: 172.8pt;
    text-align: left;
    text-indent: 0
    }
.s68 {
    display: block;
    font-style: italic;
    padding-left: 167.05pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
.s69 {
    display: block;
    font-style: italic;
    padding-left: 176.4pt;
    padding-right: 0;
    text-align: justify;
    text-indent: 0
    }
h1
{
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1.5em;
}