@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/AGaramondPro-Bold.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:italic;
	font-weight:bold;
	src : url("../Fonts/AGaramondPro-BoldItalic.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:oblique;
	font-weight:bold;
	src : url("../Fonts/AGaramondPro-BoldItalic.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/AGaramondPro-Italic.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:oblique;
	font-weight:normal;
	src : url("../Fonts/AGaramondPro-Italic.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/AGaramondPro-Regular.otf");
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.govde-metin {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
}
p.jenerik {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.kitap-adi {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	-webkit-hyphens:none;
	color:#cc071e;
	font-family:"Adobe Garamond Pro", serif;
	font-size:1.083em;
	font-style:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.buyuk-kitap-adi {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	-webkit-hyphens:none;
	color:#cc071e;
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:2.083em;
	font-style:normal;
	font-weight:bold;
	line-height:1.16;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.baslik-1 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.107;
	margin-bottom:43px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.dipnotlar {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:20px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:-20px;
}
p.sunus-isim {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:0.917em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:20px;
}
span.bold-italik {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-style:italic;
	font-weight:bold;
}
span.italik {
	font-family:"Adobe Garamond Pro", serif;
	font-style:italic;
	font-weight:normal;
}
span.bold {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-1 {
	break-after:column;
}
span.char-style-override-1 {
	font-size:11px;
	font-variant:normal;
}
img.frame-1 {
	height:109px;
	width:89px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
