p{text-indent:1.5em;margin:0;font-family:serif;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:center}
.p2{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p3{text-indent:0;margin-left:1.3em;margin-right:1.1em}
.p4{text-indent:0;margin-left:0;line-height:250%;text-align:center}
.p5{text-indent:0;margin-left:3.2em}
.p6{text-indent:0;margin-left:0;line-height:.87em;margin-right:.091em;text-align:center;margin-bottom:0}
.p7{text-indent:1.9em;margin-left:1.3em;margin-right:1.1em}
.p9{text-indent:0;margin-left:14em;line-height:150%;text-align:right;margin-bottom:0}
.p10{text-indent:0;margin-left:14em;line-height:.98em;text-align:right;margin-bottom:0}
.p11{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-bottom:0}
.p12{text-align:right}
.p13{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:.7em}
.p14{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p15{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.66em}
.p16{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:.65em}
.p17{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p18{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:.4em}
.p19{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.71em}
.p20{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.7em}
.p21{text-indent:1.3em;margin-left:1.3em}
.p22{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:0}
.p23{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.65em}
.p24{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.76em}
.p25{text-indent:0;margin-left:2.7em;line-height:1.2em;text-align:left;margin-bottom:0}
.p26{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:.42em}
.p27{text-indent:0;margin-left:3em;line-height:1.3em;text-align:left;margin-bottom:.63em}
.p28{text-indent:0;margin-left:0}
.p29{text-indent:0;margin-left:0;line-height:.64em;margin-bottom:0}
.p30{text-indent:0;margin-left:4.5em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p31{text-indent:0;margin-left:2.7em;line-height:1.3em;text-align:left;margin-bottom:0}
.p32{text-indent:0;margin-left:6.3em;line-height:1.3em;text-align:left;margin-bottom:0}
.p33{text-indent:.91em;margin-left:0;line-height:.36em;margin-bottom:.35em}
.p34{text-indent:0;margin-left:6.2em;line-height:1.2em;text-align:left;margin-bottom:0}
.p35{text-indent:0;margin-left:6.4em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p36{text-indent:0;margin-left:3.3em;line-height:1.2em;text-align:left;margin-bottom:.67em}
.p37{text-indent:0;margin-left:3.3em;line-height:1.3em;text-align:left;margin-bottom:.7em}
.p38{text-indent:0;margin-left:5.4em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p39{text-indent:0;margin-left:2.8em;line-height:1.2em;text-align:left;margin-bottom:.71em}
.p40{text-indent:0;margin-left:2.8em;line-height:1.5em;text-align:left;margin-bottom:.91em}
.p41{text-indent:0;margin-left:2.9em;line-height:1.3em;text-align:left;margin-bottom:.65em}
.p42{text-indent:.82em;margin-left:2em;line-height:.94em;margin-bottom:0}
.p43{text-indent:0;margin-left:4.1em;line-height:1.3em;text-align:left;margin-bottom:0}
.p44{text-indent:0;margin-left:4em;line-height:1.3em;text-align:left;margin-bottom:.54em}
.p45{text-indent:0;margin-left:2.9em;line-height:1.3em;text-align:left;margin-bottom:.68em}
.p46{text-indent:0;margin-left:2.8em;line-height:1.3em;text-align:left;margin-bottom:.95em}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:.86em;margin-bottom:1.3em;font-family:Amasis,serif;font-size:127%;font-weight:bold;color:#0c0228}
h2{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:1em;margin-bottom:1em;font-family:Amasis,serif;font-size:109%;font-weight:bold;color:#3b3838}
.t1{font-size:.091em;line-height:100%}
.t2{font-size:.95em;line-height:140%}
.t3{font-family:"Arial Unicode MS",sans-serif;font-size:.95em;line-height:140%}
.t4{font-size:.95em;line-height:140%;font-style:italic}
.t5{font-size:.95em;line-height:140%;font-weight:bold;font-style:italic}
.t6{font-family:"Arial Unicode MS",sans-serif;font-size:.95em;line-height:140%;font-weight:bold;font-style:italic}
.t7{font-size:.91em;line-height:140%;font-weight:bold;font-style:italic}
.t8{font-size:1.3em;line-height:250%;font-weight:bold}
.t9{font-size:1.5em;line-height:250%}
.t10{font-weight:bold}
.t12{font-size:.91em;line-height:250%;font-style:italic}
.t13{font-size:.82em;line-height:140%}
.t14{font-weight:bold}
.t15{font-family:"Arial Unicode MS",sans-serif;font-weight:bold}
.t16{font-weight:bold;font-style:italic}
.t17{font-family:"Arial Unicode MS",sans-serif;font-style:italic}
.t18{font-style:italic}
.t19{font-family:"Arial Unicode MS",sans-serif;font-size:.82em;line-height:140%}
.t20{font-size:.82em;line-height:140%;color:#0563c1;text-decoration:underline}
.t21{font-size:.82em;line-height:140%;color:blue;text-decoration:underline}
.t22{font-size:.55em;color:#0066cc;text-decoration:underline}
.t23{font-size:.55em}
.t24{font-family:"Arial Unicode MS",sans-serif}
.t25{font-weight:bold;font-style:italic}
.t26{font-family:"Arial Unicode MS",sans-serif;font-weight:bold;font-style:italic}
.t27{font-size:.82em;font-weight:bold;font-style:italic}
.t28{font-size:1.3em;font-weight:bold}
.t29{font-size:.65em;line-height:140%;vertical-align:super}
.t30{font-family:"Arial Unicode MS",sans-serif;font-size:1em;line-height:140%;font-style:italic}
.t31{font-size:1em;line-height:140%;font-style:italic}
.t32{font-size:.55em;line-height:140%}
.t33{font-size:1.1em;line-height:140%}
.t34{font-size:1.3em}
.t35{font-size:1.2em;font-weight:bold}
.t36{font-size:.64em;line-height:140%;font-weight:bold;font-style:italic}
.t37{font-size:.64em}
.t38{font-size:.36em}
.t39{font-size:1.5em}
.t40{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super}
.t41{font-size:.73em}
.t42{font-size:1.1em;line-height:100%}
.t43{font-size:.64em;line-height:140%;font-weight:bold}
.t44{font-size:.091em;line-height:140%}
.th10{font-family:"Arial Unicode MS",sans-serif}
.th21{font-size:.083em;line-height:140%}
img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}

