@font-face{font-family:"Liberation Serif";font-style:normal;font-weight:normal;}
@font-face{font-family:"Liberation Serif";font-style:normal;font-weight:bold;}
@font-face{font-family:"Liberation Serif";font-style:italic;font-weight:normal;}
@font-face{font-family:"Liberation Serif";font-style:italic;font-weight:bold;}
body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0.2in;margin-left:0;line-height:115%;margin-right:0;margin-top:0;margin-bottom:5pt;font-family:"Liberation Serif",serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:center;margin-top:6pt;margin-bottom:0}
.p2{text-align:center}
.p4{text-indent:0;margin-left:0;margin-bottom:0}
.p5{text-indent:0;margin-left:0}
.p6{text-indent:0;margin-left:0.14in}
.p7{text-indent:0;margin-left:0;margin-bottom:10pt}
.p8{margin-bottom:0}
.p9{margin-top:10pt;margin-bottom:0}
.p10{text-indent:0;margin-left:0;margin-top:10pt;margin-bottom:0}
.p11{text-indent:0.2in;margin-left:0.59in;margin-right:0.59in}
.p12{text-indent:0;margin-left:0;line-height:100%;margin-bottom:0}
.p13{text-indent:0;margin-left:0.59in;line-height:100%;margin-right:0.59in;margin-bottom:0}
.p14{text-indent:0;margin-left:0.25in;margin-bottom:0}
h1
{
margin-top:3em;
margin-bottom:5em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}