body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0.04in;margin-right:0.04in;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:Arial,sans-serif;font-size:109%}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:center;margin-top:56.7pt;margin-bottom:0}
.p2{line-height:200%;text-align:center;margin-top:30pt;margin-bottom:30pt}
.p4{margin-bottom:28.4pt}
.p5{margin-bottom:22.7pt}
.p6{margin-bottom:14.2pt}
.p7{margin-bottom:5.7pt}
.p8{margin-bottom:2.9pt}
.p9{text-align:center;margin-bottom:28.4pt}
.p10{text-align:center;margin-bottom:2.9pt}
.p11{margin-bottom:19.9pt}
.p12{text-align:center;margin-bottom:22.7pt}
.p13{text-indent:-0.25in;margin-left:0.04in}
.p14{text-indent:-0.25in;margin-left:0.04in;margin-bottom:28.4pt}
.p15{text-align:left;margin-bottom:28.4pt}
.p16{margin-bottom:0}
.p17{text-align:center;margin-bottom:14.2pt}
.p18{text-align:left}
.p19{margin-left:0;margin-right:0;text-align:left;margin-bottom:0}
.t0{font-size:.83em}
.t2{font-family:"Magic School One";font-size:2.67em}
.t3{font-family:"Magic School One";font-size:2.67em}
.t4{font-family:"Magic School One";font-size:2.67em}
.t5{font-size:2.67em}
.t6{font-family:"Magic School One";font-size:1.67em;text-decoration:underline}
.t7{font-family:"Magic School One";font-size:1.67em}
.t8{font-family:"Magic School One";font-size:1.67em}
.t9{font-size:1em}
.t10{font-size:1em}
.t11{font-family:"Times New Roman",serif;font-size:1.17em}
.t12{font-family:"Times New Roman",serif;font-size:1.17em}
.t13{font-family:"Times New Roman",serif;font-size:1.17em}
.t14{font-family:"Times New Roman",serif;font-size:1.17em}
.t15{font-family:"Magic School One";font-size:1.67em}
.t16{font-family:Calibri,sans-serif;font-size:1em}
.t17{font-size:1em}
.t18{font-family:"Magic School One";font-size:1em}
.t19{font-family:"Times New Roman",serif;font-size:.76em;vertical-align:super}
.t20{font-family:Symbol;font-size:1.17em}
.t21{font-family:Symbol;font-size:1em}
.t22{font-family:Calibri,sans-serif;font-size:1.67em}
.t23{font-family:"Times New Roman",serif;font-size:1em}
.t24{font-family:Calibri,sans-serif;font-size:1.17em}
.t25{font-size:.54em;vertical-align:super}
.t26{font-size:.83em}