p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:0}
.p2{text-indent:0;margin-left:0;text-align:center}
.p3{text-indent:0;margin-left:0}
.p4{text-indent:0;margin-left:0;line-height:100%;text-align:center;page-break-after:avoid;margin-top:0;margin-bottom:2.7em}
.p5{text-indent:2.6em;margin-left:2.6em;margin-right:5.2em;margin-top:0;margin-bottom:0}
.p6{text-indent:1.8em;text-align:center}
.p7{text-indent:-9em;margin-left:12em;margin-top:.91em;margin-bottom:.91em}
.p8{text-indent:-1.5em;margin-left:4.1em;margin-top:.91em;margin-bottom:.91em}
.p9{text-indent:0;margin-left:0;text-align:center;margin-top:11em;margin-bottom:0}
.p10{text-indent:1.8em;text-align:center;page-break-after:avoid}
.p11{text-indent:0;margin-left:0;line-height:100%;text-align:center;page-break-after:avoid;margin-top:1.1em;margin-bottom:0}
.p12{text-indent:0;margin-left:0;text-align:center;page-break-after:avoid}
.p13{text-indent:1.8em;page-break-after:avoid}
.p14{text-indent:1.8em;margin-left:5.2em;margin-right:5.2em}
.p15{text-indent:0;margin-left:1.8em;margin-top:0;margin-bottom:0}
.p16{text-indent:0;margin-left:1.5em;margin-top:0;margin-bottom:0}
.p17{text-indent:-9em;margin-left:12em;margin-top:1.1em;margin-bottom:1.1em}
.p18{text-indent:-10em;margin-left:13em;margin-top:1.1em;margin-bottom:1.1em}
.p19{text-indent:-2.6em;margin-left:5.2em;margin-top:1.1em;margin-bottom:1.1em}
.p20{text-indent:1.8em;margin-top:1.1em;margin-bottom:1.1em}
.p21{text-indent:-10em;margin-left:13em;margin-top:1.1em;margin-bottom:1.1em}
.p22{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.6em;margin-bottom:1.6em;font-family:Garamond,serif;font-size:136%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.92em;margin-bottom:.92em;font-family:Garamond,serif;font-size:118%;font-weight:bold;font-style:italic}
.h21{text-indent:0}
.t1{font-family:"Times New Roman",serif;font-size:1.1em;line-height:100%}
.t3{font-style:italic}
.t4{font-weight:bold}
.t5{color:#0066cc}
.t6{font-family:Garamond,serif;font-size:2.5em;line-height:130%;font-weight:bold}
.t7{font-family:Garamond,serif;font-size:2.2em;line-height:130%;font-weight:bold}
.t8{font-family:Garamond,serif;font-size:2.5em;line-height:130%}
.t9{font-family:Garamond,serif;font-size:2.2em;line-height:130%}
.t10{font-family:Garamond,serif;font-size:1.6em;line-height:130%}
.t11{font-family:Garamond,serif;font-size:1.6em;line-height:100%;font-weight:bold}
.t12{font-family:Garamond,serif;font-size:1.4em;line-height:100%;font-weight:bold}
.t13{font-family:Garamond,serif;font-size:1.6em;line-height:130%;font-weight:bold;text-decoration:underline}
.t14{font-family:Garamond,serif;font-size:1.6em;line-height:130%;font-weight:bold;text-decoration:underline}
.t15{font-family:Garamond,serif;font-size:1.6em;line-height:100%;font-weight:bold;text-decoration:underline}
.t16{font-size:.82em;line-height:130%}
.t17{font-size:1.6em;line-height:130%}
.t18{font-size:1.3em;line-height:130%}
.t19{font-size:1.6em;line-height:130%;font-weight:bold;text-decoration:underline}
.t20{font-size:1.3em;line-height:130%;font-weight:bold;text-decoration:underline}
.t21{font-family:Garamond,serif;font-size:1.3em;line-height:130%;font-weight:bold;text-decoration:underline}
.t22{font-size:.91em;line-height:130%;font-weight:bold;font-style:italic}
.t23{font-family:Garamond,serif;font-size:1.6em;line-height:130%;font-weight:bold}
.th11{font-size:1.2em;line-height:130%}
.th13{font-size:.73em;line-height:130%}