@namespace h "http://www.w3.org/1999/xhtml";
body {
  display: block;
  margin: 0 auto;
  page-break-before: always;
  text-align: justify;
}

h1, h2, h3, h5, h6 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

h4{
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.75em;
  text-indent: 0.75em;
}

/*p {
  text-align: justify;   /* Satırı sığmak üzere yayar, sağdaki boşluk kapatılır */
/*  margin-top: 0;
  margin-bottom: 1.0em;
  text-indent: 1.0em;    /* Paragraf başı girintisi */
/*}*/

/*p {
  margin: 0.25em 0;
  padding: 0;
  line-height: 1.25em;
  text-align: justify;
  text-indent: 0.75em;
} */

p {
  margin: 0.75em 0;
  padding: 0;
  line-height: 1.25em;
  text-align: justify;
  text-indent: 0.0em;
} 

a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}

a[href] {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

a[href]:hover {
  color: red;
}

.center {
  text-align: center;
}

.cover {
  height: 100%;
}
