.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: 325px;
    vertical-align: baseline;
    width: 576px
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre7 {
    height: 66px;
    vertical-align: baseline;
    width: 171px
    }
.calibre8 {
    height: 66px;
    vertical-align: baseline;
    width: 222px
    }
.calibre9 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre10 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre11 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    font-size: smaller
    }
.calibre13 {
    font-size: 5pt
    }
.calibre14 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre15 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
