@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Goudy Cat";
	font-weight: normal;
	font-style: normal;
	src:url("font/GoudyCatTReg.ttf") format("truetype");
}

/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/


.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.75em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*titlepage*/

.title{
	text-align: center;
}

.aut{
	margin-top: 1.5em;
	font:normal normal 2.062em/1.2em "Goudy Cat";
	text-align: center;
}

.aut .bfl {
	font-size: 1.08em;
}

.work{
	font:normal normal 3em/1.1em "Goudy Cat";
	margin-top: .5em;
	
}


.seri{
	font-family: "Gill Sans";
	font-size: .92em;
	margin-top: 2em;
}

.reward {
	font-family: "Gill Sans";
	font-size: 1.04em;
	margin-top: 2.5em;
}


.logo{
	margin: 3em auto 0 auto;
}

/*works*/

.works p{
	margin-top: 4em;
	font-family: "Gill Sans";
	font-size: .83em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "Gill Sans";
	font-size: .83em;
	padding-bottom: .3em;
}

/*biography*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	line-height: 1.4em;
	text-indent: 0;
}

/*DEDICATION*/

.dedication .container {
	text-align: right;
	margin-top: 5em;
	font: normal normal .83em/1.3em "Berling"
}

/*CHAPTER*/

.container {
	margin-top: 5em;
}

.chapter h1 {
	font:normal normal 1.125em/1.3em "Berling";
	margin: 0 auto 1.2em;
	text-align: center;
	letter-spacing: .05em;
}

.epigraph {
	margin: 0 auto 1.2em;
	float: right;
	max-width: 16.5em;
}

#ep2 {
	max-width: 19em;
}

#ep6, #ep10 {
	max-width: none;
}

.epigraph span, .epigraph cite{
	display: block;
	font:normal normal .83em/1.3em "Berling";
	text-align: right;
}

.epigraph cite {
	margin-top: 1em;
}

.poem span {
	text-align: left!important;
} 

.epigraph + p {
	clear:both;
}

.chapter p {
	font:normal normal .875em/1.3em "Berling";
	margin: 0;
	text-indent: 2em;
}

.chapter .sign {
	margin: 1em 2.5em;
	border: 1px solid #000;
	page-break-inside: avoid;
	padding: .7em;
}

.sign span{
	display: block;
	font:normal normal .875em/1.3em "Gill Sans Light";
}


blockquote {
	margin: 0;
}

blockquote p {
	font-style: italic!important;
}

.chapter .margined {
	margin-top: 1em !important;
}

/*common*/
.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
  line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}