.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 0.75em
    }
.calibre3 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre6 {
    display: block
    }
.calibre7 {
    height: 1315px;
    vertical-align: baseline;
    width: 938px
    }
.calibre8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.calibre9 {
    font-size: 0.625em
    }
.calibre10 {
    color: #000
    }
.calibre11 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    margin: 0
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: 0.83333em
    }
.calibre14 {
    font-size: 1em
    }
.calibre15 {
    color: #00F
    }
.calibre16 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 1em;
    margin: 0
    }
.calibre17 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre18 {
    background-color: #FFF
    }
.calibre19 {
    height: 1235px;
    vertical-align: baseline;
    width: 891px
    }
.calibre20 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0 0 0 19pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
