.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic;
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre7 {
    font-variant: small-caps;
    font-weight: bold
    }
.calibre8 {
    display: block
    }
.calibre9 {
    font-size: 1em;
    font-style: italic;
    line-height: 1.2
    }
