.block_ {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_1 {
    display: block;
    font-size: 1.375em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_2 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_6 {
    display: block;
    font-style: italic;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_7 {
    display: block;
    font-style: italic;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_8 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_9 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_10 {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_11 {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_14 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_16 {
    display: block;
    font-size: 1.375em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_17 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_18 {
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_19 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_20 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_21 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_22 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_23 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_24 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_25 {
    display: block;
    font-family: serif;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0 5pt;
    padding: 0
    }
.block_26 {
    display: block;
    font-family: "Cambria", serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_27 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_28 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_29 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_30 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_31 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_32 {
    display: block;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_33 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_34 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_35 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: right;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_36 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_37 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_38 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_39 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_40 {
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_41 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_42 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    margin: 0;
    padding: 0
    }
.block_43 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_44 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0;
    padding: 0
    }
.block_45 {
    display: block;
    font-size: 1.25em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    text-transform: uppercase;
    margin: 6pt 0;
    padding: 0
    }
.block_46 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_47 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_48 {
    display: block;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    text-transform: uppercase;
    margin: 6pt 0;
    padding: 0
    }
.block_49 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_50 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_51 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_52 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_53 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_54 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.block_55 {
    display: block;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_56 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_57 {
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_58 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_59 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_60 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_61 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_62 {
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_63 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_64 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    margin: 6pt 0;
    padding: 0
    }
.block_65 {
    display: block;
    font-family: serif;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_66 {
    display: block;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_67 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_68 {
    display: block;
    font-style: italic;
    text-align: left;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_69 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_70 {
    display: block;
    font-style: italic;
    letter-spacing: 0;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_71 {
    display: block;
    font-size: 1.375em;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: right;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_72 {
    display: block;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_73 {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_74 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: left;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_75 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_76 {
    display: block;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_77 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: right;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_78 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_79 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_80 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_81 {
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_82 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_83 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_84 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_85 {
    display: block;
    letter-spacing: 0;
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_86 {
    display: block;
    font-weight: bold;
    text-align: left;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_87 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_88 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_89 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_90 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_91 {
    display: block;
    text-align: justify;
    text-indent: 72pt;
    margin: 0;
    padding: 0
    }
.block_92 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_93 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_94 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_95 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_96 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_97 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: right;
    text-indent: 8.5pt;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_98 {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_99 {
    display: block;
    font-size: 1.375em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_100 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 6pt 8.5pt;
    padding: 0
    }
.block_101 {
    display: block;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0;
    padding: 0
    }
.calibre {
    display: block;
    font-family: "Bookman Old Style", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 567pt;
    line-height: 1.2;
    width: 392pt
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    height: 13.2pt;
    width: 12pt
    }
.calibre5 {
    height: 10.6pt;
    width: 16.8pt
    }
.calibre6 {
    height: 8.8pt;
    width: 18.1pt
    }
.calibre7 {
    height: 11.8pt;
    width: 18.1pt
    }
.calibre8 {
    height: 13.8pt;
    width: 20.4pt
    }
.calibre9 {
    text-decoration: none
    }
.calibre10 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    height: 567pt;
    width: 391pt
    }
.calibre12 {
    display: block;
    line-height: 1.2
    }
.calibre13 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre14 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre15 {
    display: block
    }
.calibre16 {
    height: 567pt;
    width: 386pt
    }
.calibre17 {
    height: 567pt;
    width: 390pt
    }
.calibre18 {
    height: 567pt;
    line-height: 1.2;
    width: 407pt
    }
.calibre19 {
    height: 567pt;
    line-height: 1.2;
    width: 389pt
    }
.calibre20 {
    height: 567pt;
    line-height: 1.2;
    width: 414pt
    }
.calibre21 {
    height: 567pt;
    line-height: 1.2;
    width: 404pt
    }
.calibre22 {
    height: 567pt;
    line-height: 1.2;
    width: 396pt
    }
.calibre23 {
    height: 567pt;
    line-height: 1.2;
    width: 451pt
    }
.calibre24 {
    height: 567pt;
    line-height: 1.2;
    width: 425pt
    }
.calibre25 {
    display: block;
    line-height: 1.2
    }
.calibre26 {
    height: 567pt;
    line-height: 1.2;
    width: 376pt
    }
.calibre27 {
    height: 567pt;
    line-height: 1.2;
    width: 448pt
    }
.calibre28 {
    height: 567pt;
    line-height: 1.2;
    width: 441pt
    }
.calibre29 {
    height: 567pt;
    line-height: 1.2;
    width: 402pt
    }
.calibre30 {
    height: 567pt;
    line-height: 1.2;
    width: 418pt
    }
.calibre31 {
    height: 567pt;
    line-height: 1.2;
    width: 375pt
    }
.calibre32 {
    height: 567pt;
    line-height: 1.2;
    width: 403pt
    }
.calibre33 {
    height: 567pt;
    line-height: 1.2;
    width: 421pt
    }
.calibre34 {
    height: 567pt;
    line-height: 1.2;
    width: 463pt
    }
.calibre35 {
    height: 567pt;
    line-height: 1.2;
    width: 420pt
    }
.calibre36 {
    height: 567pt;
    line-height: 1.2;
    width: 363pt
    }
.calibre37 {
    height: 567pt;
    line-height: 1.2;
    width: 408pt
    }
.calibre38 {
    height: 567pt;
    line-height: 1.2;
    width: 497pt
    }
.calibre39 {
    height: 567pt;
    line-height: 1.2;
    width: 385pt
    }
.calibre40 {
    height: 567pt;
    line-height: 1.2;
    width: 423pt
    }
.calibre41 {
    height: 567pt;
    line-height: 1.2;
    width: 427pt
    }
.calibre42 {
    height: 567pt;
    line-height: 1.2;
    width: 409pt
    }
.calibre43 {
    height: 567pt;
    line-height: 1.2;
    width: 416pt
    }
.calibre44 {
    height: 567pt;
    line-height: 1.2;
    width: 412pt
    }
.calibre45 {
    height: 567pt;
    line-height: 1.2;
    width: 410pt
    }
.calibre46 {
    height: 567pt;
    line-height: 1.2;
    width: 406pt
    }
.calibre47 {
    height: 567pt;
    line-height: 1.2;
    width: 350pt
    }
.calibre48 {
    height: 567pt;
    line-height: 1.2;
    width: 431pt
    }
.calibre49 {
    height: 567pt;
    line-height: 1.2;
    width: 388pt
    }
.calibre50 {
    height: 567pt;
    line-height: 1.2;
    width: 405pt
    }
.calibre51 {
    height: 567pt;
    line-height: 1.2;
    width: 332pt
    }
.calibre52 {
    height: 567pt;
    line-height: 1.2;
    width: 401pt
    }
.calibre53 {
    height: 567pt;
    line-height: 1.2;
    width: 372pt
    }
.calibre54 {
    height: 567pt;
    line-height: 1.2;
    width: 398pt
    }
.calibre55 {
    height: 457pt;
    line-height: 1.2;
    width: 376pt
    }
.calibre56 {
    height: 567pt;
    line-height: 1.2;
    width: 437pt
    }
.calibre57 {
    height: 567pt;
    line-height: 1.2;
    width: 429pt
    }
.calibre58 {
    height: 567pt;
    line-height: 1.2;
    width: 452pt
    }
.calibre59 {
    height: 567pt;
    line-height: 1.2;
    width: 434pt
    }
.calibre60 {
    height: 567pt;
    line-height: 1.2;
    width: 450pt
    }
.calibre61 {
    height: 567pt;
    line-height: 1.2;
    width: 456pt
    }
.calibre62 {
    height: 567pt;
    line-height: 1.2;
    width: 446pt
    }
.calibre63 {
    height: 567pt;
    line-height: 1.2;
    width: 424pt
    }
.calibre64 {
    height: 567pt;
    line-height: 1.2;
    width: 438pt
    }
.calibre65 {
    height: 567pt;
    line-height: 1.2;
    width: 435pt
    }
.calibre66 {
    height: 567pt;
    width: 790pt
    }
.calibre67 {
    height: 230pt;
    width: 285pt
    }
.calibre68 {
    height: 177pt;
    width: 276pt
    }
.calibre69 {
    height: 91.4pt;
    width: 294pt
    }
.calibre70 {
    height: 246pt;
    width: 266pt
    }
.calibre71 {
    height: 217pt;
    width: 272pt
    }
.calibre72 {
    height: 136pt;
    width: 365pt
    }
.calibre73 {
    height: 567pt;
    width: 393pt
    }
.calibre74 {
    height: 567pt;
    width: 394pt
    }
.calibre75 {
    font-style: italic;
    line-height: 1.2
    }
.calibre76 {
    height: 548pt;
    line-height: 1.2;
    width: 378pt
    }
.calibre77 {
    height: 548pt;
    line-height: 1.2;
    width: 379pt
    }
.calibre78 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre79 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre80 {
    display: block;
    margin-left: 40px
    }
.calibre81 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.tab {
    white-space: pre-wrap
    }
.tab1 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.text_ {
    font-style: italic;
    font-weight: bold
    }
.text_1 {
    font-weight: bold;
    text-decoration: underline
    }
.text_2 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.text_3 {
    font-size: 1.14286em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_4 {
    font-size: 1.14286em;
    font-weight: bold;
    line-height: 1.2
    }
.text_5 {
    font-family: "Cambria", serif
    }
.text_6 {
    font-family: "Bookman Old Style", serif;
    text-decoration: underline
    }
.text_7 {
    font-family: "Bookman Old Style", serif;
    font-style: italic;
    text-decoration: underline
    }
.text_8 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: super
    }
.text_9 {
    font-size: 1.14286em;
    line-height: 1.2
    }
.text_10 {
    font-size: 1.14286em;
    font-style: italic;
    line-height: 1.2
    }
.text_11 {
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_12 {
    font-style: italic;
    letter-spacing: 0
    }
.text_13 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_14 {
    font-size: 1.14286em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_15 {
    font-size: 1.14286em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: super
    }
.text_16 {
    font-size: 1.42857em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_17 {
    letter-spacing: 0
    }
.text_18 {
    font-size: 1.14286em;
    line-height: 1.2;
    vertical-align: sub
    }
.text_19 {
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_20 {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0
    }
.text_21 {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: sub
    }
.text_22 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: super
    }
.text_23 {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: super
    }
.text_24 {
    font-family: "Bookman Old Style", serif
    }
.text_25 {
    font-family: "Times New Roman", serif
    }
.text_26 {
    font-family: "Bookman Old Style", serif;
    font-style: italic
    }
.text_27 {
    font-family: "Cambria Math", serif;
    font-style: italic
    }
.text_28 {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_29 {
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_30 {
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_31 {
    font-weight: bold;
    letter-spacing: 0
    }
.text_32 {
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_33 {
    font-size: 1.14286em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_34 {
    font-size: 1.42857em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_35 {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    vertical-align: sub
    }
.text_36 {
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_37 {
    font-size: 1.14286em;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_38 {
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_39 {
    font-size: 1.42857em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_40 {
    font-size: 1.57143em;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.2
    }
.text_41 {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    vertical-align: super
    }
.text_42 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_43 {
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.text_44 {
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2
    }
.text_45 {
    font-family: "Bookman Old Style", serif;
    font-size: 0.85714em
    }
.text_46 {
    font-family: "Bookman Old Style", serif;
    font-size: 0.85714em;
    font-style: italic
    }
.text_47 {
    font-family: "Bookman Old Style", serif;
    font-size: 0.85714em;
    text-decoration: underline
    }
.text_48 {
    font-family: "Bookman Old Style", serif;
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_49 {
    font-family: "Bookman Old Style", serif;
    font-size: 0.85714em;
    font-style: italic;
    font-weight: bold
    }
