body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:2em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Calibri,sans-serif;font-size:127%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0}
.p3{text-indent:0;margin-left:0;text-align:right}
.p4{text-indent:0;margin-left:2.5em}
.p5{text-indent:0;margin-left:0;text-align:center;margin-top:5em}
.p6{text-indent:0;margin-left:0;text-align:center;margin-bottom:8em}
.p7{text-indent:0;margin-left:0;text-align:center;margin-top:3em;margin-bottom:3em}
.p8{text-indent:0;margin-left:0;text-align:center;margin-top:9em}
.p9{text-indent:0;margin-left:0;text-align:center;margin-top:3em}
.p10{text-indent:0;margin-left:0;text-align:center;margin-bottom:3em}
.t0{font-size:1.3em}
.t2{font-size:1.7em}
.t3{font-family:"Monotype Corsiva",cursive;font-size:2.3em}
.t4{font-family:"Monotype Corsiva",cursive;font-size:1.7em}
.t5{font-family:"Monotype Corsiva",cursive;font-size:1.3em}
.t6{font-family:"Monotype Corsiva",cursive;font-size:1.6em}