body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.Temel-Paragraf {
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:45px;
}
p.Temel-Paragraf-SB {
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:30px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:45px;
}
p.Caslon-Temel-Paragraf {
	color:#000000;
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:75px;
}
p.Caslon-Temel-Paragraf-SB {
	color:#000000;
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:75px;
}
p.Dipnot {
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:10px;
}
p.Kesme {
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Kesme-ozel {
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:300px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Kunye {
	color:#000000;
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Kunye-ilk-satir {
	color:#000000;
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:20px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Baslik-Eser {
	color:#000000;
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:80px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Baslik-Yazar {
	color:#000000;
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:100px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Otuken-Baslik {
	color:#000000;
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:25px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Bolum {
	color:#000000;
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:100px;
	margin-left:0px;
	margin-right:0px;
	margin-top:300px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Ara-Bolum {
	color:#000000;
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:50px;
	margin-left:0px;
	margin-right:0px;
	margin-top:50px;
	text-align:justify;
	text-decoration:none;
	text-indent:100px;
}
p.logo {
	color:#000000;
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:275px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.Caslon-Normal {
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
span.Caslon-bold {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
}
span.Normal {
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
span.Dipnot {
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
span.dipnot-goster {
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	vertical-align:super;
}
span.Baslik-Otuken {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.Baslik-Yazar {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
}
span.Baslik-Eser {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
}
span.Kunye-Buyuk {
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.833em;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.Kunye-Normal {
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
span.Kitap-Bolum {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
}
span.Ara-Bolum {
	font-family:"Adobe Caslon Pro Bold", serif;
	font-size:1em;
	font-style:normal;
	font-weight:bold;
}
span.x-talik {
	font-family:"Adobe Garamond Pro", serif;
	font-size:0.917em;
	font-style:italic;
	font-weight:normal;
}
span.logo {
	font-family:"Adobe Caslon Pro", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
p.para-style-override-1 {
	font-family:"Adobe Caslon Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-1 {
	font-size:1em;
}
span.char-style-override-2 {
	font-size:0.909em;
}
span.char-style-override-3 {
	font-size:0.9em;
}
span.char-style-override-4 {
	font-size:1.111em;
}
img.frame-1 {
	height:107px;
	width:81px;
}
