.block {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 0 0 8pt
    }
.block1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.08;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 0 0 8pt
    }
.block2 {
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-right: 0;
    margin-top: 6pt;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0
    }
.block3 {
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-right: 0;
    margin-top: 6pt;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0
    }
.block4 {
    display: block;
    font-family: serif;
    font-size: 0.66667em;
    line-height: 1.2;
    margin-bottom: 6pt;
    margin-right: 0;
    margin-top: 6pt;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0
    }
.block5 {
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic;
    line-height: 1.2
    }
.calibre2 {
    font-size: 0.875em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2
    }
.calibre5 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre6 {
    display: block;
    line-height: 1.2;
    margin-left: 40px
    }
.calibre7 {
    display: block;
    line-height: 1.2;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 0.85714em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    line-height: 1.2;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
