.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 9pt
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre4 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre5 {
    color: #17365d
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 15pt 0 0
    }
.calibre7 {
    display: block
    }
.calibre8 {
    color: #4f81bd
    }
.calibre9 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre10 {
    color: #06c
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre13 {
    font-size: 20pt;
    line-height: 1.2
    }
.calibre14 {
    color: #0070c0
    }
.calibre15 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre16 {
    font-size: 17pt;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre18 {
    font-size: 13.5pt;
    line-height: 1.2
    }
.calibre19 {
    color: #365f91
    }
.calibre20 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre21 {
    font-size: smaller
    }
.calibre22 {
    font-size: 5pt
    }
.calibre23 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre24 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre25 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
