<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>F2350E658994807A01883A95DA761813</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>5DBC37D479F074570DFD4589EB744834</string>
		<key>publisher-unique-id</key>
		<string>24b8cbde-8a31-4542-a90f-cb332d7627ac</string>
		<key>unique-id</key>
		<integer>-5738886526227711918</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Miskinler Tekkesi</string>
	<key>playlistName</key>
	<string>Miskinler Tekkesi</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
</dict>
</plist>
