.MsoNormal {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-autospace: none;
    margin: 0
    }
.MsoNormal1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-autospace: none;
    text-indent: 1.5em;
    margin: 0
    }
.MsoNormal3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-autospace: none;
    text-indent: 1.5em;
    text-justify: inter-ideograph;
    margin: 0
    }
.Section {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: Section1;
    text-indent: 1.5em
    }
.Section1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: Section2;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold
    }
.calibre10 {
    font-family: "Calibri", "sans-serif";
    line-height: 1.2
    }
.calibre12 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-autospace: none;
    margin: 12pt 0 6pt
    }
.calibre15 {
    display: block
    }
.calibre2 {
    font-family: "Calibri", "sans-serif";
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre3 {
    font-family: "Calibri", "sans-serif";
    font-size: 2em;
    line-height: 1.2
    }
.calibre4 {
    font-family: "Calibri", "sans-serif"
    }
.calibre5 {
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em
    }
.calibre6 {
    color: gray;
    font-family: "Calibri", "sans-serif";
    font-size: 0.83333em
    }
.calibre7 {
    color: gray;
    font-family: "Calibri", "sans-serif"
    }
