@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/ACaslonPro-Bold.otf);
  }
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/ACaslonPro-Regular.otf);
  }
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: 600;
  src: url(../Fonts/ACaslonPro-Semibold.otf);
  }
@font-face {
  font-family: "Adobe Garamond Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/AGaramondPro-Bold.otf);
  }
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/AGaramondPro-Italic.otf);
  }
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: oblique;
  font-weight: normal;
  src: url(../Fonts/AGaramondPro-Italic.otf);
  }
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/AGaramondPro-Regular.otf);
  }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
  margin: 0;
  padding: 0;
  border-width: 0;
}
td, th {
  border-style: solid;
  border-width: 1px;
}
table {
  border-collapse: collapse;
}
li {
  display: block;
}
body {
  
  
}
@page {
  margin: 30px 30px 30px 30px;
  }
p.Temel-Paragraf {
 
  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 45px;
}
p.Orta-Normal {
 
  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
p.Kesme {
  
  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
}
p.Otuken-Baslik {

  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
}
p.Baslik-Yazar {
  
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1.333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
p.Baslik-Eser {
  
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1.333em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
}
p.Orta-Buyuk-Harf {

  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
}
p.Paragraf-Caslon {
  
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 45px;
}
p.Baslik-Eser-Alt {
  
  color: #000;
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
p.Siir {
 
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 0;
  text-align: justify;
  text-decoration: none;
  text-indent: 45px;
}
p.Bolum {
 
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
p.Sag-Yasla {
  
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  text-decoration: none;
  text-indent: 0;
}
p.Bolum-sag {
  
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  text-decoration: none;
  text-indent: 0;
}
span.Normal {
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
span.Otuken {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
span.Yazar {
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 1.333em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
span.Eser {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1.333em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
span.Kunye-Buyuk-Harf {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
span.Kunye-Normal-Metin {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
span.x-lk-Kelime {
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
}
span.Metin--ci--talik {
  font-family: "Adobe Garamond Pro", serif;
  font-size: 0.917em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
}
span.Normal-Caslon {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
span.Adanmis {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
span.Yildiz {
  font-family: "Adobe Garamond Pro Bold", serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
span.Baslik-Bold {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.917em;
  font-style: normal;
  font-weight: 600;
}
span.Bolum-Bold {
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
span.metin-ici-bold {
  font-family: "Adobe Garamond Pro Bold", serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: bold;
}
span.char-style-override-1 {
  font-size: 1em;
}
span.char-style-override-2 {
  font-size: 1.1em;
}
span.char-style-override-3 {
  font-size: 0.909em;
}
span.char-style-override-4 {
  font-size: 1.091em;
}
span.char-style-override-5 {
  color: #f00;
  font-size: 1em;
}
img.frame-1 {
  height: 160px;
  width: 121px;
}
