.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre10 {
    height: 117px;
    width: 191px
    }
.calibre11 {
    height: 233px;
    width: 229px
    }
.calibre12 {
    height: 343px;
    width: 223px
    }
.calibre13 {
    height: 313px;
    width: 230px
    }
.calibre14 {
    height: 296px;
    width: 229px
    }
.calibre15 {
    height: 365px;
    width: 208px
    }
.calibre16 {
    height: 290px;
    width: 230px
    }
.calibre17 {
    height: 318px;
    width: 185px
    }
.calibre18 {
    height: 200px;
    width: 400px
    }
.calibre19 {
    height: 314px;
    width: 204px
    }
.calibre2 {
    height: 30px;
    width: 68px
    }
.calibre20 {
    height: 312px;
    width: 229px
    }
.calibre21 {
    height: 325px;
    width: 208px
    }
.calibre22 {
    height: 299px;
    width: 229px
    }
.calibre23 {
    height: 326px;
    width: 229px
    }
.calibre24 {
    height: 214px;
    width: 229px
    }
.calibre25 {
    height: 290px;
    width: 176px
    }
.calibre26 {
    height: 337px;
    width: 230px
    }
.calibre27 {
    height: 261px;
    width: 229px
    }
.calibre28 {
    height: 289px;
    width: 229px
    }
.calibre29 {
    height: 309px;
    width: 229px
    }
.calibre3 {
    height: 50px;
    width: 50px
    }
.calibre30 {
    height: 322px;
    width: 229px
    }
.calibre31 {
    height: 278px;
    width: 230px
    }
.calibre32 {
    height: 365px;
    width: 180px
    }
.calibre33 {
    height: 317px;
    width: 229px
    }
.calibre34 {
    height: 360px;
    width: 217px
    }
.calibre35 {
    height: 292px;
    width: 229px
    }
.calibre36 {
    height: 186px;
    width: 229px
    }
.calibre37 {
    height: 217px;
    width: 400px
    }
.calibre38 {
    height: 341px;
    width: 206px
    }
.calibre39 {
    height: 224px;
    width: 229px
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre40 {
    height: 232px;
    width: 162px
    }
.calibre41 {
    height: 315px;
    width: 221px
    }
.calibre42 {
    height: 216px;
    width: 400px
    }
.calibre43 {
    height: 273px;
    width: 229px
    }
.calibre44 {
    height: 353px;
    width: 230px
    }
.calibre45 {
    height: 262px;
    width: 227px
    }
.calibre46 {
    height: 314px;
    width: 229px
    }
.calibre47 {
    height: 329px;
    width: 229px
    }
.calibre48 {
    height: 262px;
    width: 229px
    }
.calibre49 {
    height: 295px;
    width: 229px
    }
.calibre5 {
    height: 365px;
    width: 229px
    }
.calibre50 {
    height: 310px;
    width: 229px
    }
.calibre51 {
    height: 328px;
    width: 224px
    }
.calibre52 {
    height: 272px;
    width: 229px
    }
.calibre53 {
    height: 275px;
    width: 229px
    }
.calibre54 {
    height: 308px;
    width: 229px
    }
.calibre55 {
    height: 304px;
    width: 227px
    }
.calibre56 {
    height: 352px;
    width: 227px
    }
.calibre57 {
    height: 137px;
    width: 115px
    }
.calibre58 {
    height: 339px;
    width: 229px
    }
.calibre59 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre6 {
    height: 284px;
    width: 229px
    }
.calibre60 {
    display: table-row;
    vertical-align: inherit
    }
.calibre61 {
    background-color: #eee;
    border: 1px solid #fff;
    display: table-cell;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    text-align: left;
    vertical-align: inherit
    }
.calibre62 {
    height: 403px;
    width: 285px
    }
.calibre63 {
    height: 90%;
    width: auto
    }
.calibre7 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre8 {
    height: 350px;
    width: 229px
    }
.calibre9 {
    height: 340px;
    width: 230px
    }
.chapter {
    display: block
    }
.generictable {
    border: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.idebold {
    font-weight: bold
    }
.idebold1 {
    font-weight: bold;
    line-height: 1.2
    }
.idebolditalik {
    font-style: italic;
    font-weight: bold
    }
.ideitalik {
    font-style: italic
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0.75em
    }
.kitapickapak {
    display: block;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kitapickapak1 {
    display: block;
    font-size: 1.3em;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kitapickapak2 {
    display: block;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.normal {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0.75em
    }
.normal2 {
    display: block;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0.75em
    }
.ortayazi {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.sagitalik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.sagnormal {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
                    
                    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
 
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
 
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
 
}

@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
 

}

@font-face {
font-style: normal;
font-family: 'Arial', sans-serif;
font-weight: normal;
 

}

@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: normal;
 

}

@font-face {

font-style: normal;
font-family: 'Arial',sans-serif;
font-weight: bold;
 

}


@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: bold;

}