p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{line-height:100%;text-align:center;margin-bottom:0}
.p1{line-height:115%;text-align:center;margin-bottom:1em}
.p2{line-height:115%;text-align:left;margin-bottom:1em}
.p4{text-align:right}
.p5{text-indent:-1.8em;margin-left:3.6em;line-height:115%}
.p6{margin-bottom:0}
.p7{text-align:center}
.p8{text-align:center;margin-bottom:0}
.p9{line-height:100%;text-align:left;margin-bottom:0}
.p10{text-indent:3.5em;margin-left:0;margin-bottom:0}
.p11{text-indent:3.5em;margin-left:0}
.p12{text-align:right;margin-bottom:0}
.p13{text-indent:-.99em;margin-left:.99em;line-height:100%;margin-bottom:.2em}
.p14{margin-left:.99em;line-height:100%;margin-bottom:.2em}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.86em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
h2{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;margin-top:2.5em;margin-bottom:9em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
h3{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:1.8em;margin-bottom:1.2em;font-family:Cambria,serif;font-size:91%;font-weight:bold}
.t0{font-family:Arial,sans-serif;font-size:1.1em;line-height:100%}
.t1{font-size:2.8em;line-height:115%}
.t2{font-size:4.8em;line-height:100%}
.t3{font-size:2.2em;line-height:100%}
.t4{font-size:3.6em;line-height:100%;font-weight:bold}
.t7{letter-spacing:-.01em}
.t8{letter-spacing:-.02em}
.t9{font-style:italic}
.t10{font-size:.65em;line-height:120%;vertical-align:super}
.t12{font-family:"Times New Roman",serif}
.t13{font-size:.65em;line-height:120%;font-style:italic;vertical-align:super}
.t14{font-style:italic}
.t15{text-decoration:underline}
.t16{font-size:.52em;line-height:100%;vertical-align:super}
.t17{font-size:.8em;line-height:100%}
.t18{font-size:.8em;line-height:100%;font-style:italic}
.th21{font-style:italic}