.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    height: 60pt;
    width: 357pt
    }
.calibre11 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    height: 57pt;
    width: 37pt
    }
.calibre14 {
    height: 112pt;
    width: 127pt
    }
.calibre15 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: justify
    }
.calibre16 {
    font-style: italic;
    font-weight: bold
    }
.calibre17 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre18 {
    font-style: italic;
    line-height: 1.2
    }
.calibre19 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    text-align: center
    }
.calibre20 {
    line-height: 1.2
    }
.calibre21 {
    text-decoration: underline
    }
.calibre3 {
    height: 594pt;
    width: 419pt
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    height: 595pt;
    width: 421pt
    }
.sigilnotintoc {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.sigilnotintoc1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
