p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.61em;font-family:"Times New Roman",serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:left}
.p2{text-indent:0;text-align:left;margin-bottom:0}
.p3{text-indent:0;text-align:left;margin-bottom:3.1em}
.p4{text-indent:0;text-align:left;margin-bottom:.65em}
.p5{text-indent:0;text-align:left;margin-top:2em;margin-bottom:1em}
.p6{text-indent:0;text-align:left;margin-bottom:6.1em}
.p7{text-indent:0;text-align:left;margin-bottom:.2em}
.p8{text-indent:0;text-align:left;margin-bottom:4em}
.p9{text-indent:0;text-align:center;margin-top:4.1em;margin-bottom:2em}
.p10{text-indent:0;text-align:center;margin-bottom:18em}
.p11{text-indent:0;text-align:right;margin-top:12em;margin-bottom:0}
.p12{text-indent:0;text-align:left;margin-top:4.1em;margin-bottom:2em}
.p14{text-indent:0;margin-top:16em;margin-bottom:1em}
.p15{text-indent:0;text-align:right;margin-bottom:0}
.p16{text-indent:0;text-align:center;margin-bottom:2em}
.p17{text-indent:0;page-break-after:avoid}
.p18{text-indent:0;margin-bottom:2em}
.p19{text-indent:-2.1em;margin-left:2.1em;text-align:center;margin-bottom:1em}
.p20{text-indent:0;text-align:center;margin-top:4.1em;margin-bottom:.2em}
.p21{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:2em}
.p22{text-indent:0;margin-left:2em;margin-right:2em;page-break-after:avoid;margin-bottom:2em}
.p23{text-indent:0;page-break-after:avoid;margin-bottom:2em}
.p24{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:.2em}
.p25{text-indent:0;margin-bottom:1.6em}
.p26{text-indent:0;text-align:center;margin-bottom:.2em}
.p27{text-indent:0;widows:2;orphans:2}
.p28{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:0}
.p29{text-indent:0;margin-left:2em;margin-right:2em;text-align:right}
.p30{text-indent:0;margin-left:2em;margin-right:2em;text-align:right;margin-bottom:2em}
.p31{text-indent:0;margin-left:2em;margin-right:2em;text-align:right;margin-bottom:1em}
.p32{text-indent:0;text-align:center}
.p33{text-indent:0;margin-left:1em;margin-right:1em;page-break-after:avoid;margin-bottom:2em}
.p34{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:1em}
.p35{text-indent:0;margin-left:3.6em;margin-right:2em;page-break-after:avoid;margin-bottom:.2em}
.p36{text-indent:0;margin-left:3.6em;margin-right:2em;margin-bottom:.2em}
.p37{text-indent:0;margin-left:3.6em;margin-right:2em;margin-bottom:2em}
.p38{text-indent:0;margin-left:2em;margin-right:2em}
.p39{text-indent:0;margin-left:1.2em;margin-right:1.2em;margin-bottom:.2em}
.p40{text-indent:0;margin-left:1.2em;margin-right:1.2em;margin-bottom:2em}
.p41{text-indent:0;margin-left:2em;margin-right:2em;page-break-after:avoid;margin-bottom:.2em}
.p42{text-indent:0;margin-left:.51em;page-break-after:avoid;margin-bottom:.2em}
.p43{text-indent:0;margin-left:.51em;margin-bottom:.2em}
.p44{text-indent:0;margin-left:.51em;margin-bottom:2em}
.p45{text-indent:0;margin-left:2em;margin-right:2em;page-break-after:avoid}
.p46{text-indent:0;margin-left:4.1em;margin-right:2em;margin-bottom:.2em}
.p47{text-indent:0;margin-left:4.1em;margin-right:2em;margin-bottom:2em}
.p48{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;page-break-after:avoid;margin-bottom:.2em}
.p49{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;margin-bottom:.2em}
.p50{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;margin-bottom:2em}
.p51{text-indent:0;text-align:left;margin-bottom:2em}
.p52{text-indent:0;margin-left:.4em;margin-right:.4em;text-align:left;margin-bottom:.2em}
.p53{text-indent:0;margin-left:.4em;margin-right:.4em;text-align:left;margin-bottom:2em}
.p54{text-indent:0;margin-left:.81em;margin-right:.81em;text-align:left}
.p55{text-indent:0;margin-left:.81em;margin-right:.81em;text-align:left;margin-bottom:2em}
.p56{text-indent:0;margin-left:2em;margin-right:2em;text-align:left;margin-bottom:.2em}
.p57{text-indent:0;margin-left:2em;margin-right:2em;text-align:left;margin-bottom:2em}
.p58{text-indent:0;margin-left:1em;margin-right:1em;margin-bottom:.2em}
.p59{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;margin-bottom:1em}
.p60{text-indent:0;text-align:center;page-break-after:avoid;margin-top:1.6em;margin-bottom:.4em}
.p61{text-indent:0;margin-right:.61em;text-align:right;margin-bottom:.4em}
.p62{text-indent:0;margin-left:.61em;text-align:left;margin-bottom:.4em}
.p63{text-indent:0;margin-right:.61em;text-align:right;margin-bottom:0}
.p64{text-indent:0;margin-left:.61em;text-align:left;margin-bottom:0}
.p65{text-indent:0;margin-left:1.2em;margin-right:1.2em;text-align:left;page-break-after:avoid;margin-bottom:.2em}
.p66{text-indent:0;margin-left:1.2em;margin-right:1.2em;text-align:left;margin-bottom:.2em}
.p67{text-indent:0;margin-left:1.2em;margin-right:1.2em;text-align:left;margin-bottom:0}
.p68{text-indent:0;margin-left:1.2em;margin-right:1.2em;text-align:right;margin-bottom:.2em}
.p69{text-indent:0;margin-left:1.2em;margin-right:1.2em;text-align:left;margin-bottom:2em}
.p70{text-indent:0;margin-left:2em;margin-right:2em;text-align:left;page-break-after:avoid;margin-bottom:.2em}
.p71{text-indent:0;margin-left:2em;margin-right:2em;text-align:left;page-break-after:avoid;margin-bottom:0}
.p72{text-indent:0;margin-left:2em;margin-right:2em;text-align:right;page-break-after:avoid;margin-bottom:.2em}
.p73{text-indent:0;text-align:center;margin-bottom:1.6em}
.p74{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:2em}
.p75{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:0}
.p76{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:1em}
.p77{text-indent:0;widows:2;orphans:2;margin-bottom:2em}
.p78{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:1.6em}
.p79{text-indent:0;margin-left:2em;margin-right:2em;widows:2;orphans:2}
.p80{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;page-break-after:avoid;margin-bottom:0}
.p81{text-indent:0;margin-left:1em;margin-right:1em;text-align:right;page-break-after:avoid;margin-bottom:.2em}
.p82{text-indent:0;margin-left:1em;margin-right:1em;text-align:left;page-break-after:avoid;margin-bottom:1em}
.p83{text-indent:0;margin-left:1em;margin-right:1em;text-align:right;page-break-after:avoid}
.p84{text-indent:0;margin-left:1em;margin-right:1em;text-align:right}
.p85{text-indent:-1.2em;margin-left:1.2em;margin-bottom:.2em}
.p86{text-indent:-1.2em;margin-left:1.2em;text-align:left;margin-bottom:.2em}
.p87{text-indent:-2em;margin-left:2em;margin-bottom:.2em}
.p88{text-indent:0}
.t1{font-size:.86em;line-height:100%}
.t3{font-weight:bold}
.t4{font-size:2.1em;line-height:100%;font-weight:bold}
.t5{font-size:1.1em;line-height:100%;font-weight:bold}
.t6{font-style:italic}
.t7{font-weight:bold;font-style:italic}
.t8{font-size:1.1em;line-height:100%;font-style:italic}
.t9{font-size:.86em;line-height:100%;font-weight:bold;font-style:italic}
.t10{font-size:1.1em;line-height:100%;font-weight:bold;font-style:italic}
.t11{font-size:.86em;line-height:100%;font-weight:bold}
.t12{font-size:1.2em;line-height:100%;font-weight:bold}
.t13{font-size:.65em;line-height:100%;font-style:italic;vertical-align:super}
.t14{font-size:.65em;line-height:100%;vertical-align:super}
.t15{font-size:1.1em;line-height:100%}
.t16{font-family:"Times New Roman",serif;font-size:.71em;line-height:100%}
.t17{font-family:"Times New Roman",serif}
.t18{font-size:.56em;line-height:100%;font-style:italic;vertical-align:super}
.t19{font-size:.86em;line-height:100%;font-style:italic}
.t20{font-size:.56em;line-height:100%;vertical-align:super}


h3{text-indent:0;margin-left:0;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:.61em;font-family:"Times New Roman",serif}

table{text-indent:0;text-align:left;widows:1;orphans:1;font-family:"Times New Roman",serif}
table, tr, td{
  border: 0px solid black;
  border-collapse: collapse;
}

a{color:#000000}
a:link {text-decoration: none; color:#000000}
a:visited {text-decoration: none; color:#000000}
a:hover {text-decoration: underline; color:#000000}
a:active {text-decoration: underline; color:#000000}


/* Times New Roman --> DejaVu */
@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  normal;
    src: url('../Fonts/DejaVuSerif.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  italic;
    src: url('../Fonts/DejaVuSerif-Italic.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  oblique;
    src: url('../Fonts/DejaVuSerif-Italic.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  normal;
    src: url('../Fonts/DejaVuSerif-Bold.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  italic;
    src: url('../Fonts/DejaVuSerif-BoldItalic.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  oblique;
    src: url('../Fonts/DejaVuSerif-BoldItalic.ttf');
}
